<template>
  <v-card flat>
    <tool-bar titulo="Configurações">
      <v-spacer></v-spacer>
      <v-btn icon @click.native="saveUsuarioConfig(configPessoal)">
        <v-icon>mdi-content-save</v-icon>
      </v-btn>
    </tool-bar>
    <v-container fluid grid-list-lg>
      <v-card flat>
        <v-tabs v-model="active" touchless show-arrows fixed-tabs>
          <v-tab ripple>Globais</v-tab>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <v-layout row>
                  <v-flex sm1>
                    <v-text-field
                      label="Decimal"
                      v-model="money.decimal"
                    ></v-text-field>
                  </v-flex>
                  <v-flex sm1>
                    <v-text-field
                      label="Milhares"
                      v-model="money.thousands"
                    ></v-text-field>
                  </v-flex>
                  <v-flex sm1>
                    <v-text-field
                      label="Prefixo"
                      v-model="money.prefix"
                    ></v-text-field>
                  </v-flex>
                  <v-flex sm1>
                    <v-text-field
                      label="Sufixo"
                      v-model="money.suffix"
                    ></v-text-field>
                  </v-flex>
                  <v-flex sm1>
                    <v-text-field
                      label="Precisão"
                      v-model="money.precision"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-card>
    </v-container>
  </v-card>
</template>

<script>
import ToolBar from "../shared/ToolBar";

export default {
  data() {
    return {
      theme: [],
      money: [],
      active: null,
      errors: [],
    };
  },
  components: {
    ToolBar,
  },
};
</script>
