<template>
  <v-card
    flat
    v-touch="{
      up: () => {
        fabVisivel = false;
      },
      down: () => {
        fabVisivel = true;
      },
    }"
  >
    <tool-bar v-model="pagination.search" busca titulo="Perfis" />
    <v-card flat>
      <v-data-table
        :items="perfils.data"
        :headers="thead"
        @click:row="ToEdit"
        disable-sort
        hide-default-footer
        disable-pagination
      >
      </v-data-table>
    </v-card>

    <v-btn
      text
      block
      :loading="loading"
      v-intersect="infiniteScrolling"
      @click="infiniteScrolling"
      v-if="perfils.lastpage > pagination.page"
      >mais</v-btn
    >

    <v-fab-transition>
      <v-btn
        fab
        bottom
        right
        fixed
        dark
        color="primary"
        v-if="fabVisivel"
        to="/perfis/create"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-fab-transition>

    <confirme-dialog ref="confirm"></confirme-dialog>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../shared/ToolBar";
import ConfirmeDialog from "../shared/ConfirmeDialog";

export default {
  name: "Perfil",
  data() {
    return {
      thead: [
        { text: "ID", value: "id" },
        { text: "Descrição", value: "descricao" },
        { text: "Criado em", value: "created_at" },
        { text: "Atualizado em", value: "updated_at" },
        { value: "acao", sortable: false },
      ],
      fabVisivel: true,
      pagination: {},
      errors: [],
    };
  },

  components: {
    ToolBar,
    ConfirmeDialog,
  },
  watch: {
    "pagination.search"() {
      clearTimeout(this.searchTimeout);
      this.searchTimeout = setTimeout(async () => {
        this.filtro(true);
      }, 500);
    },
  },
  mounted() {
    if (localStorage[this.$options.name]) {
      this.pagination = JSON.parse(localStorage[this.$options.name]);
    } else {
      this.filtro(true);
    }
  },
  computed: mapGetters({
    perfils: "GetPerfils",
    loading: "GetLoadingStatus",
  }),
  methods: {
    ...mapActions(["getPerfils", "deletePerfil"]),

    filtro(limpa) {
      this.pagination.page = limpa ? 1 : (this.pagination.page += 1);
      localStorage[this.$options.name] = JSON.stringify(this.pagination);
      this.getPerfils(this.pagination);
    },

    infiniteScrolling(entries) {
      if (entries[0] == undefined || entries[0].isIntersecting) {
        this.filtro(false);
      }
    },

    ToEdit(perfil) {
      this.$router.push(`/perfis/${perfil.id}`);
    },
  },
};
</script>
