<template>
  <v-card flat>
    <tool-bar titulo="Perfil">
      <v-btn icon class="mx-0" v-if="id != null" @click="deleteItem(id)">
        <v-icon>mdi-delete-outline</v-icon>
      </v-btn>
      <v-btn
        icon
        v-if="perfil.acoes_perfis.length"
        @click.native="perfil.acoes_perfis = []"
      >
        <v-icon>mdi-notification-clear-all</v-icon>
      </v-btn>
      <v-btn icon @click.native="all()">
        <v-icon>mdi-arrow-expand-vertical</v-icon>
      </v-btn>
      <v-btn icon @click.native="panels = []">
        <v-icon>mdi-arrow-collapse-vertical</v-icon>
      </v-btn>
      <v-btn icon @click.native="save()" v-if="perfil.acoes_perfis.length">
        <v-icon>mdi-content-save</v-icon>
      </v-btn>
    </tool-bar>
    <v-card flat>
      <v-layout wrap>
        <v-flex sm12>
          <v-text-field
            label="Descrição"
            v-model="perfil.descricao"
            required
            :error-messages="errors.descricao"
            hint="Dê um nome para essa categoria de usuário"
          ></v-text-field>
        </v-flex>
        <v-flex sm12>
          <v-expansion-panels v-model="panels" multiple focusable>
            <v-expansion-panel
              v-for="(grupo, titulo) in GrupoAcoes"
              :key="titulo"
            >
              <v-expansion-panel-header
                ><span>
                  {{ titulo }}
                </span>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-layout wrap>
                  <v-flex sm3 v-for="(acao, i) in grupo" :key="i">
                    <v-switch
                      v-model="perfil.acoes_perfis"
                      inset
                      :id="acao.metodo"
                      :label="acao.nome"
                      :value="acao.acao_id"
                      @change="avaliaMetodo(acao)"
                    ></v-switch>
                  </v-flex>
                </v-layout>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-flex>
      </v-layout>
    </v-card>
  </v-card>
</template>

<script>
import ToolBar from "../shared/ToolBar";
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      id: this.$route.params.id,
      panels: [],
      inpitRules: [
        (v) =>
          (v && v.length >= 1) ||
          "É preciso ter pelo menos uma ação para o perfil",
      ],
      errors: [],
      AcaoPerfil: [],
    };
  },
  components: {
    ToolBar,
  },
  computed: {
    ...mapGetters({
      perfil: "GetPerfil",
      GrupoAcoes: "grupoAcoes",
    }),
  },
  async created() {
    await this.getAcoes();
    // espande todos os paineis
    this.all();
    if (this.id) {
      await this.getPerfil(this.id);
    } else {
      this.cleanPerfil();
    }
  },
  methods: {
    ...mapActions(["getPerfil", "savePerfil", "cleanPerfil", "getAcoes"]),

    async save() {
      await this.savePerfil(this.perfil).then((response) => {
        this.errors = response.body.errors ? response.body.errors : [];
        if (response.body.success) {
          this.$router.push("/perfis");
        }
      });
    },

    delete() {
      this.$refs.confirm
        .open("Apagar", `Deseja apagar ${this.perfil.descricao}?`)
        .then((confirm) => {
          if (confirm) {
            this.deletePerfil(this.id).then((response) => {
              this.errors = response.body.errors ? response.body.errors : [];
              if (response.body.success) {
                this.$router.push("/perfis");
              }
            });
          }
        });
    },
    all() {
      this.panels = [...Object.keys(this.GrupoAcoes)].map((k, i) => i);
    },
    avaliaMetodo(acao) {
      let acao_id_admin = parseInt(document.getElementById("*").value);
      if (acao.metodo == "*") {
        if (this.perfil.acoes_perfis.length > 0) {
          this.AcaoPerfil = this.perfil.acoes_perfis;
        }
        this.perfil.acoes_perfis = [acao_id_admin];
      } else {
        var ExisteAdmin = this.perfil.acoes_perfis.indexOf(acao_id_admin);
        if (ExisteAdmin !== -1) {
          this.perfil.acoes_perfis = this.AcaoPerfil;
          this.perfil.acoes_perfis.push(acao.acao_id);
          var perfilIndex = this.perfil.acoes_perfis.indexOf(acao_id_admin);
          if (perfilIndex !== -1) {
            this.perfil.acoes_perfis.splice(perfilIndex, 1);
          }
        }
      }
    },
  },
};
</script>
