<template>
  <v-card
    flat
    v-touch="{
      up: () => {
        fabVisivel = false;
      },
      down: () => {
        fabVisivel = true;
      },
    }"
  >
    <tool-bar v-model="pagination.search" busca titulo="Avarias" />
    <v-card flat>
      <v-data-table
        :items="avarias.data"
        :headers="thead"
        @click:row="AvariaForm"
        disable-sort
        hide-default-footer
        disable-pagination
      >
        <template v-slot:item.quant="{ item }">
          {{ item.quant | float }}
        </template>
        <template v-slot:item.descricao="{ item }">
          <b>{{ item.descricao }} {{ item.marca }}</b>
          <span v-if="item.variante">( {{ item.variante }} )</span>
        </template>
      </v-data-table>
    </v-card>

    <v-btn
      text
      block
      :loading="loading"
      v-intersect="infiniteScrolling"
      @click="infiniteScrolling"
      v-if="avarias.lastpage > pagination.page"
      >mais</v-btn
    >

    <v-fab-transition>
      <v-btn
        fab
        bottom
        right
        fixed
        dark
        color="primary"
        v-if="fabVisivel"
        to="/avarias/create"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-fab-transition>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../shared/ToolBar";

export default {
  name: "Avarias",
  data() {
    return {
      thead: [
        { text: "ID", value: "id" },
        { text: "Código", value: "codigo" },
        { text: "Produto", value: "descricao" },
        { text: "Quantidade", value: "quant" },
        { text: "Descrição do problema", value: "motivo", sortable: false },
        { text: "Relatado por", value: "usuario", sortable: false },
      ],
      fabVisivel: true,
      pagination: {},
      errors: [],
    };
  },
  components: {
    ToolBar,
  },
  watch: {
    "pagination.search"() {
      clearTimeout(this.searchTimeout);
      this.searchTimeout = setTimeout(async () => {
        this.filtro(true);
      }, 500);
    },
  },
  mounted() {
    if (localStorage[this.$options.name]) {
      this.pagination = JSON.parse(localStorage[this.$options.name]);
    } else {
      this.filtro(true);
    }
  },
  computed: mapGetters({
    avarias: "GetAvarias",
    loading: "GetLoadingStatus",
  }),
  methods: {
    ...mapActions(["getAvarias"]),

    AvariaForm(item) {
      this.$router.push(`/avarias/${item.id}`);
    },

    filtro(limpa) {
      this.pagination.page = limpa ? 1 : (this.pagination.page += 1);
      localStorage[this.$options.name] = JSON.stringify(this.pagination);
      this.getAvarias(this.pagination);
    },

    infiniteScrolling(entries) {
      if (entries[0] == undefined || entries[0].isIntersecting) {
        this.filtro(false);
      }
    },
  },
};
</script>
