<template>
  <v-card flat>
    <tool-bar :titulo="formTitle">
      <v-btn icon class="mx-0" @click="deleteItem(avaria)">
        <v-icon>mdi-delete-outline</v-icon>
      </v-btn>
      <v-btn icon @click.native="save">
        <v-icon>mdi-content-save</v-icon>
      </v-btn>
    </tool-bar>
    <v-card-text>
      <v-container grid-list-md>
        <v-layout wrap>
          <v-flex sm10 v-if="!id">
            <produto-search @selected="select" />
          </v-flex>
          <v-flex sm10 v-else>
            <br />
            {{ avaria.descricao }} {{ avaria.marca }} ({{ avaria.variante }})
          </v-flex>
          <v-flex sm2>
            <v-text-field
              label="Quantidade"
              v-model="avaria.quant"
            ></v-text-field>
          </v-flex>
          <v-flex sm12>
            <v-text-field
              label="Descrição do problema"
              v-model="avaria.motivo"
              :error-messages="errors.motivo"
            ></v-text-field>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
    <confirme-dialog ref="confirm"></confirme-dialog>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../shared/ToolBar";
import ProdutoSearch from "../produto/ProdutoSearch";
import ConfirmeDialog from "../shared/ConfirmeDialog";

export default {
  data() {
    return {
      id: this.$route.params.id,
      formTitle: null,
      errors: [],
    };
  },
  components: {
    ToolBar,
    ProdutoSearch,
    ConfirmeDialog,
  },
  async created() {
    this.cleanAvaria();

    if (this.id) {
      this.formTitle = "Editando avaria";
      await this.getAvaria(this.id);
    } else {
      this.formTitle = "Nova avaria";
    }
  },
  computed: mapGetters({
    avaria: "GetAvaria",
  }),
  methods: {
    ...mapActions([
      "getAvaria",
      "saveAvaria",
      "cleanAvaria",
      "deleteAvaria",
      
    ]),
    select(estoque) {
      this.avaria.estoque_id = estoque.id;
    },
    async save() {
      await this.saveAvaria(this.avaria).then((response) => {
        this.errors = response.body.errors ? response.body.errors : [];
        if (response.body.success) {
          this.dialog = false;
          this.$router.push("/avarias");
        }
      });
    },
    deleteItem(item) {
      let mensagem =
        `Deseja apagar a avaria de número ${item.id} referente ao item ${item.descricao}? ` +
        `Obs.: O mesmo voltará para o estoque.`;
      this.$refs.confirm.open("Apagar", mensagem).then((confirm) => {
        if (confirm) {
          this.deleteAvaria(item.id).then((response) => {
            this.errors = response.body.errors ? response.body.errors : [];
            if (response.body.success) {
              this.$router.push("/avarias");
            }
          });
        }
      });
    },
  },
};
</script>
