<template>
  <v-dialog
    v-model="dialog"
    persistent
    max-width="500px"
    :fullscreen="$vuetify.breakpoint.xsOnly"
  >
    <v-card flat>
      <v-app-bar dense flat>
        <v-toolbar-title>{{ formTitle }}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon @click.native="save">
          <v-icon>mdi-content-save</v-icon>
        </v-btn>

        <v-btn icon @click.native="dialog = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-app-bar>
      <v-card-text>
        <v-form @keyup.enter.native="save">
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex sm6>
                <v-autocomplete
                  label="Estado"
                  v-model="cidade.estado_id"
                  :error-messages="errors.estado_id"
                  item-text="nome"
                  item-value="id"
                  :items="estados"
                  required
                ></v-autocomplete>
              </v-flex>
              <v-flex sm6>
                <v-text-field
                  label="Cidade"
                  v-model="cidade.nome"
                  required
                  :error-messages="errors.nome"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      dialog: false,
      resolve: null,
      formTitle: null,
      errors: [],
    };
  },
  computed: mapGetters({
    estados: "ListEstado",
    cidade: "GetCidade",
  }),
  methods: {
    ...mapActions(["getCidade", "saveCidade", "cleanCidade", "listCidade"]),
    async save() {
      await this.saveCidade(this.cidade).then((response) => {
        this.errors = response.body.errors ? response.body.errors : [];
        if (response.body.success) {
          this.dialog = false;
          this.resolve(response.body);
        }
      });
    },

    open(id, estado_id) {
      // reset os dados do data
      Object.assign(this.$data, this.$options.data.call(this));

      this.dialog = true;
      this.formTitle = "Nova cidade";

      this.cleanCidade();

      if (id) {
        this.getCidade(id);
        this.formTitle = "Editando cidade";
      }

      if (estado_id) {
        this.cidade.estado_id = estado_id;
      }

      return new Promise((resolve, reject) => {
        this.resolve = resolve;
      });
    },
  },
};
</script>
