<template>
  <v-dialog v-model="dialog" scrollable persistent max-width="500px">
    <v-card flat>
      <v-app-bar dense flat>
        <v-toolbar-title
          >{{ formapg.descricao }} / {{ formapg.custo }}%</v-toolbar-title
        >
        <v-spacer></v-spacer>
        <v-btn icon @click.native="dialog = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-app-bar>
      <v-card-text>
        <v-data-table
          :items="parcelas"
          hide-default-footer
          :headers="thead"
          disable-sort
        >
          <template v-slot:body="{ items }">
            <tbody>
              <tr v-for="item in items" :key="item.id">
                <td>{{ item.nparcela }}</td>
                <td>{{ item.juros }}%</td>
                <td class="justify-center px-0">
                  <v-btn icon class="mx-0" @click="edit(item.id)">
                    <v-icon>mdi-pencil-outline</v-icon>
                  </v-btn>
                  <v-btn icon class="mx-0" @click="deleteItem(item)">
                    <v-icon color="pink">mdi-delete-outline</v-icon>
                  </v-btn>
                </td>
              </tr>
            </tbody>
          </template>
        </v-data-table>
        <v-container grid-list-md>
          <v-form @keyup.enter.native="save">
            <v-layout wrap>
              <v-flex sm5>
                <v-text-field
                  label="Nº de parcelas"
                  v-model="parcela.nparcela"
                  required
                  :error-messages="errors.nparcela"
                ></v-text-field>
              </v-flex>
              <v-flex sm5>
                <v-text-field
                  label="Juros"
                  v-model="parcela.juros"
                  required
                  :error-messages="errors.juros"
                ></v-text-field>
              </v-flex>
              <v-flex sm1>
                <v-btn icon @click.native="save">
                  <v-icon>mdi-content-save</v-icon>
                </v-btn>
              </v-flex>
              <v-flex sm1 v-if="parcela.id">
                <v-btn icon @click.native="clear">
                  <v-icon>mdi-delete-outline</v-icon>
                </v-btn>
              </v-flex>
            </v-layout>
          </v-form>
        </v-container>
      </v-card-text>
    </v-card>
    <confirme-dialog ref="confirm"></confirme-dialog>
  </v-dialog>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ConfirmeDialog from "../shared/ConfirmeDialog";

export default {
  data() {
    return {
      thead: [
        { text: "Parcela", value: "nparcela" },
        { text: "Juros", value: "juros", sortable: false },
        { sortable: false },
      ],

      dialog: false,
      resolve: null,
      formapg_id: null,
      errors: [],
    };
  },

  components: {
    ConfirmeDialog,
  },
  computed: mapGetters({
    parcelas: "GetParcelas",
    parcela: "GetParcela",
    formapg: "GetFormapg",
  }),
  methods: {
    ...mapActions([
      "getParcelas",
      "getParcela",
      "deleteParcela",
      "cleanParcela",
      "saveParcela",
      "getFormapg",
      
    ]),

    refresh() {
      this.getParcelas(this.formapg_id);
    },

    async save() {
      this.parcela.formapg_id = this.formapg_id;
      this.saveParcela(this.parcela).then((response) => {
        this.errors = response.body.errors ? response.body.errors : [];
        if (response.body.success) {
          this.cleanParcela();
          this.refresh();
        }
      });
    },

    edit(id) {
      this.getParcela(id);
    },

    clear() {
      this.cleanParcela();
    },

    deleteItem(item) {
      this.$refs.confirm
        .open("Deletar", `Deseja deletar ${item.nparcela} / ${item.juros}%?`)
        .then((confirm) => {
          if (confirm) {
            this.deleteParcela(item.id)
              .then((response) => {
                this.errors = response.body.errors ? response.body.errors : [];
                if (response.body.success) {
                  this.refresh();
                }
              });
          }
        });
    },

    open(id) {
      // reset os dados do data
      Object.assign(this.$data, this.$options.data.call(this));

      this.dialog = true;
      this.formTitle = "Nova cidade";

      this.cleanParcela();

      if (id) {
        this.formapg_id = id;
        this.getParcelas(id);
        this.getFormapg(id);
      }

      return new Promise((resolve, reject) => {
        this.resolve = resolve;
      });
    },
  },
};
</script>
