<template>
  <v-card flat>
    <tool-bar titulo="Dashboard" />
    <v-container fluid grid-list-lg>
      <v-layout row wrap>
        <v-flex xs12>
          <v-card flat outlined>
            <v-card-title><h4>Resumo de hoje</h4></v-card-title>
            <v-card-text>
              <v-layout wrap justify-center>
                <v-flex
                  sm2
                  @click="$router.push('/servicos')"
                >
                  <v-input
                    messages="Serviços em aberto"
                    prepend-icon="mdi-cellphone-link"
                    class="text-h6"
                  >
                    {{ dashboard.servicoAberto }}
                  </v-input>
                </v-flex>
                <v-flex
                  sm2
                  class="widget-topo"
                  @click="$router.push('/vendas')"
                >
                  <v-input
                    messages="Vendas em aberto"
                    prepend-icon="mdi-cart-arrow-up"
                    class="text-h6"
                  >
                    {{ dashboard.vendaAberto }}
                  </v-input>
                </v-flex>
                <v-flex sm2 class="widget-topo">
                  <v-input
                    messages="Compras em aberto"
                    prepend-icon="mdi-cart-arrow-down"
                    class="text-h6"
                  >
                    {{ dashboard.compraAberto }}
                  </v-input>
                </v-flex>
                <v-flex sm2 class="widget-topo">
                  <v-input
                    messages="Receitas"
                    prepend-icon="mdi-bank-plus"
                    class="text-h6"
                  >
                    {{ dashboard.receitas }}
                  </v-input>
                </v-flex>
                <v-flex sm2 class="widget-topo">
                  <v-input
                    messages="Despesas"
                    prepend-icon="mdi-bank-minus"
                    class="text-h6"
                  >
                    {{ dashboard.despesas }}
                  </v-input>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-flex>

        <v-flex xs12>
          <v-card flat>
            <v-card-title><h4>Ordens em aberto</h4></v-card-title>
            <v-card-text>
              <v-data-table
                :items="dashboard.servicoAbertoLst"
                hide-default-footer
                hide-default-header
              >
                <template v-slot:body="{ items }">
                  <tbody>
                    <tr
                      v-for="item in items"
                      :key="item.id"
                      @click="ServicoEdit(item)"
                    >
                      <td>{{ item.nome }}</td>
                      <td>{{ item.descricao }}</td>
                      <td>{{ item.created_at }}</td>
                    </tr>
                  </tbody>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-flex>

        <v-flex sm6>
          <v-card flat>
            <v-card-title><h4>Itens com estoque baixo</h4></v-card-title>
            <v-card-text>
              <v-data-table
                :items="dashboard.estoqueAlerta"
                hide-default-footer
                hide-default-header
              >
                <template v-slot:body="{ items }">
                  <tbody>
                    <tr
                      v-for="item in items"
                      :key="item.id"
                      @click="$refs.ProdutoForm.open(item.produto_id)"
                    >
                      <td>{{ item.id }}</td>
                      <td>
                        {{ item.descricao }} ({{ item.variante }}) -
                        {{ item.marca }}
                      </td>
                      <td>{{ item.quant }}</td>
                    </tr>
                  </tbody>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
          <produto-form ref="ProdutoForm" />
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../shared/ToolBar";
import ProdutoForm from "../produto/ProdutoForm";

export default {
  data() {
    return {
      dialog: true,
      errors: [],
    };
  },

  components: {
    ToolBar,
    ProdutoForm,
  },
  computed: mapGetters({
    dashboard: "GetDashboard",
  }),
  created() {
    this.getDashboard();
  },
  methods: {
    ...mapActions(["getDashboard"]),
    ServicoEdit(ordem) {
      this.$router.push(`/servicos/${ordem.id}`);
    },
  },
};
</script>
