<template>
  <v-dialog v-model="dialog" width="500" no-click-animation persistent>
    <v-card flat>
      <v-card-title>
        Login
        <v-spacer></v-spacer>
        <v-text-field v-model="urlServe" append-icon="mdi-content-save" type="text" @click:append="saveUrl"
          @keyup.enter.native="saveUrl" v-if="EditServe"></v-text-field>
        <v-btn v-else @click="EditServe = true" text icon>
          <v-icon>mdi-cloud-outline</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <v-form @keyup.enter.native="DoLogin">
          <v-text-field v-model="LoginDada.email" :rules="emailRules" label="Email" prepend-icon="mdi-account" type="text"
            required></v-text-field>
          <v-text-field v-model="LoginDada.senha" :append-icon="senhaShow ? 'mdi-eye-off-outline' : 'mdi-eye-outline'"
            :rules="senhaRules" :type="senhaShow ? 'text' : 'password'" label="Senha"
            prepend-icon="mdi-form-textbox-password" counter @click:append="senhaShow = !senhaShow"></v-text-field>
          <v-checkbox v-model="LoginDada.lembrar" label="Mantenha-me conectado"></v-checkbox>
        </v-form>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-btn :loading="loading" :disabled="loading" text block @click="DoLogin">Entrar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "login-form",
  props: {
    open: Boolean,
  },
  data() {
    return {
      urlServe: null,
      EditServe: false,

      LoginDada: {
        email: "",
        senha: "",
        lembrar: false,
      },
      emailRules: [
        (v) => !!v || "Digite um email",
        (v) => /.+@.+/.test(v) || "Email inválido",
      ],
      senhaShow: false,
      senhaRules: [
        (v) => !!v || "Digite uma senha",
        (v) => (v && v.length >= 6) || "A senha requer no mínimo 6 caracteres",
      ],
      dialog: true,
    };
  },

  mounted() {
    this.urlServe = this.urlRoot;
  },

  computed: mapGetters({
    urlRoot: "GetUrlRoot",
    loading: "GetLoadingStatus",
  }),

  methods: {
    ...mapActions([
      "GoLogin",
      "setToken",
      "GetAuthenticatedUser",
      "setUrlRoot",
    ]),
    saveUrl() {
      this.EditServe = false;
      this.setUrlRoot(this.urlServe);
    },
    DoLogin() {
      this.GoLogin(this.LoginDada);
    },
  },
};
</script>
