<template>
  <v-card flat>
    <tool-bar titulo="Nova venda">
      <v-chip label outlined v-if="id">
        <v-icon left>mdi-label</v-icon>
        {{ id }}
      </v-chip>
      <v-chip label outlined v-if="Total">
        <v-icon left>mdi-label</v-icon>
        {{ Total | currency }}
      </v-chip>
      <v-btn icon v-if="venda.itens && venda.itens.length" @click="limpar">
        <v-icon>mdi-notification-clear-all</v-icon>
      </v-btn>
      <v-btn icon v-if="venda.itens && venda.itens.length" to="/vendas/faturar">
        <v-icon>mdi-cash-check</v-icon>
      </v-btn>
    </tool-bar>
    <v-container grid-list-md>
      <v-layout wrap>
        <v-flex sm12 px-3>
          <ordem-itens v-model="venda.itens" itemAvulso />
        </v-flex>
      </v-layout>
      <ordem-anotacao v-model="venda.anotacoes" />
      <explorer-imagem v-model="venda.imagens" />
    </v-container>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../shared/ToolBar";
import OrdemItens from "../ordem/OrdemItens";
import OrdemAnotacao from "../ordem/OrdemAnotacao";
import ExplorerImagem from "../shared/ExplorerImagem";

export default {
  data() {
    return {
      id: this.$route.params.id,

      errors: [],
    };
  },

  components: {
    ToolBar,
    OrdemItens,
    OrdemAnotacao,
    ExplorerImagem,
  },
  async created() {
    this.cleanOrdem();

    if (this.id) {
      await this.GetOrdem(this.id);
    }
  },
  computed: mapGetters({
    venda: "GetOrdem",
    Total: "GetOrdemTotal",
  }),
  methods: {
    ...mapActions(["GetOrdem", "cleanOrdem"]),

    limpar() {
      this.cleanOrdem();
      if (this.id != null) {
        this.id = null;
        this.$router.push({ path: "/vendas/cart" });
      }
    },
  },
};
</script>
<style scoped>
.tabela-preco {
  min-width: 30px !important;
  max-width: 60px !important;
}

.tabela-quant {
  max-width: 50px !important;
}
</style>
