<template>
    <v-card flat>
        <tool-bar titulo="Faturar venda">
            <v-chip label outlined v-if="venda.id">
                <v-icon left>mdi-label</v-icon>
                {{ venda.id }}
            </v-chip>
            <v-chip label outlined v-if="TotalGeral">
                <v-icon left>mdi-label</v-icon>
                {{ TotalGeral | currency }}
            </v-chip>
            <v-btn icon @click.native="save">
                <v-icon>mdi-content-save</v-icon>
            </v-btn>
        </tool-bar>

        <v-card-text>
            <v-form>
                <v-container grid-list-md>
                    <v-layout wrap>
                        <v-flex sm5>
                            <v-autocomplete label="Cliente" :items="PessoaList" clearable no-filter open-on-clear
                                hide-no-data hide-selected item-text="nome" item-value="id"
                                :search-input.sync="pessoaSearch" v-model="venda.pessoa_id"
                                :error-messages="errors.pessoa_id"></v-autocomplete>
                        </v-flex>
                        <v-flex sm2>
                            <v-select label="Pagamento" v-model="venda.formapg_id" :error-messages="errors.formapg_id"
                                item-text="descricao" item-value="id" single-line :items="formapgList"
                                required></v-select>
                        </v-flex>
                        <v-flex sm1>
                            <v-select label="X" v-model="parcela" :error-messages="errors.parcela_id"
                                item-text="nparcela" item-value="id" single-line return-object :items="parcelaList"
                                required>
                                <template slot="item" slot-scope="data">
                                    <v-list-item-content>
                                        <v-list-item-title>{{ data.item.nparcela }} X</v-list-item-title>
                                    </v-list-item-content>
                                    <v-list-item-action>
                                        <v-list-item-action-text>{{ data.item.juros }}%</v-list-item-action-text>
                                    </v-list-item-action>
                                </template>
                            </v-select>
                        </v-flex>
                        <v-flex sm3>
                            <v-text-field label="Total" v-model="ParcelasComTotal" disabled></v-text-field>
                        </v-flex>
                        <v-flex sm1>
                            <v-checkbox label="Pago" v-model="venda.pgstatus"></v-checkbox>
                        </v-flex>

                        <v-flex sm2>
                            <input-calendario v-model="venda.vencimento" label="Vencimento"></input-calendario>
                        </v-flex>
                        <v-flex sm2>
                            <v-currency-field label="Acréscimo" v-model="venda.acrescimo"></v-currency-field>
                        </v-flex>
                        <v-flex sm2>
                            <v-currency-field label="Desconto" v-model="venda.desconto"></v-currency-field>
                        </v-flex>
                        <v-flex sm2>
                            <v-currency-field label="Frete" v-model="venda.frete"></v-currency-field>
                        </v-flex>
                        <v-flex sm2>
                            <v-currency-field label="Valor pago" v-model="venda.valorpg"
                                v-if="!venda.pgestatus"></v-currency-field>
                        </v-flex>
                        <v-flex sm2>
                            <v-text-field label="Documento" v-model="venda.documento"></v-text-field>
                        </v-flex>
                    </v-layout>
                    <ordem-anotacao v-model="venda.anotacoes"></ordem-anotacao>
                    <explorer-imagem v-model="venda.imagens" />
                </v-container>
            </v-form>
        </v-card-text>

        <v-dialog v-model="dialog" max-width="500px" persistent>
            <v-card flat>
                <v-card-title class="headline">Epa!</v-card-title>
                <v-card-text>O carrinho está vazio!</v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn text @click="$router.go(-1)">ok</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <confirme-dialog ref="confirm"></confirme-dialog>
        <prestacao-dialog ref="prestacaoDialog"></prestacao-dialog>
    </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../shared/ToolBar";
import ConfirmeDialog from "../shared/ConfirmeDialog";
import InputCalendario from "../shared/InputCalendario";
import OrdemAnotacao from "../ordem/OrdemAnotacao";
import ExplorerImagem from "../shared/ExplorerImagem";
import PrestacaoDialog from "../shared/PrestacaoDialog.vue"

export default {
    data() {
        return {
            dialog: false,
            id: this.$route.params.id,
            parcela: {},
            pessoaSearch: "",
            errors: [],
        };
    },
    components: {
        ToolBar,
        InputCalendario,
        ConfirmeDialog,
        OrdemAnotacao,
        ExplorerImagem,
        PrestacaoDialog
    },
    watch: {
        pessoaSearch(val) {
            this.searchPessoa(val);
        },
        parcela(parcela) {
            this.venda.parcela_id = parcela.id;
        },
        venda: {
            handler: function (val) {
                if (val.pgstatus) {
                    this.venda.valorpg = this.TotalGeral;
                } else {
                    this.venda.valorpg = 0;
                }
            },
            deep: true,
        },
        "venda.formapg_id": "listParcela",
    },
    async created() {
        if (this.venda.itens == undefined) {
            this.dialog = true;
        }

        await this.listFormapg();

        if (this.venda.id) {
            await this.searchPessoa(this.venda.nome);
            await this.listParcela(this.venda.parcela_id);
            this.parcela = {
                id: this.venda.parcela_id,
                juros: this.venda.juros,
                nparcela: this.venda.nparcela,
            };
        }
    },
    computed: {
        ...mapGetters({
            venda: "GetOrdem",
            PessoaList: "ListPessoa",
            formapgList: "ListFormapg",
            parcelaList: "ListParcela",
            TotalItens: "GetOrdemTotal",
        }),
        ParcelasComTotal() {
            let ValorPorParcela = (
                this.TotalGeral / this.parcela.nparcela
            ).toLocaleString("pt-BR", {
                minimumFractionDigits: 2,
                maximumFractionDigits: 2,
            });
            let totalMascara = this.TotalGeral.toLocaleString("pt-BR", {
                minimumFractionDigits: 2,
                maximumFractionDigits: 2,
            });
            return `R$ ${ValorPorParcela} (R$ ${totalMascara})`;
        },
        TotalGeral() {
            let subtotalJuros =
                (parseFloat(this.parcela.juros) * this.TotalItens) / 100 +
                this.TotalItens;
            if (!isNaN(subtotalJuros)) {
                return (
                    subtotalJuros +
                    parseFloat(this.venda.acrescimo) +
                    parseFloat(this.venda.frete) -
                    parseFloat(this.venda.desconto)
                );
            } else {
                return parseFloat(this.TotalItens);
            }
        },
    },
    methods: {
        ...mapActions([
            "searchPessoa",
            "listFormapg",
            "listParcela",
            "saveVenda",
            "cleanOrdem",
        ]),
        save() {
            if (this.venda.status == "RE") {
                let mensagem =
                    "Atenção: Essa venda já foi ENTREGUE. Ao refaturar, o financeiro pode ser " +
                    "apagado e reconstruido, causando a perda do histórico.";

                this.$refs.confirm
                    .open(`Deseja atualizar a venda ${this.venda.id}?`, mensagem, {
                        width: 600,
                    })
                    .then((confirm) => {
                        if (confirm) {
                            this.fatura();
                        }
                    });
            } else {
                this.fatura();
            }
        },

        async fatura() {
            await this.saveVenda(this.venda).then((response) => {
                this.errors = response.body.errors ? response.body.errors : [];

                if (response.body.success) {
                    this.cleanOrdem();
                    this.$router.push("/vendas/cart");
                } else if (response.body.prestacao.length) {
                    this.$refs.prestacaoDialog
                        .open(response.body.prestacao)
                }
            });
        },
    },
};
</script>
