<template>
  <v-overlay :value="overlay" absolute>
    <video ref="scanner" poster="data:image/gif,AAAA" />
    <v-container grid-list-md>
      <v-row align="center" justify="center"></v-row>
      <v-row align="center" justify="center">
        <video ref="scanner" poster="data:image/gif,AAAA" />
      </v-row>
      <v-footer fixed color="transparent">
        <v-row align="center" justify="center">
          <v-btn icon @click.native="switchCamera()">
            <v-icon>mdi-camera-switch-outline</v-icon>
          </v-btn>
          <v-btn icon @click="close()">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-row>
      </v-footer>
    </v-container>
  </v-overlay>
</template>

<script>
import { BrowserMultiFormatReader, Exception } from "@zxing/library";
export default {
  name: "stream-barcode-reader",
  data() {
    return {
      overlay: false,
      codeReader: null,
      sources: [],
      selectedSource: null,
    };
  },
  methods: {
    async open() {
      if (
        !navigator &&
        !navigator.mediaDevices &&
        !"enumerateDevices" in navigator.mediaDevices
      ) {
        throw new Exception("Media Stream API is not supported");
        return false;
      }
      this.overlay = true;

      if (localStorage.cameraPreferida) {
        this.selectedSource = JSON.parse(localStorage.cameraPreferida);
      }

      await this.gotDevices();

      this.codeReader = await new BrowserMultiFormatReader();

      await this.goStream();

      return new Promise((resolve, reject) => {
        this.resolve = resolve;
      });
    },
    async goStream() {
      await this.codeReader.reset();
      await this.codeReader.decodeFromVideoDevice(
        this.selectedSource.deviceId,
        this.$refs.scanner,
        (result, err) => {
          if (result) {
            this.close();
            this.resolve(result.text);
          }
        }
      );
    },

    async gotDevices() {
      var SourceLocal = [];
      await navigator.mediaDevices.enumerateDevices().then((devices) => {
        devices.forEach(function (device) {
          if (device.kind === "videoinput") {
            SourceLocal.push(device);
          }
        });
      });
      this.sources = SourceLocal;
      if (!this.sources.length) {
        throw "Câmera não identificada!";
        return false;
      }

      if (!this.selectedSource || !this.cameraFavoritaExist) {
        this.selectedSource = this.sources[0];
      }
    },

    cameraFavoritaExist() {
      return this.sources.filter((a) =>
        Object.keys(a).some((k) => a[k] == this.selectedSource.deviceId)
      );
    },

    switchCamera() {
      let nextSourceIndex = 1 + this.sources.indexOf(this.selectedSource);
      if (nextSourceIndex >= this.sources.length) {
        nextSourceIndex = 0;
      }
      this.selectedSource = this.sources[nextSourceIndex];
      localStorage.cameraPreferida = JSON.stringify(this.selectedSource);
      this.goStream();
    },

    close() {
      this.overlay = false;
      this.codeReader.reset();
    },
  },
};
</script>

<style scoped>
video {
  max-width: 100%;
  max-height: 100%;
}
</style>
