<template>
  <v-dialog
    v-model="dialog"
    :max-width="options.width"
    @keydown.esc="dialog = false"
    eager
  >
    <v-card>
      <v-card-title class="headline">{{ title }}</v-card-title>
      <v-card-text class="body-1" v-show="!!message">{{ message }}</v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text color="primary" @click.native="agree()">Sim</v-btn>
        <v-btn text color="primary" @click.native="dialog = false">Não</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
      dialog: false,
      resolve: null,
      //reject: null,
      message: null,
      title: null,
      options: {
        width: 380,
      },
    };
  },
  methods: {
    open(title, message, options) {
      this.dialog = true;
      this.title = title;
      this.message = message;
      this.options = Object.assign(this.options, options);
      return new Promise((resolve, reject) => {
        this.resolve = resolve;
        //this.reject = reject;
      });
    },
    agree() {
      this.resolve(true);
      this.dialog = false;
    },
  },
};
</script>
