<template>
    <div>
        <input-image ref="ImagemInput" style="display: none" :done="addImage" />

        <v-data-iterator :items="imagens" no-data-text="" wrap hide-default-footer>
            <template v-slot:header>
                <v-card flat class="text-center ma-2">
                    <v-btn v-if="!disabled" class="ma-1" text color="primary" @click.native="$refs.ImagemInput.camera()">
                        <v-icon left dark>mdi-camera</v-icon>
                        Tirar foto
                    </v-btn>
                    <v-btn v-if="!disabled" class="ma-1" text color="primary" @click.native="$refs.ImagemInput.arquivo()">
                        <v-icon left dark>mdi-attachment</v-icon>
                        Anexar foto
                    </v-btn>
                </v-card>
            </template>
            <template v-slot:default="props">
                <v-row>
                    <v-col v-for="item in props.items" :key="item.name" sm="6" md="4" lg="3">
                        <v-card flat>
                            <v-text-field v-model="item.nome" rounded maxlength="50" full-width hide-details
                                :readonly="disabled" placeholder="Adicione uma legenda à foto"></v-text-field>
                            <v-img :src="item.data" height="300" @click="ampliarImagem(item.data)"><template
                                    v-slot:placeholder>
                                    <v-skeleton-loader class="mx-auto" type="image"></v-skeleton-loader>
                                </template></v-img>
                            <v-card-actions>
                                {{ item.created_at }}
                                <v-spacer></v-spacer>
                                <v-btn icon @click="AddEstrela(item)" v-if="estrela">
                                    <v-icon :color="item.estrela ? 'yellow' : null">mdi-star</v-icon>
                                </v-btn>
                                <v-btn icon @click="DownloadImage(item)">
                                    <v-icon>mdi-cloud-download-outline</v-icon>
                                </v-btn>
                                <v-btn icon @click="CompartilhaImage(item)">
                                    <v-icon>mdi-share-variant-outline</v-icon>
                                </v-btn>
                                <v-btn v-if="!disabled" icon @click="removeImagem(item)">
                                    <v-icon color="pink">mdi-delete-outline</v-icon>
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>
            </template>
        </v-data-iterator>

        <v-overlay v-model="ImagemAmpliadaOverlay" opacity="0.9">
            <v-carousel hide-delimiter-background show-arrows-on-hover height="auto" v-model="ImagemAtual">
                <v-carousel-item v-for="(item, i) in imagens" :key="i">
                    <v-img contain :max-width="$vuetify.breakpoint.width" :max-height="$vuetify.breakpoint.height"
                        :src="item.data"><v-btn dark elevation="2" icon absolute top right
                            @click="ImagemAmpliadaOverlay = false">
                            <v-icon dark>mdi-close</v-icon>
                        </v-btn></v-img>
                </v-carousel-item>
            </v-carousel>
        </v-overlay>
    </div>
</template>

<script>
import { mapActions } from "vuex";
import InputImage from "./InputImagem";

export default {
    name: "explorer-imagem",
    props: {
        value: {
            type: Array,
            requered: true,
            default: () => [],
        },
        errorMessages: {
            default: null,
        },
        disabled: Boolean,
        estrela: Boolean,
    },
    data() {
        return {
            errorMessagesLocal: null,
            ImagemAmpliadaOverlay: false,
            ImagemAtual: 0,
        };
    },
    components: {
        InputImage,
    },
    computed: {
        imagens: {
            get() {
                return this.value;
            },
            set(val) {
                this.$emit("input", val);
            }

        }
    },
    methods: {
        ...mapActions(["AddSnackbar"]),

        addImage(imagem) {
            let ResultImg = this.imagens.find((img) => img.data == imagem.data);
            if (ResultImg == undefined) {
                this.imagens.push(imagem);
            } else {
                this.AddSnackbar({ message: "Já existe essa imagem na lista", type: "info" });
            }
        },
        removeImagem(imagem) {
            let Index = this.imagens.indexOf(imagem);
            this.imagens.splice(Index, 1);
        },
        AddEstrela(imagem) {
            let ImagemEstrela = this.imagens.find((imagem) => imagem.estrela == true);
            if (ImagemEstrela) {
                ImagemEstrela.estrela = false;
            }
            this.$set(imagem, "estrela", true);
        },
        async CompartilhaImage(img) {
            const extencao = img.tipo.split("/").pop();
            const nomeImg = img.nome ? img.nome : (Math.random() * 100);
            const nomeFile = `${nomeImg}.${extencao}`;

            const response = await fetch(img.data);
            const blob = await response.blob();
            const file = await new File([blob], nomeFile, { type: img.tipo });

            if (navigator.canShare && navigator.canShare({ files: [file] })) {
                navigator.share({ files: [file] });
            } else {
                this.AddSnackbar({ message: "Seu sistema não suporta compartilhamento de arquivos", type: "info" });
            }
        },
        async DownloadImage(img) {
            var a = document.createElement("a");
            let nomeImg = img.nome ? img.nome : "imagem";
            var nome = "SGC-" + nomeImg;
            a.setAttribute("download", nome);
            a.setAttribute("href", img.data);
            document.body.appendChild(a);
            a.click();
            a.remove();
        },
        ampliarImagem(data) {
            let Index = this.imagens.findIndex((imagem) => imagem.data === data);
            this.ImagemAtual = Index;
            this.ImagemAmpliadaOverlay = true;
        },
    },
};
</script>
