<template>
    <div>
        <input type="file" @change="onChange" ref="ImagemInput" />

        <v-expansion-panels>
            <v-expansion-panel>
                <v-expansion-panel-header>
                    Arquivo(s)
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    <v-alert dense text type="info" dismissible v-model="alert"> {{ errorMessagesLocal }}</v-alert>
                    <v-data-iterator :items="arquivos" no-data-text="Nem um arquivos adicionado" hide-default-footer
                        wrap v-if="!disabled">
                        <template v-slot:default="props">
                            <v-row>
                                <v-col v-for="item in props.items" :key="item.name" sm="6" md="4" lg="3">
                                    <v-card flat>
                                        <v-text-field v-model="item.nome" full-width hide-details
                                            :disabled="disabled"></v-text-field>
                                        <v-card-actions>
                                            {{ item.tamanho | bytes }}
                                            <v-spacer></v-spacer>
                                            <v-btn icon @click="Download(item)">
                                                <v-icon>mdi-cloud-download-outline</v-icon>
                                            </v-btn>
                                            <v-btn icon @click="Compartilhar(item)">
                                                <v-icon>mdi-share-variant-outline</v-icon>
                                            </v-btn>
                                            <v-btn icon @click="deletaFile(item)" :disabled="disabled">
                                                <v-icon color="pink">mdi-delete-outline</v-icon>
                                            </v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-col>
                            </v-row>
                        </template>
                    </v-data-iterator>
                    <v-btn text block @click.native="$refs.ImagemInput.click()">
                        Adicionar arquivo
                    </v-btn>
                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-expansion-panels>
    </div>
</template>

<script>
export default {
    name: "File-Manager",
    props: {
        value: {
            type: Array,
            requered: true,
            default: () => [],
        },
        errorMessages: {
            default: null,
        },
        disabled: Boolean,
    },
    data() {
        return {
            errorMessagesLocal: null,
            file: null,
            arquivosLocal: []
        };
    },
    computed: {
        alert: {
            get() {
                return this.errorMessagesLocal !== null;
            },
            set() {
                this.errorMessagesLocal = null;
            }
        },
        arquivos: {
            get() {
                if (this.value !== null) {
                    return this.value;
                }
                return this.arquivosLocal;
            },
            set(val) {
                this.$emit("input", val);
            }

        }
    },
    methods: {
        onChange(e) {
            let file = e.target.files[0];
            if (!file) return false;

            if (file.size > 1024 * 1024) {
                e.preventDefault();
                this.errorMessagesLocal = "Arquivo maior que o permitido (1MB)";
                return false;
            }

            this.file = file;

            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = this.addFile;
        },
        addFile(event) {
            let data = event.target.result;
            let FileBusca = this.arquivos.find((fileLocal) => fileLocal.data === data);

            if (!FileBusca) {
                this.arquivos.push({
                    data: data,
                    nome: this.file.name,
                    tipo: this.file.type,
                    tamanho: this.file.size,
                });
                // limpe o input file para haver o @onchge todas as vezes
                this.$refs.ImagemInput.value = null;
            } else {
                this.errorMessagesLocal = "Esse arquivo já existe na lista a baixo"
            }
        },
        deletaFile(imagem) {
            let Index = this.arquivos.indexOf(imagem);
            this.arquivos.splice(Index, 1);
        },
        async Compartilhar(doc) {
            const extencao = doc.tipo.split("/").pop();
            const nomeDoc = doc.nome ? doc.nome : (Math.random() * 100);
            const nomeFile = `${nomeDoc}.${extencao}`;

            const response = await fetch(doc.data);
            const blob = await response.blob();
            const file = await new File([blob], nomeFile, { type: doc.tipo });

            if (navigator.canShare && navigator.canShare({ files: [file] })) {
                navigator.share({ files: [file] });
            } else {
                alert("Seu sistema não suporta compartilhamento de arquivos");
            }
        },
        async Download(doc) {
            var a = document.createElement("a");
            let nomeDoc = doc.nome ? doc.nome : "Documento";
            var nome = nomeDoc;
            a.setAttribute("download", nome);
            a.setAttribute("href", doc.data);
            document.body.appendChild(a);
            a.click();
            a.remove();
        },
    },
};
</script>
<style scoped>
input {
    display: none;
    visibility: hidden;
}
</style>
