<template>
  <v-timeline :dense="$vuetify.breakpoint.smAndDown" align-top v-if="value.length">
    <v-timeline-item v-for="item in value" :key="item.id">
    <template v-slot:icon>
        <v-avatar size="30">
           <img :src="item.user.imagem" v-if="item.user != null" />
           <v-icon dark size="30" v-else>mdi-account-circle-outline</v-icon>
          </v-avatar>
      </template>
      <v-card flat tile outlined>
        <v-app-bar dense flat>
          <v-col>
            <v-row>
              <span class="body-1">{{ item.user ? item.user.nome : null }} {{ item.event }}</span>
            </v-row>
            <v-row>
              <span class="caption">{{ item.created_at | moment("DD/MM/YYYY h:mm:ss") }}</span>
            </v-row>
          </v-col>
        </v-app-bar>
        <v-card-text>
          <li v-for="(valor, chave) in item.new_values" :key="chave">
            <!-- ANTIGOS DADOS -->
            <strong>{{ chave }}: </strong>

            <ul v-if="typeof item.old_values[chave] === 'object'">
              <li v-for="item in item.old_values[chave]" :key="item.anotacao">
                <div v-for="(subvalor, subchave) in item" :key="subchave">
                  {{ subchave }} : {{ subvalor }}
                </div>
              </li>
            </ul>
            <span v-else>
              {{ item.old_values[chave] }}
            </span>

            <v-icon size="12">mdi-arrow-right</v-icon>

            <!-- NOVOS DADOS -->
            <ul v-if="typeof valor === 'object'">
              <li v-for="item in valor" :key="item.anotacao">
                <div v-for="(subvalor, subchave) in item" :key="subchave">
                  {{ subchave }} : {{ subvalor }}
                </div>
              </li>
            </ul>
            <span v-else>
              {{ valor }}
            </span>
          </li>
        </v-card-text>
      </v-card>
    </v-timeline-item>
  </v-timeline>
</template>

<script>
export default {
  name: "historicos",
  props: {
    value: {
      type: Array,
      requered: true,
      default: () => [],
    },
  },
};
</script>
