<template>
  <v-dialog
    ref="dialog"
    v-model="modal"
    :return-value.sync="date"
    persistent
    width="290px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-text-field
        :value="value"
        :label="label"
        :error-messages="errorMessages"
        readonly
        clearable
        @click:clear="$emit('input', null)"
        v-bind="attrs"
        v-on="on"
      ></v-text-field>
    </template>
    <v-date-picker
      v-model="date"
      ref="picker"
      :max="new Date().toISOString().substr(0, 10)"
      min="1950-01-01"
      scrollable
    >
      <v-spacer></v-spacer>
      <v-btn text color="primary" @click="modal = false"> Cancel </v-btn>
      <v-btn text color="primary" @click="save()"> OK </v-btn>
    </v-date-picker>
  </v-dialog>
</template>

<script>
import moment from "moment";

export default {
  props: {
    value: {
      type: String,
    },
    label: {
      type: String,
      required: true,
    },
    errorMessages: {
      required: true,
    },
  },
  data: () => ({
    date: null,
    modal: false,
  }),
  watch: {
    modal(val) {
      val && this.$nextTick(() => (this.$refs.picker.activePicker = "YEAR"));
    },
  },
  computed: {
    DateFormat() {
      return this.date ? moment(this.date).format("DD/MM/YYYY") : "";
    },
  },
  methods: {
    save() {
      this.$refs.dialog.save(this.date);
      this.$emit("input", this.DateFormat);
    },
  },
};
</script>