<template>
    <v-row>
        <v-dialog v-model="dialog" persistent max-width="768px" :fullscreen="$vuetify.breakpoint.xsOnly">
            <v-overlay :value="dialog" opacity="0.9">
                <v-row align="center" justify="center">
                    <video ref="video" autoplay="true" />
                </v-row>
                <v-row align="center" justify="center">
                    <v-btn icon @click.native="close">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-btn @click.native="switchCamera" large icon v-if="sources.length > 1">
                        <v-icon>mdi-camera-switch-outline</v-icon>
                    </v-btn>
                    <v-btn @click.native="imageOnLoad" large icon>
                        <v-icon>mdi-camera</v-icon>
                    </v-btn>
                </v-row>
            </v-overlay>
        </v-dialog>
        <input type="file" @change="onChange" accept="image/*" ref="imageClick" class="input-imagem" />
    </v-row>
</template>


<script>
export default {
    props: {
        maxwidth: {
            default: 1024,
        },

        quality: {
            default: 70,
        },

        done: {
            type: Function,
            default: () => { },
        },

        type: {
            default: "image/webp",
        },
    },

    data() {
        return {
            file: {},
            dialog: false,
            initialized: false,
            mediaStream: null,
            sources: [],
            selectedSource: null,
            imgLocal: new Image()
        };
    },

    computed: {
        isReady() {
            return this.initialized;
        },
    },

    methods: {
        async arquivo() {
            this.$refs.imageClick.click();
        },

        async camera() {
            const supported = "mediaDevices" in navigator;
            if (!supported) {
                alert("Sem acesso à câmera!");
                return;
            }

            this.dialog = true;

            if (localStorage.cameraPreferida) {
                this.selectedSource = JSON.parse(localStorage.cameraPreferida);
            }

            this.getDevices()
                .then(this.gotDevices)
                .then(this.getStream)
                .then(this.gotStream)
                .catch(this.handleError);
        },

        onChange(e) {
            let file = e.target.files[0];
            if (!file) return false;

            // set to global for acess in FileOnLoad data info
            this.file = file;

            let reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = this.fileOnLoad;
        },

        fileOnLoad(event) {
            this.imgLocal.src = event.target.result;
            this.imgLocal.onload = this.imageOnLoad;
        },

        imageOnLoad() {
            let imgTemp = null;
            let scale = 1;
            const canvas = document.createElement("canvas");

            if (this.dialog) {
                imgTemp = this.$refs.video;
                canvas.width = imgTemp.videoWidth;
                canvas.height = imgTemp.videoHeight;
            } else {
                imgTemp = this.imgLocal;
                canvas.width = imgTemp.width;
                canvas.height = imgTemp.height;
            }

            let qualityLocal = this.quality;

            canvas.getContext("2d").drawImage(imgTemp, 0, 0);

            if (canvas.width > this.maxwidth) {
                scale = this.maxwidth / canvas.width;
            }

            const scaledCanvas = document.createElement("canvas");
            scaledCanvas.width = canvas.width * scale;
            scaledCanvas.height = canvas.height * scale;

            scaledCanvas
                .getContext("2d")
                .drawImage(canvas, 0, 0, scaledCanvas.width, scaledCanvas.height);

            let data = scaledCanvas.toDataURL(this.type, qualityLocal / 100);

            let objToPass = {
                data: data,
                nome: this.file.name,
                tipo: this.type,
                tamanho: data.length,
            };

            canvas.remove();

            this.done(objToPass);

            if (this.dialog) {
                this.close();
            }
        },

        close() {
            this.dialog = false;
            this.stopStream();
        },

        switchCamera() {
            let nextSourceIndex = 1 + this.sources.indexOf(this.selectedSource);
            if (nextSourceIndex >= this.sources.length) {
                nextSourceIndex = 0;
            }
            this.selectedSource = this.sources[nextSourceIndex];
            localStorage.cameraPreferida = JSON.stringify(this.selectedSource);
            this.getStream().then(this.gotStream);
        },

        getDevices() {
            return navigator.mediaDevices.enumerateDevices();
        },

        gotDevices(devices) {
            this.sources = [];
            devices.forEach((device) => {
                if (device.kind === "videoinput") {
                    this.sources.push(device);
                }
            });
            if (!this.sources.length) {
                throw "Câmera não encontrada!";
            }

            if (!this.selectedSource || !this.cameraFavoritaExist) {
                this.selectedSource = this.sources[0];
            }
        },

        cameraFavoritaExist() {
            return this.sources.filter((a) =>
                Object.keys(a).some((k) => a[k] == this.selectedSource.deviceId)
            );
        },

        getStream() {
            this.stopStream();
            return navigator.mediaDevices.getUserMedia({
                video: {
                    deviceId: { exact: this.selectedSource.deviceId },
                },
            });
        },

        gotStream(mediaStream) {
            this.mediaStream = mediaStream;
            this.$refs.video.srcObject = mediaStream;
            this.$refs.video.play().then(() => (this.initialized = true));
        },

        stopStream() {
            if (this.mediaStream) {
                this.mediaStream.getTracks().forEach((track) => track.stop());
            }
        },

        handleError(error) {
            console.log(error);
        },
    },
};
</script>
<style scoped>
video {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

input {
    display: none;
    visibility: hidden;
}
</style>
