<template>
  <v-list-item-subtitle
    placeholder="Obs.:"
    :contenteditable="!disabled"
    @input="update"
    :style="[blod ? {fontWeight: 'bold', fontSize: '16px'} : '']"
    class="input-obs"
  >
    {{ valorInterno }}
  </v-list-item-subtitle>
</template>

<script>
export default {
  name: "input-produto-observacao",
  props: {
    value: String,
    disabled: Boolean,
    placeholder: String,
    blod: Boolean
  },
  data() {
    return {
      valorInterno: this.value,
    };
  },
  methods: {
    update(event) {
      if (event.key == "Enter") {
        event.preventDefault();
      }
      this.$emit("input", event.target.innerText);
    }
  },
};
</script>
<style scoped>
.input-obs {
  min-width: 150px !important;
  max-width: 300px !important;
  border: 0;
  outline: none;
  transition: 0.2s ease-in-out;
}

.input-obs:focus {
  border-bottom: 2px solid #ccc;
}

.input-obs[placeholder]:empty:before {
  content: attr(placeholder);
}

.input-obs[placeholder]:empty:focus:before {
  content: "";
}
</style>
