<template>
    <v-dialog v-model="dialog" :fullscreen="$vuetify.breakpoint.xsOnly" :max-width="options.width"
        @keydown.esc="dialog = false">
        <v-card flat>
            <v-toolbar flat dark color="primary">
                <v-toolbar-title>Prestação de conta em aberto</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon @click.native="dialog = false">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </v-toolbar>
            <v-card-text>
                <v-data-table :headers="PrestacaoHeaders" :items="prestacaoAberta" hide-default-footer>
                    <template v-slot:item.descricao="{ item }">
                        <div v-if="item.descricao">
                            {{ item.descricao }}
                            <b v-if="item.variante">({{ item.variante }})</b>
                        </div>
                        <div>{{ item.observacao }}</div>
                    </template>
                    <template v-slot:item.comissao="{ item }">
                        {{ item.comissao | currency }}
                    </template>
                </v-data-table>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    name: "Prestacao-dialog",
    data() {
        return {
            dialog: false,
            options: {
                width: 768,
            },
            prestacaoAberta: [],
            PrestacaoHeaders: [
                { text: "Ordem de serviço", value: "orden_id" },
                { text: "Prestação ID", value: "pestacao_conta_id" },
                { text: "Usuário", value: "usuario" },
                { text: "Descrição", value: "descricao" },
                { text: "Comissão", value: "comissao" },
            ],
        };
    },
    methods: {
        open(prestacaoAberta, options) {
            this.dialog = true;
            this.prestacaoAberta = prestacaoAberta;
            this.options = Object.assign(this.options, options);
        },
    },
};
</script>
