<template>
  <v-data-table
    :headers="headers"
    :items="value"
    hide-default-footer
    disable-sort
  >
    <template v-slot:item.created_at="{ item }">
        {{ item.created_at | moment("DD/MM/YYYY h:mm:ss") }}
    </template>
    <template v-slot:item.last_used_at="{ item }">
        {{ item.last_used_at | moment("DD/MM/YYYY h:mm:ss") }}
    </template>
    <template v-slot:item.updated_at="{ item }">
        {{ item.updated_at | moment("DD/MM/YYYY h:mm:ss") }}
    </template>
    <template v-slot:item.deslogar="{ item }">
      <v-icon @click="deleteToken(item)">mdi-logout</v-icon>
    </template>
  </v-data-table>
</template>

<script>
export default {
  name: "table-tokens",
  props: {
    value: {
      required: false,
    },
    disabled: Boolean,
  },
  data() {
    return {
      headers: [
        { text: "Criado em", value: "created_at" },
        { text: "Ultimo uso", value: "last_used_at" },
        { text: "Plataforma", value: "name" },
        { text: "Atualizado em", value: "updated_at" },
        { text: "Desconectar", value: "deslogar" },
      ],
    };
  },
  methods: {
      deleteToken(item) {
          this.$emit("delete", item);
      }
  },
};
</script>
