<template>
  <v-container>
    <v-data-table
      :items="value"
      :headers="headers"
      @click:row="editItem"
      hide-default-footer
      disable-sort
    >
      <template v-slot:item.descricao="{ item }">
        <b>{{ item.descricao }} {{ item.marca }}</b>
        <span v-if="item.variante">( {{ item.variante }} )</span>
        <div>{{ item.observacao }}</div>
      </template>
      <template v-slot:item.valor="{ item }">
        {{ item.valor | currency }}
      </template>
      <template v-slot:item.subtotal="{ item }">
        {{ (item.quant * item.valor) | currency }}
      </template>

      <template v-slot:body.append>
        <tr>
          <td :colspan="headers.length" class="text-right">
            <v-chip label outlinedd>
              <v-icon left>mdi-label</v-icon>
              Total : {{ Total | currency }}
            </v-chip>
          </td>
        </tr>
      </template>
    </v-data-table>

    <v-dialog
      v-model="dialog"
      max-width="800px"
      :fullscreen="$vuetify.breakpoint.xsOnly"
    >
      <v-card flat>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex sx12>
                <span class="headline">
                  <div v-if="editedItem.descricao">
                    <b>{{ editedItem.descricao }} {{ editedItem.marca }}</b>
                    ({{ editedItem.variante }})
                  </div>

                  <div
                    :style="[
                      !editedItem.descricao
                        ? { fontWeight: 'bold' }
                        : { fontSize: '16px' },
                    ]"
                  >
                    {{ editedItem.observacao }}
                  </div>
                </span>
              </v-flex>
              <v-flex xs12 sm12>
                {{ editedItem.caracteristica }}
              </v-flex>

              <v-flex xs12 sm12>
                <v-text-field
                  v-model="editedItem.observacao"
                  label="Observação"
                  :disabled="disabled"
                />
              </v-flex>

              <v-flex xs3 sm2>
                <v-text-field
                  type="number"
                  v-model="editedItem.quant"
                  label="Quantidade"
                  :disabled="disabled"
                />
              </v-flex>

              <v-flex xs4 sm2>
                <v-currency-field
                  v-model="editedItem.valor"
                  label="Valor"
                  :disabled="disabled"
                />
              </v-flex>

              <v-flex xs5 sm2>
                <v-text-field
                  v-model="editedItem.medida"
                  label="Medida"
                  disabled
                ></v-text-field>
              </v-flex>

              <v-flex xs6 sm3>
                <v-text-field
                  v-model="editedItem.codigo"
                  label="Codigo"
                  disabled
                ></v-text-field>
              </v-flex>

              <v-flex xs6 sm3>
                <v-select
                  label="Tipo"
                  v-model="editedItem.tipo"
                  :items="[
                    { value: 'p', text: 'Produto' },
                    { value: 's', text: 'Serviço' },
                    { value: null, text: 'Avulso' },
                  ]"
                  disabled
                ></v-select>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false">
            Fecha
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "ordem-itens",
  props: {
    value: {
      type: Array,
      requered: true,
      default: () => [],
    },
    // pode adicionar itens avulso
    itemAvulso: Boolean,
    //
    disabled: Boolean,
  },
  data() {
    return {
      headers: [
        { text: "Descricao", value: "descricao" },
        { text: "Quant", value: "quant" },
        { text: "Valor", value: "valor" },
        { text: "Subtotal", value: "subtotal" },
      ],
      comissaoPorCento: 0,
      id: this.$route.params.id,
      select: null,
      alert: false,
      dialog: false,
      editedItem: [],
    };
  },
  async created() {},
  computed: {
    ...mapGetters({
      Total: "GetOrdemTotal",
    }),
  },
  methods: {
    editItem(item) {
      this.editedItem = item;
      this.dialog = true;
    },
  },
};
</script>
<style scoped>
.tabela-preco {
  min-width: 110px !important;
  max-width: 110px !important;
}

.tabela-quant {
  min-width: 110px !important;
  max-width: 110px !important;
}
</style>
