<template>
  <v-container>
    <v-card flat>
      <v-card-title>
        {{ titulo }}
      </v-card-title>
      <v-card-text v-if="value">
        <v-expansion-panels focusable flat>
          <v-expansion-panel v-for="orden in value" :key="orden.id">
            <v-expansion-panel-header
              >{{ orden.id }} - {{ orden.defeito }} |
              {{ statusRow(orden.status).text }} | {{ orden.orden_id == null ? "Principal" : "Estentida" }}</v-expansion-panel-header
            >
            <v-expansion-panel-content>
              <v-layout wrap>
                <v-flex sm2>
                  <v-text-field
                    label="ID ordem"
                    v-model="orden.id"
                    readonly
                    append-icon="mdi-eye-outline"
                    @click:append="$router.push(`/ordens/${orden.id}`)"
                  ></v-text-field>
                </v-flex>
                <v-flex sm4>
                  <v-select
                    :items="status"
                    v-model="orden.status"
                    label="Status"
                    single-line
                    disabled
                  ></v-select>
                </v-flex>
                <v-flex sm6>
                  <v-text-field
                    label="Acessorios"
                    v-model="orden.acessorios"
                    disabled
                  ></v-text-field>
                </v-flex>
                <v-flex sm12>
                  <v-text-field
                    label="Defeito relatado"
                    v-model="orden.defeito"
                    disabled
                  ></v-text-field>
                </v-flex>

                <v-flex sm12>
                  <ordem-itens v-model="orden.itens" disabled />
                </v-flex>
              </v-layout>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import { mapGetters } from "vuex";
import OrdemItens from "../ordem/OrdemItens.vue";

export default {
  name: "servico-parente",
  props: {
    value: {
      type: Array,
      requered: true,
      default: () => [],
    },
    titulo: {
      type: String,
      default: null,
    },
  },
  components: {
    OrdemItens,
  },
  computed: mapGetters({
    status: "GetOrdemStatus",
    statusRow: "GetOrdemStatusRow"
  }),
};
</script>
