<template>
  <v-card flat>
    <tool-bar
      v-model="pagination.search"
      busca
      titulo="Ordens"
    >
    </tool-bar>
    <v-card flat>
      <v-data-table
        :items="Ordens.data"
        :headers="thead"
        item-key="id"
        disable-sort
        @click:row="GoOrdem"
        hide-default-footer
        disable-pagination
      >
        <template v-slot:item.tipo="{ item }">
          {{ item.tipo | tipoOrdem }}
        </template>

        <template v-slot:item.descricao="{ item }">
          {{ item.descricao }}
          <v-icon v-if="item.orden_id">mdi-source-branch</v-icon>
        </template>

        <template v-slot:item.status="{ item }">
          <v-chip
            :color="GetOrdemStatusRow(item.status).color"
            style="min-width: 100px; max-width: 100%"
            outlined
          >
            {{ item.status | statusOrdem
            }}<b v-if="item.financeiro_status">
              &nbsp;|&nbsp; {{ item.financeiro_status | statusFinanceiro }}</b
            >
          </v-chip>
        </template>
      </v-data-table>
    </v-card>

    <v-btn
      text
      block
      :loading="loading"
      v-intersect="infiniteScrolling"
      @click="infiniteScrolling"
      v-if="Ordens.lastpage > pagination.page"
      >mais</v-btn
    >
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../../components/ToolBar.vue";

export default {
  name: "Ordens",
  data() {
    return {
      thead: [
        { text: "id", value: "id" },
        { text: "tipo", value: "tipo" },
        { text: "Equipamento", value: "descricao" },
        { text: "Status", value: "status" },
        { sortable: false },
      ],
      fabVisivel: true,
      pagination: {},
      pessoaSearch: "",
      errors: [],
    };
  },
  components: {
    ToolBar,
  },
  watch: {
    "pagination.search"() {
      clearTimeout(this.searchTimeout);
      this.searchTimeout = setTimeout(async () => {
        this.filtro(true);
      }, 500);
    },
  },
  mounted() {
    if (localStorage[this.$options.name]) {
      this.pagination = JSON.parse(localStorage[this.$options.name]);
    } else {
      this.filtro(true);
    }
  },
  computed: mapGetters({
    Ordens: "GetOrdens",
    LstStatus: "GetOrdemStatus",
    GetOrdemStatusRow: "GetOrdemStatusRow",
    loading: "GetLoadingStatus",
  }),
  methods: {
    ...mapActions(["getOrdens", "searchPessoa"]),

    filtro(limpa) {
      this.pagination.page = limpa ? 1 : (this.pagination.page += 1);
      localStorage[this.$options.name] = JSON.stringify(this.pagination);
      this.getOrdens(this.pagination);
    },

    infiniteScrolling(entries) {
      if (entries[0] == undefined || entries[0].isIntersecting) {
        this.filtro(false);
      }
    },

    getColor(status) {
      if (status == "EA") return "orange lighten-1";
      if (status == "OR") return "purple lighten-2";
      if (status == "RE") return "green lighten-1";
      if (status == "CC") return "blue lighten-1";
      if (status == "CA") return "blue-grey lighten-1";
      return "#EEEEEE";
    },

    GoOrdem(ordem) {
      this.$router.push(`/ordens/${ordem.id}`);
    },
  },
};
</script>
