<template>
  <v-card flat>
    <v-card flat>
      <tool-bar titulo="Ordem">
        <v-chip
          v-if="Ordem.status == 'RE'"
          disabled
          color="teal"
          text-color="white"
        >
          <v-avatar><v-icon>mdi-bookmark-check-outline</v-icon></v-avatar>
          Entregue
        </v-chip>

        <v-menu
          bottom
          right
          offset-y
          open-on-hover
          transition="slide-y-transition"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn dark icon v-bind="attrs" v-on="on">
              <v-icon>mdi-dots-vertical</v-icon>
            </v-btn>
          </template>

          <v-list shaped>
            <v-list-item @click="CompartilharTxt()">
              <v-list-item-action>
                <v-icon>mdi-share-variant-outline</v-icon>
              </v-list-item-action>
              <v-list-item-title>Em texto</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>

        <template v-slot:extension>
          <v-tabs v-model="tab" fixed-tabs>
            <v-tab>Geral</v-tab>
            <v-tab v-if="estendido">Estendido(s)</v-tab>
          </v-tabs>
        </template>
      </tool-bar>

      <v-form>
        <v-container grid-list-md>
          <v-tabs-items v-model="tab">
            <v-tab-item>
              <v-layout wrap>
                <v-flex sm2>
                  <v-text-field
                    label="ID ordem"
                    v-model="Ordem.id"
                    disabled
                  ></v-text-field>
                </v-flex>
                <v-flex sm6>
                  <v-text-field
                    label="Descrição do equipamento"
                    v-model="Ordem.descricao"
                    disabled
                  ></v-text-field>
                </v-flex>
                <v-flex sm4>
                  <v-select
                    :items="Status"
                    v-model="Ordem.status"
                    label="Status"
                    single-line
                    disabled
                  ></v-select>
                </v-flex>
                <v-flex sm12>
                  <v-text-field
                    label="Acessorios"
                    v-model="Ordem.acessorios"
                    disabled
                  ></v-text-field>
                </v-flex>
                <v-flex sm12>
                  <v-text-field
                    label="Defeito relatado"
                    v-model="Ordem.defeito"
                    disabled
                  ></v-text-field>
                </v-flex>

                <v-flex sm12>
                  <ordem-itens v-model="Ordem.itens" itemAvulso disabled />
                </v-flex>
              </v-layout>
              <ordem-financeiro
                v-model="Ordem.financeiro"
                v-if="Ordem.financeiro"
              />
              <ordem-anotacao v-model="Ordem.anotacoes" disabled />
              <explorer-imagem v-model="Ordem.imagens" disabled />
            </v-tab-item>
            <v-tab-item v-if="estendido">
              <ordem-parente v-model="Ordem.estendido" />
            </v-tab-item>
          </v-tabs-items>
        </v-container>
      </v-form>
    </v-card>

    <v-dialog
      v-model="prestacaoDialog"
      :fullscreen="$vuetify.breakpoint.xsOnly"
      max-width="768px"
    >
      <v-card flat>
        <v-toolbar flat dark color="primary">
          <v-toolbar-title>Prestação de conta em aberto</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon @click.native="prestacaoDialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          <v-data-table
            :headers="PrestacaoHeaders"
            :items="prestacaoAberta"
            hide-default-footer
          >
            <template v-slot:item.descricao="{ item }">
              <div v-if="item.descricao">
                {{ item.descricao }}
                <b v-if="item.variante">({{ item.variante }})</b>
              </div>
              <div>{{ item.observacao }}</div>
            </template>
            <template v-slot:item.comissao="{ item }">
              {{ item.comissao | currency }}
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../../components/ToolBar.vue";
import OrdemAnotacao from "./OrdemAnotacao";
import OrdemItens from "./OrdemItens";
import ExplorerImagem from "../../components/ExplorerImagem";
import OrdemParente from "./OrdemParente.vue";
import OrdemFinanceiro from "./OrdemFinanceiro.vue";

export default {
  data() {
    return {
      tab: 0,
      prestacaoDialog: false,
      prestacaoAberta: [],
      PrestacaoHeaders: [
        { text: "Orden ID", value: "orden_id" },
        { text: "Prestacao ID", value: "pestacao_conta_id" },
        { text: "Usuario", value: "usuario" },
        { text: "Descricao", value: "descricao" },
        { text: "comissao", value: "comissao" },
      ],
      id: this.$route.params.id,
    };
  },
  components: {
    ToolBar,
    OrdemAnotacao,
    OrdemItens,
    ExplorerImagem,
    OrdemParente,
    OrdemFinanceiro,
  },
  computed: {
    ...mapGetters({
      Ordem: "GetOrdem",
      Status: "GetOrdemStatus",
      imgbackground: "GetConfigImageBackgroud",
      Total: "GetOrdemTotal",
    }),
    estendido() {
      if (typeof this.Ordem.estendido == "object") {
        return Object.keys(this.Ordem.estendido).length > 0;
      }
      return false;
    },
  },
  async created() {
    await this.GetOrdem(this.id);
  },
  methods: {
    ...mapActions(["GetOrdem"]),

    CompartilharTxt() {
      var CorpoTxt =
        `Equipamento: ${this.Ordem.descricao ? this.Ordem.descricao : '-'} \n` +
        `Defeito: ${this.Ordem.defeito ? this.Ordem.defeito : '-'} \n`;

      this.Ordem.itens.forEach((item) => {
        let drecicao = item.descricao
          ? `${item.descricao} (${item.variante})`
          : item.observacao;

        let subtotal = item.quant * item.valor;

        CorpoTxt =
          CorpoTxt +
          `- ${drecicao} | Qtd: ${item.quant} | Vlr Unit: R$ ${item.valor} | Subtotal: R$ ${subtotal}\n`;
      });

      CorpoTxt = CorpoTxt + `Total: R$ ${this.Total}`;

      const shareData = {
        title: `Ordem de servico ${this.Ordem.id}`,
        text: CorpoTxt,
      };

      navigator.share(shareData);
    },
  },
};
</script>
<style scoped>
.tabela-preco {
  min-width: 110px !important;
  max-width: 110px !important;
}

.tabela-quant {
  min-width: 110px !important;
  max-width: 110px !important;
}
</style>
