<template>
  <div v-if="value.length">
    <v-divider></v-divider>
    <v-data-table
      :headers="headers"
      :items="value"
      @click:row="GoFinanceiro"
      disable-pagination
      disable-sort
      hide-default-footer
    >
      <template v-slot:item.valor="{ item }">
        {{ item.valor | currency }}
      </template>
      <template v-slot:item.pago="{ item }">
        {{ item.pago | currency }}
      </template>
      <template v-slot:item.estatus="{ item }">
        {{ item.estatus | statusFinanceiro }}
      </template>
    </v-data-table>
  </div>
</template>

<script>
export default {
  name: "servico-financeiro",
  props: {
    value: {
      requered: true,
      default: [],
    },
  },
  data() {
    return {
      headers: [
        { text: "ID", value: "id" },
        { text: "Valor", value: "valor" },
        { text: "Pago", value: "pago" },
        { text: "Estatus", value: "estatus" },
        { text: "Data do pag", value: "datapg" },
        { text: "Atualizado em", value: "updated_at" },
      ],
    };
  },
  methods: {
    GoFinanceiro(financeiro) {
      this.$router.push(`/financeiros/${financeiro.id}`);
    },
  },
};
</script>
