<template>
  <v-layout wrap>
    <v-flex sm12 v-if="!disabled">
      <v-textarea
        label="Anotação"
        auto-grow
        outlined
        rows="1"
        row-height="15"
        v-model="anotacaoRaw.anotacao"
        clearable
        :append-icon="anotacaoRaw.anotacao ? 'mdi-content-save' : ''"
        @click:append="saveAnotacao"
        @keyup.enter.native="saveAnotacao"
      ></v-textarea>
    </v-flex>

    <v-flex sm12>
      <v-expansion-panels accordion>
        <v-expansion-panel v-for="(item, index) in Ordem.anotacoes" :key="index">
          <v-expansion-panel-header disable-icon-rotate v-slot="{ open }">
            <v-fade-transition leave-absolute>
              <span v-if="open" key="0">
                <b>{{ item.nome }}</b> em {{ item.created_at }}
              </span>
              <span v-else key="1" class="text">
                {{ item.anotacao }}
              </span>
            </v-fade-transition>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            {{ item.anotacao }}
            <v-card-actions v-if="!disabled">
              <v-spacer></v-spacer>
              <v-btn icon @click="anotacaoRaw = item">
                <v-icon color="orange">mdi-pencil-outline</v-icon>
              </v-btn>
              <v-btn icon @click="RemoveAnotacao(index)">
                <v-icon>mdi-delete-outline</v-icon>
              </v-btn>
            </v-card-actions>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "ordem-anotacao",
  props: {
    value: {
      type: Array,
      requered: true,
      default: () => [],
    },
    disabled: Boolean,
  },
  data: () => {
    return {
      anotacaoRaw: {},
      errors: [],
    };
  },
  computed: mapGetters({
    Ordem: "GetOrdem",
    Usuario: "GetdataUser",
  }),
  methods: {
    ...mapActions([]),
    saveAnotacao() {
      let anotacaoFind = this.value.find(
        (anotacoes) => anotacoes.anotacao == this.anotacaoRaw.anotacao
      );
      if (!anotacaoFind) {
        this.anotacaoRaw["created_at"] = new Date().toLocaleDateString();
        this.anotacaoRaw["nome"] = this.Usuario.nome;
        this.value.push(this.anotacaoRaw);
        this.$emit("input", this.value);
      }
      this.anotacaoRaw = {};
    },
    RemoveAnotacao(index) {
      this.value.splice(index, 1);
      this.$emit("input", this.value);
    },
  },
};
</script>
<style scoped>
.text {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
</style>


%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
</style>
