<template>
  <v-card tile outlined>
    <v-app-bar flat :extended="!disabled">
      <v-toolbar-title class="subtitle-1">Produtos e serviços</v-toolbar-title>
      <v-spacer />
      <v-chip label>
        <v-icon small left>mdi-cash</v-icon>
        Total : {{ Total | currency }}
      </v-chip>
      <template v-slot:extension v-if="!disabled">
        <produto-search @selected="addItem" autoclear :prepend-icon="itemAvulso ? 'mdi-playlist-plus' : null"
          @prepend="addItem" />
      </template>
    </v-app-bar>
    <v-data-table :items="produtos" :headers="headers" @click:row="editItem" item-key="index" hide-default-footer
      disable-sort no-data-text="Nenhum item adicionado">

      <template v-slot:item.descricao="{ item }">
        <v-icon class="mr-1" small color="warning" v-if="item.taskPendente">mdi-alert-octagram-outline</v-icon>

        <b>{{ item.descricao }} {{ item.marca }}</b>
        <span v-if="item.variante"> ({{ item.variante }})</span>
        <span v-if="item.observacao" style="max-width: 230px;" class="d-block text-truncate"
          :class="item.descricao ? 'text--secondary font-italic' : 'text--primary'">&nbsp;{{ item.observacao }}</span>


      </template>
      <template v-slot:item.valor="{ item }">
        {{ item.valor | currency }}
      </template>
      <template v-slot:item.subtotal="{ item }">
        {{ (item.quant * item.valor) | currency }}
      </template>
    </v-data-table>

    <OrdemCheckList ref="OrdemTaskList" />

    <!-- FORM EDITOR DE ITENS -->
    <v-dialog v-model="dialogEdit" max-width="600px" :fullscreen="$vuetify.breakpoint.xsOnly" scrollable
      :persistent="!editedItem.descricao && !editedItem.observacao && !disabled">
      <v-card flat tile>
        <div v-if="editedItem.descricao">
          <v-card-title>
            {{ editedItem.descricao }} {{ editedItem.marca }}
            <v-spacer />
            <v-chip label small class="font-weight-regular">
              <v-icon left small v-if="editedItem.variante" class="text-primary">mdi-tag-multiple-outline</v-icon>
              {{ editedItem.variante }}
            </v-chip>
          </v-card-title>
          <v-card-subtitle class="text--secondary">{{ editedItem.caracteristica }}</v-card-subtitle>
          <v-divider />
        </div>
        <v-card-text style="height: auto;">
          <v-container grid-list-md>
            <v-layout wrap class="justify-space-between">
              <v-flex xs12 sm12>
                <v-textarea v-model="editedItem.observacao" label="Descrição" :disabled="disabled" maxlength="100" counter
                  clearable :autofocus="!editedItem.descricao" no-resize rows="1" auto-grow
                  :error="!editedItem.descricao && !editedItem.observacao" />
              </v-flex>

              <v-flex xs3 sm2>
                <v-text-field type="number" v-model="editedItem.quant" label="Quantidade" :disabled="disabled" />
              </v-flex>

              <v-flex xs4 sm2>
                <v-currency-field v-model="editedItem.valor" label="Valor" :disabled="disabled" />
              </v-flex>

              <v-flex xs3 sm2>
                <v-text-field label="Comissão" v-model="editedItem.comissao" suffix="%" v-mask="'###'"
                  :disabled="!!editedItem.id || disabled"></v-text-field>
              </v-flex>

              <v-flex xs6 sm2>
                <v-text-field label="Comissão" prefix="R$" :value="comissaoEmReal | currency" disabled>
                </v-text-field>
              </v-flex>

              <v-flex xs6 sm2>
                <v-text-field label="Lucro" prefix="R$" :value="lucro | currency" disabled>
                </v-text-field>
              </v-flex>

              <v-flex xs6 sm3>
                <v-select v-model="editedItem.usuario_id" :items="usuarios" label="Usuário" item-text="nome"
                  item-value="id" hide-selected hide-no-data :disabled="disabled"></v-select>
              </v-flex>

              <v-flex xs6 sm4>
                <v-text-field v-model="editedItem.codigo" label="Código" disabled></v-text-field>
              </v-flex>

              <v-flex xs4 sm4>
                <v-text-field v-model="editedItem.medida" label="Medida" disabled></v-text-field>
              </v-flex>

              <v-flex xs4 sm4>
                <v-text-field v-model="editedItem.estoque" label="Em estoque" disabled />
              </v-flex>

              <v-flex xs4 sm4>
                <v-select label="Tipo" v-model="editedItem.tipo" :items="[
                  { value: 'p', text: 'Produto' },
                  { value: 's', text: 'Serviço' },
                  { value: null, text: 'Avulso' },
                ]" disabled></v-select>
              </v-flex>

              <v-flex xs6 sm4>
                <v-text-field v-model="editedItem.encontra_se" label="encontra-se" disabled></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-divider />
        <v-card-actions class="justify-space-between">
          <v-btn :disabled="disabled" color="error" text @click="removeItem(editedItem)">
            Apagar
          </v-btn>
          <v-btn color="primary" text @click="$refs.OrdemTaskList.open(editedItem)"
            v-if="editedItem.hasOwnProperty('tasklist') && editedItem.tasklist != null">
            Tarefas
          </v-btn>
          <v-btn color="primary" text @click="dialogEdit = false"
            :disabled="!editedItem.descricao && !editedItem.observacao && !disabled">
            Fechar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ProdutoSearch from "../produto/ProdutoSearch";
import InputProdutoObservacao from "../shared/InputProdutoObservcao";
import OrdemCheckList from "./OrdemCheckList.vue";

export default {
  name: "ordem-itens",
  props: {
    value: {
      type: Array,
      requered: true,
      default: () => [],
    },
    // pode adicionar itens avulso
    itemAvulso: Boolean,
    disabled: Boolean,
  },
  data() {
    return {
      headers: [
        { text: "Descrição", value: "descricao" },
        { text: "Quantidade", value: "quant" },
        { text: "Valor", value: "valor" },
        { text: "Subtotal", value: "subtotal" },
      ],
      comissaoPorCento: 0,
      id: this.$route.params.id,
      select: null,
      alert: false,
      dialogEdit: false,
      editedItem: [],
      dialogTasklist: false,
      tasksListNow: [],
    };
  },
  components: {
    ProdutoSearch,
    InputProdutoObservacao,
    OrdemCheckList,
  },
  async created() {
    this.listUsuario();
  },
  computed: {
    ...mapGetters({
      usuarios: "ListUsuario",
      Total: "GetOrdemTotal",
    }),
    produtos() {
      return this.value.filter((item) => {
        if (item.hasOwnProperty("tasklist") && item.tasklist !== null) {
          item.taskPendente = item.tasklist.filter((task) => !task.done).length;
        }
        return item;
      });
    },
    comissaoEmReal() {
      return (this.editedItem.valor / 100) * this.editedItem.comissao;
    },
    lucro() {
      return (
        this.editedItem.valor -
        this.editedItem.custo -
        (this.editedItem.valor / 100) * this.editedItem.comissao
      );
    },
  },
  methods: {
    ...mapActions(["listUsuario"]),
    addItem(prod) {
      const defaultItem = {
        observacao: "",
        quant: 1,
        valor: 1,
        comissao: 0,
      };

      const item = prod ? {
        id: prod.id,
        descricao: prod.descricao,
        variante: prod.variante,
        observacao: null,
        marca: prod.marca,
        valor: prod.valor,
        comissao: prod.comissao,
        usuario_id: prod.usuario_id,
        quant: 1,
        estoque: prod.estoque,
        tasklist: prod.tasklist,
      } : defaultItem;

      this.produtos.push(item);
      this.editedItem = item;
      this.dialogEdit = true;
      this.$emit("input", this.produtos);
    },
    removeItem(item) {
      var index = this.produtos.indexOf(item);
      this.produtos.splice(index, 1);
      this.$emit("input", this.produtos);
      this.dialogEdit = false;
    },
    editItem(item) {
      if (item.taskPendente) {
        this.$refs.OrdemTaskList.open(item);
      } else {
        this.editedItem = item;
        this.dialogEdit = true;
      }
    },
  },
};
</script>
<style scoped>
.tabela-preco {
  min-width: 110px !important;
  max-width: 110px !important;
}

.tabela-quant {
  min-width: 110px !important;
  max-width: 110px !important;
}
</style>
