<template>
  <v-card tile flat outlined class="overflow-hidden">
    <v-app-bar flat :extended="!disabled" scroll-target="#scrolling-techniques-4">
    <v-toolbar-title class="subtitle-1">Comentários</v-toolbar-title>
      <v-spacer />
      <v-icon v-if="anotacaoRaw.anotacao" @click="limpaAnotacao">mdi-close</v-icon>
      <v-icon v-if="anotacaoRaw.anotacao" @click="saveAnotacao" class="ml-2">mdi-comment-plus-outline</v-icon>
      <v-icon v-if="value.length" @click="show = !show" class="ml-2">{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
      <template v-slot:extension v-if="!disabled">
        <v-text-field
            id="texto"
            v-if="!disabled"
            placeholder="Adicione um comentário"
            v-model="anotacaoRaw.anotacao"
            />
      </template>
    </v-app-bar>
    <v-expand-transition>
      <v-sheet v-show="show" id="scrolling-techniques-4" class="overflow-y-auto" max-height="500">
        <v-card flat tile v-for="(item, index) in Ordem.anotacoes" :key="index">
          <v-card-title>
            <span class="body-2 font-weight-bold mr-2">{{ item.nome }} </span>
            <span class="caption font-weight-regular">{{ item.created_at }}</span>
            <v-spacer />
            <v-menu v-if="!disabled" bottom right>
              <template v-slot:activator="{ on, attrs }">
                <v-btn small icon v-bind="attrs" v-on="on">
                  <v-icon small>mdi-dots-vertical</v-icon>
                </v-btn>
              </template>
              <v-list>
                <v-list-item @click="anotacaoRaw = item">
                  <v-list-item-content>Editar</v-list-item-content>
                </v-list-item>
                <v-list-item @click="RemoveAnotacao(index)">
                  <v-list-item-title>Apagar</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
            </v-card-title>
          <v-card-text>{{ item.anotacao }}</v-card-text>
        </v-card>
    </v-sheet>
    </v-expand-transition>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "ordem-anotacao",
  props: {
    value: {
      type: Array,
      requered: true,
      default: () => [],
    },
    disabled: Boolean,
  },
  data: () => {
    return {
      isActive: false,
      anotacaoRaw: {},
      errors: [],
      show: false,
    };
  },
  computed: mapGetters({
    Ordem: "GetOrdem",
    Usuario: "GetdataUser",
    loading: "GetLoadingStatus",
  }),
  methods: {
    ...mapActions([]),
    saveAnotacao() {
      let anotacaoFind = this.value.find(
        (anotacoes) => anotacoes.anotacao == this.anotacaoRaw.anotacao
      );
      if (!anotacaoFind) {
        this.anotacaoRaw["created_at"] = new Date().toLocaleDateString();
        this.anotacaoRaw["nome"] = this.Usuario.nome;
        this.value.push(this.anotacaoRaw);
        this.$emit("input", this.value);
      }
      this.anotacaoRaw = {};
      this.show = true;
    },
    limpaAnotacao() {
      this.anotacaoRaw ={};
    },
    RemoveAnotacao(index) {
      this.value.splice(index, 1);
      this.$emit("input", this.value);
    },
  },
};
</script>
<style scoped>
.text {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
</style>
