<template>
    <v-dialog v-model="dialog" persistent max-width="800px" :fullscreen="$vuetify.breakpoint.xsOnly" scrollable>
        <v-card flat tile>
            <v-app-bar elevate-on-scroll scroll-target="#scrolling-techniques-7">
                <v-avatar v-if="Servico.status == 'RE'" color="success" size="30">
                    <v-icon color="white">mdi-check-circle-outline</v-icon>
                </v-avatar>
                <v-spacer />
                <v-chip class="ma-2" label outlined>
                    <v-icon left>mdi-cash</v-icon>
                    {{ Total | currency }}
                </v-chip>
                <v-btn icon @click="$router.push(`/servicos/${Servico.id}`)">
                    <v-icon>mdi-open-in-new</v-icon>
                </v-btn>
                <v-btn icon @click.native="dialog = false">
                    <v-icon>mdi-close</v-icon>
                </v-btn>

                <v-progress-linear :active="loading" indeterminate absolute bottom color="primary"></v-progress-linear>
            </v-app-bar>

            <v-card-text id="scrolling-techniques-7" class="overflow-y-auto" style="height: auto;">
                <v-form>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex sm2>
                                <v-text-field label="Ordem de serviço" v-model="Servico.id" disabled></v-text-field>
                            </v-flex>

                            <v-flex sm5>
                                <v-text-field label="Cliente" v-model="Servico.nome" disabled v-if="Servico.nome">
                                </v-text-field>
                            </v-flex>

                            <v-flex sm3>
                                <v-select :items="Status" v-model="Servico.status" label="Status" single-line disabled>
                                </v-select>
                            </v-flex>

                            <v-flex sm2>
                                <v-select :items="Tipo" v-model="Servico.tipo" label="Status" single-line disabled>
                                </v-select>
                            </v-flex>

                            <v-flex sm6>
                                <v-text-field label="Descrição do equipamento" v-model="Servico.descricao"
                                    v-if="Servico.descricao" disabled></v-text-field>
                            </v-flex>

                            <v-flex sm6>
                                <v-text-field label="Defeito relatado" v-model="Servico.defeito" v-if="Servico.defeito"
                                    disabled></v-text-field>
                            </v-flex>

                            <v-flex sm4>
                                <v-text-field label="Criado em" v-model="Servico.created_at" v-if="Servico.created_at"
                                    disabled></v-text-field>
                            </v-flex>

                            <v-flex sm4>
                                <v-text-field label="Pago em" v-model="Servico.datapg" v-if="Servico.datapg" disabled>
                                </v-text-field>
                            </v-flex>

                            <v-flex sm4>
                                <v-text-field label="Entregue" v-model="Servico.entregue" v-if="Servico.entregue"
                                    disabled></v-text-field>
                            </v-flex>

                            <v-flex sm12>
                                <v-text-field label="Acessórios" v-model="Servico.acessorios" v-if="Servico.acessorios"
                                    disabled></v-text-field>
                            </v-flex>

                            <v-flex xs12>
                                <ordem-itens v-model="Servico.itens" disabled />
                            </v-flex>

                            <v-flex sm12>
                                <ordem-anotacao v-model="Servico.anotacoes" disabled />
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-form>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import OrdemAnotacao from "./OrdemAnotacao";
import InputProdutoObservacao from "../shared/InputProdutoObservcao";
import OrdemItens from "./OrdemItens";

export default {
    data() {
        return {
            dialog: false,

        };
    },
    components: {
        OrdemAnotacao,
        OrdemItens,
        InputProdutoObservacao,
    },
    computed: mapGetters({
        Servico: "GetOrdem",
        Total: "GetOrdemTotal",
        Status: "GetOrdemStatus",
        Tipo: "GetOrdemTipos",
        loading: "GetLoadingStatus",
        imgbackground: "GetConfigImageBackgroud"
    }),
    methods: {
        ...mapActions(["GetOrdem", "cleanOrdem"]),
        async open(id) {
            // reset os dados do data
            Object.assign(this.$data, this.$options.data.call(this));

            this.dialog = true;


            await this.cleanOrdem();
            await this.GetOrdem(id);

            return new Promise((resolve, reject) => {
                this.resolve = resolve;
            });
        },
    },
};
</script>
<style scoped>
.tabela-preco {
    min-width: 110px !important;
    max-width: 110px !important;
}

.tabela-quant {
    min-width: 110px !important;
    max-width: 110px !important;
}
</style>
