<template>
  <v-dialog
    v-model="dialog"
    max-width="500px"
    :fullscreen="$vuetify.breakpoint.xsOnly"
    scrollable

  >
    <v-card flat tile class="taskview">
      <v-app-bar dense elevate-on-scroll scroll-target="#scrolling-techniques-7" max-height="48px">
        <v-expand-transition>
            <v-progress-linear v-if="progress" :value="progress" absolute bottom color="primary"/>
          </v-expand-transition>
        <v-toolbar-title>
          <b>{{ item.descricao }}</b>&nbsp;
           ({{ item.variante }})
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-slide-x-reverse-transition>
          <v-chip v-if="completedTasks > 0" outlined label class="mx-1"><v-icon left>mdi-clipboard-check-outline</v-icon>{{ completedTasks }}</v-chip>
        </v-slide-x-reverse-transition>
        <v-chip outlined label><v-icon left>mdi-clipboard-clock-outline</v-icon>{{ remainingTasks }}</v-chip>
        <v-btn icon @click.native="dialog = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>

      </v-app-bar>
      <v-sheet id="scrolling-techniques-7" class="overflow-y-auto" style="height: auto;">
        <v-list two-line>
          <template v-for="(task, i) in tasks">
            <v-list-item :key="task.text" @click="check(task)">
              <v-list-item-action>
                <v-checkbox @click="check(task)" v-model="task.done"/>
              </v-list-item-action>
              <v-list-item-content>
                <span class="body-2">{{ task.text }}</span>
                <v-expand-transition>
                  <v-list-item-subtitle v-if="task.usuario">Feita por <strong>{{ task.usuario}}</strong> — {{ task.data }}</v-list-item-subtitle>
                </v-expand-transition>
              </v-list-item-content>
            </v-list-item>
            <v-divider
              v-if="i < tasks.length - 1"
              :key="i"
            ></v-divider>
          </template>
        </v-list>
      </v-sheet>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "ordem-check-list",
  data() {
    return {
      item: [],
      tasks: [],
      dialog: false,
    };
  },
  computed: {
    ...mapGetters({
      Usuario: "GetdataUser",
    }),
    completedTasks() {
      return this.tasks.filter((task) => task.done).length;
    },
    progress() {
      return (this.completedTasks / this.tasks.length) * 100;
    },
    remainingTasks() {
      return this.tasks.length - this.completedTasks;
    },
  },
  methods: {
    async open(item) {
      this.dialog = true;

      this.item = item;
      this.tasks = item.tasklist;

      return new Promise((resolve, reject) => {
        this.resolve = resolve;
      });
    },
    check(task) {
      if (task.done == false) {
        task.data = new Date().toLocaleDateString();
        task.usuario = this.Usuario.nome;
        task.done = true;
      } else {
        task.data = null;
        task.usuario = null;
        task.done = false;
      }
    },
  },
};
</script>
