<template>
  <v-card flat>
    <tool-bar :refresh="refresh" titulo="Notificações">
      <v-btn icon @click.native="marcaTodasNotificacoesComoLidasClick()">
        <v-icon>mdi-check-all</v-icon>
      </v-btn>
      <v-btn icon @click.native="deleteTodasNotificacaoClick()">
        <v-icon>mdi-notification-clear-all</v-icon>
      </v-btn>
    </tool-bar>
    <v-card flat>
      <v-slide-y-transition class="py-0" group>
        <template v-for="(notificacao, i) in notificacoes.data">
          <v-divider v-if="i !== 0" :key="`${i}-divider`"></v-divider>

          <v-list-item
            :key="i"
            v-touch="{
              left: () => {
                swipeAction = i;
              },
              right: () => {
                swipeAction = null;
              },
            }"
            two-line
          >
            <v-list-item-content @click="verNotificacaoClick(notificacao)">
              <v-list-item-title
                :class="notificacao.read_at ? '' : 'font-weight-bold'"
              >
                {{ notificacao.data.titulo }}
              </v-list-item-title>
              <v-list-item-subtitle>{{
                notificacao.data.subtitulo
              }}</v-list-item-subtitle>
            </v-list-item-content>

            <v-slide-x-reverse-transition>
              <v-list-item-action
                v-if="swipeAction == i || !$vuetify.breakpoint.xsOnly"
              >
                <v-btn
                  icon
                  class="mx-0"
                  @click="deleteNotificacao(notificacao.id)"
                >
                  <v-icon color="error">mdi-delete-outline</v-icon>
                </v-btn>
              </v-list-item-action>
            </v-slide-x-reverse-transition>
          </v-list-item>
        </template>
      </v-slide-y-transition>
    </v-card>

    <confirme-dialog ref="confirm"></confirme-dialog>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../shared/ToolBar";
import ConfirmeDialog from "../shared/ConfirmeDialog";

export default {
  data() {
    return {
      thead: [{ text: "Notificacao", value: "data" }, { value: "acao" }],
      errors: [],
      swipeAction: null,
    };
  },
  created: function () {
    this.getNotificacoes();
  },
  components: {
    ConfirmeDialog,
    ToolBar,
  },
  computed: mapGetters({
    notificacoes: "GetNotificacoes",
  }),
  methods: {
    ...mapActions([
      "getNotificacoes",
      "deleteNotificacao",
      "deleteTodasNotificacao",
      "marcaLidaNotificacao",
      "marcaTodasNotificacoesComoLidas",
    ]),

    verNotificacaoClick(item) {
      this.marcaLidaNotificacao(item).then(() => {
        this.$router.push(item.data.url);
      });
    },

    deleteTodasNotificacaoClick() {
      this.$refs.confirm
        .open("Deletar", "Deseja deletar todas as notificações lidas?")
        .then((confirm) => {
          if (confirm) {
            this.deleteTodasNotificacao();
          }
        });
    },

    marcaTodasNotificacoesComoLidasClick() {
      this.$refs.confirm
        .open("Deletar", "Deseja marca todas as notificações como lidas?")
        .then((confirm) => {
          if (confirm) {
            this.marcaTodasNotificacoesComoLidas();
          }
        });
    },

    refresh() {
      this.getNotificacoes();
    },
  },
};
</script>
