<template>
  <v-dialog v-model="dialog" persistent max-width="400px">
    <v-card flat>
      <v-app-bar dense flat>
        <v-toolbar-title>{{ formTitle }}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon @click.native="save">
          <v-icon>mdi-content-save</v-icon>
        </v-btn>

        <v-btn icon @click.native="dialog = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-app-bar>
      <v-card-text>
        <v-container grid-list-md>
          <v-form @submit.prevent="save">
            <v-layout wrap>
              <v-flex sm12>
                <v-text-field
                  label="Nome da marca"
                  v-model="marca.nome"
                  required
                  :error-messages="errors.nome"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-form>
        </v-container>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      
      dialog: false,
      resolve: null,
      formTitle: null,
      errors: [],
    };
  },
  computed: mapGetters({
    marca: "GetMarca",
  }),
  methods: {
    ...mapActions(["getMarca", "saveMarca", "cleanMarca"]),
    async save() {
      await this.saveMarca(this.marca).then((response) => {
        this.errors = response.body.errors ? response.body.errors : [];
        if (response.body.success) {
          this.resolve(response.body);
          this.dialog = false;
        }
      });
    },

    open(id) {
      // reset os dados do data
      Object.assign(this.$data, this.$options.data.call(this));

      this.dialog = true;
      this.formTitle = "Nova marca";

      this.cleanMarca();

      if (id) {
        this.getMarca(id);
        this.formTitle = "Editando marca";
      }

      return new Promise((resolve, reject) => {
        this.resolve = resolve;
      });
    },
  },
};
</script>
