<template>
  <v-card
    flat
    v-touch="{
      up: () => {
        fabVisivel = false;
      },
      down: () => {
        fabVisivel = true;
      },
    }"
  >
    <tool-bar v-model="pagination.search" busca titulo="Marcas" />
    <v-card flat>
      <v-data-table
        :items="marcas.data"
        :headers="thead"
        disable-sort
        hide-default-footer
        disable-pagination
      >
        <template v-slot:item.acao="{ item }">
          <td class="justify-center px-0">
            <v-btn icon class="mx-0" @click="MarcaForm(item.id)">
              <v-icon>mdi-pencil-outline</v-icon>
            </v-btn>
            <v-btn icon class="mx-0" @click="deleteItem(item)">
              <v-icon color="pink">mdi-delete-outline</v-icon>
            </v-btn>
          </td>
        </template>
      </v-data-table>
    </v-card>

    <v-btn
      text
      block
      :loading="loading"
      v-intersect="infiniteScrolling"
      @click="infiniteScrolling"
      v-if="marcas.lastpage > pagination.page"
      >mais</v-btn
    >

    <v-fab-transition>
      <v-btn
        fab
        bottom
        right
        fixed
        dark
        color="primary"
        v-if="fabVisivel"
        @click="MarcaForm()"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-fab-transition>

    <marca-form ref="MarcaForm"></marca-form>
    <confirme-dialog ref="confirm"></confirme-dialog>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../shared/ToolBar";
import ConfirmeDialog from "../shared/ConfirmeDialog";
import MarcaForm from "../marca/MarcaForm";

export default {
  name: "Marcas",
  data() {
    return {
      thead: [
        { text: "ID", value: "id" },
        { text: "Nome", value: "nome" },
        { text: "Criado em", value: "created_at" },
        { text: "Atualizado em", value: "updated_at" },
        { value: "acao", sortable: false },
      ],
      fabVisivel: true,
      pagination: {},
      errors: [],
    };
  },

  components: {
    ToolBar,
    ConfirmeDialog,
    MarcaForm,
  },
  watch: {
    "pagination.search"() {
      clearTimeout(this.searchTimeout);
      this.searchTimeout = setTimeout(async () => {
        this.filtro(true);
      }, 500);
    },
  },
  mounted() {
    if (localStorage[this.$options.name]) {
      this.pagination = JSON.parse(localStorage[this.$options.name]);
    } else {
      this.filtro(true);
    }
  },
  computed: mapGetters({
    marcas: "GetMarcas",
    loading: "GetLoadingStatus",
  }),
  methods: {
    ...mapActions(["getMarcas", "deleteMarca"]),

    filtro(limpa) {
      this.pagination.page = limpa ? 1 : (this.pagination.page += 1);
      localStorage[this.$options.name] = JSON.stringify(this.pagination);
      this.getMarcas(this.pagination);
    },

    infiniteScrolling(entries) {
      if (entries[0] == undefined || entries[0].isIntersecting) {
        this.filtro(false);
      }
    },

    MarcaForm(id) {
      this.$refs.MarcaForm.open(id).then((confirm) => {
        if (confirm) {
          this.getMarcas(this.pagination);
        }
      });
    },

    deleteItem(item) {
      this.$refs.confirm
        .open("Apagar", `Deseja apagar ${item.nome}?`)
        .then((confirm) => {
          if (confirm) {
            this.deleteMarca(item.id).then((response) => {
              this.errors = response.body.errors ? response.body.errors : [];
              if (response.body.success) {
                this.getMarcas(this.pagination);
              }
            });
          }
        });
    },
  },
};
</script>
