<template>
  <v-dialog
    v-model="dialog"
    persistent
    max-width="600px"
    :fullscreen="$vuetify.breakpoint.xsOnly"
  >
    <v-card flat>
      <v-app-bar flat dense>
        <v-toolbar-title>{{ formTitle }}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon @click.native="save">
          <v-icon>mdi-content-save</v-icon>
        </v-btn>

        <v-btn icon @click.native="dialog = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-app-bar>
      <v-card-text>
        <v-container grid-list-md>
          <v-form @keyup.enter.native="save">
            <v-layout wrap>
              <v-flex sm6>
                <v-autocomplete
                  @change="selectEstado"
                  label="Estado"
                  v-model="estado_id"
                  :error-messages="errors.estado_id"
                  item-text="nome"
                  item-value="id"
                  :items="estados"
                  required
                ></v-autocomplete>
              </v-flex>
              <v-flex sm6>
                <v-autocomplete
                  @change="selectCidade"
                  label="Cidade"
                  v-model="cidade_id"
                  :error-messages="errors.cidade_id"
                  item-text="nome"
                  item-value="id"
                  :items="cidades"
                  required
                ></v-autocomplete>
              </v-flex>
              <v-flex sm6>
                <v-autocomplete
                  label="Bairro"
                  v-model="rua.bairro_id"
                  :error-messages="errors.bairro_id"
                  item-text="nome"
                  item-value="id"
                  :items="bairros"
                  required
                ></v-autocomplete>
              </v-flex>
              <v-flex sm6>
                <v-text-field
                  label="Rua"
                  v-model="rua.nome"
                  required
                  :error-messages="errors.nome"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-form>
        </v-container>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      estado_id: null,
      cidade_id: "",
      dialog: false,
      resolve: null,
      formTitle: null,
      errors: [],
    };
  },
  computed: mapGetters({
    estados: "ListEstado",
    cidades: "ListCidade",
    bairros: "ListBairro",
    rua: "GetRua",
  }),
  methods: {
    ...mapActions([
      "getRua",
      "saveRua",
      "cleanRua",
      "listEstado",
      "listCidade",
      "listBairro",
    ]),
    async save() {
      await this.saveRua(this.rua).then((response) => {
        this.errors = response.body.errors ? response.body.errors : [];
        if (response.body.success) {
          this.dialog = false;
          this.resolve(response.body);
        }
      });
    },

    async open(id, estado_id, cidade_id, bairro_id) {
      // reset os dados do data
      Object.assign(this.$data, this.$options.data.call(this));

      this.dialog = true;
      this.formTitle = "Nova rua";

      this.cleanRua();

      await this.listEstado();

      if (id) {
        await this.getRua(id);
        await this.listCidade(this.rua.estado_id);
        await this.listBairro(this.rua.cidade_id);
        this.estado_id = this.rua.estado_id;
        this.cidade_id = this.rua.cidade_id;
        this.formTitle = "Editando Rua";
      }

      if (estado_id) {
        this.estado_id = estado_id;
      }

      if (cidade_id) {
        this.cidade_id = cidade_id;
      }

      if (bairro_id) {
        this.rua.bairro_id = bairro_id;
      }

      return new Promise((resolve, reject) => {
        this.resolve = resolve;
      });
    },

    async selectEstado(id) {
      await this.listCidade(id);
    },

    async selectCidade(id) {
      await this.listBairro(id);
    },
  },
};
</script>
