<template>
  <v-card
    flat
    v-touch="{
      up: () => {
        fabVisivel = false;
      },
      down: () => {
        fabVisivel = true;
      },
    }"
  >
    <tool-bar v-model="pagination.search" busca titulo="Categorias" />
    <v-card flat>
      <v-data-table
        :items="categorias.data"
        :headers="thead"
        disable-sort
        hide-default-footer
        disable-pagination
      >
        <template v-slot:item.acao="{ item }">
          <v-btn icon class="mx-0" @click="CategoriaForm(item.id)">
            <v-icon>mdi-pencil-outline</v-icon>
          </v-btn>
          <v-btn icon class="mx-0" @click="deleteItem(item)">
            <v-icon color="pink">mdi-delete-outline</v-icon>
          </v-btn>
        </template>
      </v-data-table>
    </v-card>

    <v-btn
      text
      block
      :loading="loading"
      v-intersect="infiniteScrolling"
      @click="infiniteScrolling"
      v-if="categorias.lastpage > pagination.page"
      >mais</v-btn
    >

    <v-fab-transition>
      <v-btn
        fab
        bottom
        right
        fixed
        dark
        color="primary"
        v-if="fabVisivel"
        @click="CategoriaForm()"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-fab-transition>

    <categoria-form ref="CategoriaForm"></categoria-form>
    <confirme-dialog ref="confirm"></confirme-dialog>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ConfirmeDialog from "../shared/ConfirmeDialog";
import CategoriaForm from "../categoria/CategoriaForm";
import ToolBar from "../shared/ToolBar";

export default {
  name: "Categorias",
  data() {
    return {
      thead: [
        { text: "ID", value: "id" },
        { text: "Nome", value: "nome" },
        { text: "Criado em", value: "created_at" },
        { text: "Atualizado em", value: "updated_at" },
        { value: "acao" },
      ],
      fabVisivel: true,
      pagination: {},
      errors: [],
    };
  },

  components: {
    ToolBar,
    ConfirmeDialog,
    CategoriaForm,
  },
  watch: {
    "pagination.search"() {
      clearTimeout(this.searchTimeout);
      this.searchTimeout = setTimeout(async () => {
        this.filtro(true);
      }, 500);
    },
  },
  mounted() {
    if (localStorage[this.$options.name]) {
      this.pagination = JSON.parse(localStorage[this.$options.name]);
    } else {
      this.filtro(true);
    }
  },
  computed: mapGetters({
    categorias: "GetCategorias",
    loading: "GetLoadingStatus",
  }),
  methods: {
    ...mapActions(["getCategorias", "deleteCategoria"]),

    filtro(limpa) {
      this.pagination.page = limpa ? 1 : (this.pagination.page += 1);
      localStorage[this.$options.name] = JSON.stringify(this.pagination);
      this.getCategorias(this.pagination);
    },

    infiniteScrolling(entries) {
      if (entries[0] == undefined || entries[0].isIntersecting) {
        this.filtro(false);
      }
    },

    CategoriaForm(id) {
      this.$refs.CategoriaForm.open(id).then((confirm) => {
        if (confirm) {
          filtro(true);
        }
      });
    },

    deleteItem(item) {
      this.$refs.confirm
        .open("Apagar", `Deseja apagar a categoria ${item.nome}?`)
        .then((confirm) => {
          if (confirm) {
            this.deleteCategoria(item.id).then((response) => {
              this.errors = response.body.errors ? response.body.errors : [];
              if (response.body.success) {
                filtro(true);
              }
            });
          }
        });
    },
  },
};
</script>
