<template>
  <v-dialog v-model="dialog" persistent max-width="800px">
    <v-card flat>
      <v-app-bar dense flat>
        <v-toolbar-title>{{ formTitle }}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon @click.native="save">
          <v-icon>mdi-content-save</v-icon>
        </v-btn>

        <v-btn icon @click.native="dialog = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-app-bar>
      <v-card-text>
        <v-form @keyup.enter.native="save">
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex sm4>
                <v-text-field
                  label="Nome da categoria"
                  v-model="categoria.nome"
                  required
                  :error-messages="errors.nome"
                ></v-text-field>
              </v-flex>
              <v-flex sm8>
                <v-text-field
                  label="Descrição"
                  v-model="categoria.descricao"
                  :error-messages="errors.descricao"
                  hint="Descrição da categoria"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      
      dialog: false,
      resolve: null,
      formTitle: null,
      errors: [],
    };
  },
  computed: mapGetters({
    categoria: "GetCategoria",
  }),
  methods: {
    ...mapActions(["getCategoria", "saveCategoria", "cleanCategoria"]),

    async save() {
      await this.saveCategoria(this.categoria).then((response) => {
        this.errors = response.body.errors ? response.body.errors : [];

        if (response.body.success) {
          this.resolve(response.body);
        }
      });
    },

    open(id) {
      // reset os dados do data
      Object.assign(this.$data, this.$options.data.call(this));

      this.dialog = true;
      this.formTitle = "Nova categoria";

      this.cleanCategoria();

      if (id) {
        this.getCategoria(id);
        this.formTitle = "Editando a categoria";
      }

      return new Promise((resolve, reject) => {
        this.resolve = resolve;
      });
    },
  },
};
</script>
