<template>
  <div v-if="value.length">
    <v-app-bar dense flat>Anotações</v-app-bar>
    <v-card flat v-for="(anotacao, index) in value" :key="index">
      <v-card-text>
        <b> {{ anotacao.nome }} </b>
        <div>{{ anotacao.anotacao }}</div>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "Orden-Anotacoes",
  props: {
    value: {
      type: Array,
      requered: true,
      default: () => [],
    },
  },
};
</script>
