<template>
  <div v-if="value.length">
    <v-data-iterator :items="value" no-data-text="" wrap hide-default-footer>
      <template v-slot:header>
        <v-app-bar dense flat>Imagens</v-app-bar>
      </template>
      <template v-slot:default="props">
        <v-row>
          <v-col
            v-for="item in props.items"
            :key="item.name"
            sm="6"
            md="4"
            lg="3"
          >
            <v-card flat>
              <v-img
                :src="item.data"
                height="300"
                @click="ampliarImagem(item.data)"
              ></v-img>
            </v-card>
          </v-col>
        </v-row>
      </template>
    </v-data-iterator>

    <v-overlay v-model="ImagemAmpliadaOverlay" opacity="0.9">
      <v-carousel
        hide-delimiter-background
        show-arrows-on-hover
        height="auto"
        v-model="ImagemAtual"
      >
        <v-carousel-item v-for="(item, i) in value" :key="i">
          <v-img
            contain
            :max-width="$vuetify.breakpoint.width"
            :max-height="$vuetify.breakpoint.height"
            :src="item.data"
            ><v-btn
              dark
              elevation="2"
              icon
              absolute
              top
              right
              @click="ImagemAmpliadaOverlay = false"
            >
              <v-icon dark>mdi-close</v-icon>
            </v-btn></v-img
          >
        </v-carousel-item>
      </v-carousel>
    </v-overlay>
  </div>
</template>

<script>
export default {
  name: "explorer-imagem",
  props: {
    value: {
      type: Array,
      requered: true,
      default: () => [],
    },
    errorMessages: {
      default: null,
    },
  },
  data() {
    return {
      errorMessagesLocal: null,
      ImagemAmpliadaOverlay: false,
      ImagemAtual: 0,
    };
  },
  methods: {
    addImage(imagem) {
      this.value.push(imagem);
      this.$emit("input", this.value);
    },
    removeImagem(imagem) {
      let Index = this.value.indexOf(imagem);
      this.value.splice(Index, 1);
    },
    AddEstrela(imagem) {
      let ImagemEstrela = this.value.find((imagem) => imagem.estrela == true);
      if (ImagemEstrela) {
        ImagemEstrela.estrela = false;
      }
      this.$set(imagem, "estrela", true);
    },
    async CompartilhaImage(img) {
      const extencao = img.tipo.split("/").pop();
      const nomeImg = img.nome ? img.nome : Math.random() * 100;
      const nomeFile = `${nomeImg}.${extencao}`;

      const response = await fetch(img.data);
      const blob = await response.blob();
      const file = await new File([blob], nomeFile, { type: img.tipo });

      if (navigator.canShare && navigator.canShare({ files: [file] })) {
        navigator.share({ files: [file] });
      } else {
        alert("Seu sistema suporta compartilhamento de arquivos");
      }
    },
    async DownloadImage(img) {
      var a = document.createElement("a");
      let nomeImg = img.nome ? img.nome : "imagem";
      var nome = "SGC-" + nomeImg;
      a.setAttribute("download", nome);
      a.setAttribute("href", img.data);
      document.body.appendChild(a);
      a.click();
      a.remove();
    },
    ampliarImagem(data) {
      let Index = this.value.findIndex((imagem) => imagem.data === data);
      this.ImagemAtual = Index;
      this.ImagemAmpliadaOverlay = true;
    },
  },
};
</script>
