<template>
  <div>
    <v-expansion-panels>
      <v-expansion-panel :readonly="!value.length">
        <v-expansion-panel-header>
          Arquivos anexados
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-data-iterator
            :items="value"
            no-data-text=""
            hide-default-footer
            wrap
            v-if="!disabled"
          >
            <template v-slot:default="props">
              <v-row>
                <v-col
                  v-for="item in props.items"
                  :key="item.name"
                  sm="6"
                  md="4"
                  lg="3"
                >
                  <v-card flat>
                    <v-text-field
                      v-model="item.nome"
                      full-width
                      hide-details
                      :disabled="disabled"
                    ></v-text-field>
                    <v-card-actions>
                      {{ item.tamanho | bytes }}
                      <v-spacer></v-spacer>
                      <v-btn icon>
                        <v-icon>mdi-share-variant-outline</v-icon>
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-col>
              </v-row>
            </template>
          </v-data-iterator>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>

<script>
export default {
  name: "File-Manager",
  props: {
    value: {
      type: Array,
      requered: true,
      default: () => [],
    },
    errorMessages: {
      default: null,
    },
    disabled: Boolean,
  },
  data() {
    return {
      errorMessagesLocal: null,

      file: null,
    };
  },
  methods: {
    onChange(e) {
      let file = e.target.files[0];
      if (!file) return false;

      if (file.size > 1024 * 1024) {
        e.preventDefault();
        alert("Arquivo maior que o permitido (> 1MB)");
        return false;
      }

      this.file = file;

      var reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = this.addFile;
    },
  },
};
</script>
<style scoped>
input {
  display: none;
  visibility: hidden;
}
</style>
