<template>
  <v-timeline dense v-if="value.length">
    <v-timeline-item v-for="item in value" :key="item.id">
      <template v-slot:icon>
        <v-avatar>
          <img :src="item.user.imagem" v-if="item.user" />
        </v-avatar>
      </template>
      <strong
        >{{ item.user ? item.user.nome : null }} - {{ item.event }}
        {{ item.created_at | moment("DD/MM/YYYY h:mm:ss") }}</strong
      >
      <v-divider></v-divider>
      <ul>
        <li v-for="(valor, chave) in item.new_values" :key="chave">
          <!-- ANTIGOS DADOS -->
          <strong>{{ chave }}: </strong>

          <ul v-if="typeof item.old_values[chave] === 'object'">
            <li v-for="item in item.old_values[chave]" :key="item.anotacao">
              <div v-for="(subvalor, subchave) in item" :key="subchave">
                {{ subchave }} : {{ subvalor }}
              </div>
            </li>
          </ul>
          <span v-else>
            {{ item.old_values[chave] }}
          </span>

          <v-icon>mdi-arrow-right</v-icon>

          <!-- NOVOS DADOS -->
          <ul v-if="typeof valor === 'object'">
            <li v-for="item in valor" :key="item.anotacao">
              <div v-for="(subvalor, subchave) in item" :key="subchave">
                {{ subchave }} : {{ subvalor }}
              </div>
            </li>
          </ul>
          <span v-else>
            {{ valor }}
          </span>
        </li>
      </ul>
    </v-timeline-item>
  </v-timeline>
</template>

<script>
export default {
  name: "historicos",
  props: {
    value: {
      type: Array,
      requered: true,
      default: () => [],
    },
  },
};
</script>
