<template>
  <v-dialog v-model="dialog" width="500" persistent no-click-animation>
    <v-card flat>
      <v-progress-linear
        :active="loading"
        :indeterminate="loading"
        absolute
        top
        color="primary"
      ></v-progress-linear>
      <v-card-title> Login </v-card-title>
      <v-card-text>
        <v-form @keyup.enter.native="DoLogin">
          <v-text-field
            v-model="LoginDada.usuario"
            label="C.P.F / C.N.P.J"
            prepend-icon="mdi-account"
            type="tel"
            required
            v-mask="['###.###.###-##', '##.###.###/####-##']"
          ></v-text-field>
          <v-text-field
            v-model="LoginDada.senha"
            :append-icon="senhaShow ? 'mdi-eye-off-outline' : 'mdi-eye-outline'"
            :rules="senhaRules"
            :type="senhaShow ? 'text' : 'password'"
            label="Senha"
            prepend-icon="mdi-form-textbox-password"
            counter
            @click:append="senhaShow = !senhaShow"
          ></v-text-field>
        </v-form>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-btn text block @click="DoLogin">Entrar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { mask } from "vue-the-mask";

export default {
  name: "login-form",
  data() {
    return {
      LoginDada: {
        usuario: "",
        senha: "",
      },
      senhaShow: false,
      senhaRules: [
        (v) => !!v || "A senha é obrigatorio",
        (v) => (v && v.length >= 6) || "A senha requer pelomenos 6 caractere",
      ],
      dialog: true,
    };
  },
  directives: { mask },
  methods: {
    ...mapActions([
      "GoLogin",
      "setToken",
      "GetAuthenticatedUser",
      "setUrlRoot",
    ]),
    DoLogin() {
      this.GoLogin(this.LoginDada);
    },
  },
  computed: mapGetters ({
    loading: "GetLoadingStatus",
  }),
};
</script>
