<template>
  <div>
    <v-snackbar
      v-for="(item, i) in items"
      :key="i"
      :value="i >= 0"
      :timeout="-1"
      :color="item.type"
      :right="true"
      :bottom="true"
      :multi-line="true"
      text
      shaped
    >
      {{ item.message }}

      <template v-slot:action="{ attrs }">
        <v-btn
          @click="removeItem(item.id)"
          text
          v-bind="attrs"
          v-if="items.length > 1"
        >
          <b>( {{ items.length - 1 }} )</b> <v-icon>mdi-arrow-right</v-icon>
        </v-btn>
        <v-btn @click="removeItem(item)" text icon v-bind="attrs" v-else>
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "SnackbarSgc",
  data: () => ({
    timeoutId: null,
    processing: false,
  }),
  props: {
    timeout: {
      required: false,
      default: 4000,
    },
    color: {
      required: false,
      default: "error",
    },
  },
  computed: mapGetters({
    items: "GetSnackbarMsg",
  }),
  methods: {
    ...mapActions(["RemoveSnackbar"]),
    processItems() {
      if (
        this.items &&
        Array.isArray(this.items) &&
        this.items.length > 0 &&
        !this.processing
      ) {
        this.processing = true;
        this.timeoutId = setTimeout(() => {
          this.removeItem(this.items[0]);
        }, this.timeout);
      }
    },
    removeItem(item) {
      // clearTimeout é nescessario para caso o usuario click em proximo ele reseta o time para não ultizar o time do snack anterior
      clearTimeout(this.timeoutId)
      this.processing = false;
      this.RemoveSnackbar(item);
    },
  },
  watch: {
    items() {
      this.processItems();
    },
  },
};
</script>
<template>
  <div>
    <v-snackbar
      v-for="(item, i) in items"
      :key="i"
      :value="i >= 0"
      :timeout="-1"
      :color="item.type"
      :right="true"
      :bottom="true"
      :multi-line="true"
      text
      shaped
    >
      {{ item.message }}

      <template v-slot:action="{ attrs }">
        <v-btn
          @click="removeItem(item.id)"
          text
          v-bind="attrs"
          v-if="items.length > 1"
        >
          <b>( {{ items.length - 1 }} )</b> <v-icon>mdi-arrow-right</v-icon>
        </v-btn>
        <v-btn @click="removeItem(item)" text icon v-bind="attrs" v-else>
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "SnackbarSgc",
  data: () => ({
    timeoutId: null,
    processing: false,
  }),
  props: {
    timeout: {
      required: false,
      default: 4000,
    },
    color: {
      required: false,
      default: "error",
    },
  },
  computed: mapGetters({
    items: "GetSnackbarMsg",
  }),
  methods: {
    ...mapActions(["RemoveSnackbar"]),
    processItems() {
      if (
        this.items &&
        Array.isArray(this.items) &&
        this.items.length > 0 &&
        !this.processing
      ) {
        this.processing = true;
        this.timeoutId = setTimeout(() => {
          this.removeItem(this.items[0]);
        }, this.timeout);
      }
    },
    removeItem(item) {
      // clearTimeout é nescessario para caso o usuario click em proximo ele reseta o time para não ultizar o time do snack anterior
      clearTimeout(this.timeoutId)
      this.processing = false;
      this.RemoveSnackbar(item);
    },
  },
  watch: {
    items() {
      this.processItems();
    },
  },
};
</script>
