<template>
  <div>
    <v-navigation-drawer
      :clipped="$vuetify.breakpoint.mdAndUp"
      app
      v-model="drawer"
    >
      <v-list nav dense>
        <v-list-item>
          <v-list-item-avatar>
            <img v-if="DataUser.imagem != null" :src="DataUser.imagem" />
            <v-icon v-else>mdi-account-circle</v-icon>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>{{
              DataUser.fantasia == null ? DataUser.nome : DataUser.fantasia
            }}</v-list-item-title>
          </v-list-item-content>
          <v-list-item-icon @click="GoLogout()">
            <v-icon>mdi-location-exit</v-icon>
          </v-list-item-icon>
        </v-list-item>

        <v-divider></v-divider>

        <template v-for="item in items">
          <v-list-group
            v-if="item.children"
            v-model="item.model"
            :key="item.text"
          >
            <v-list-item slot="activator">
              <v-list-item-content>
                <v-list-item-title>{{ item.text }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-list-item
              v-for="(child, i) in item.children"
              :key="i"
              :to="child.to"
            >
              <v-list-item-action v-if="child.icon">
                <v-icon>{{ child.icon }}</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>{{ child.text }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-group>

          <v-list-item v-else :key="item.text" :to="item.to">
            <v-list-item-action v-if="item.icon">
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>{{ item.text }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>

        <v-list-item @click="install" v-if="deferredPrompt">
          <v-list-item-action>
            <v-icon>mdi-briefcase-download</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Instalar</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <template v-slot:append>
        <v-list>
          <v-list-item to="/notificacoes">
            <v-list-item-action>
              <v-badge
                color="green"
                v-if="GetNotificacaoNaoLida.length"
                :content="GetNotificacaoNaoLida.length"
              >
                <v-icon>mdi-bell-outline</v-icon>
              </v-badge>
              <v-icon v-else>mdi-bell-outline</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Notificações</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </template>
    </v-navigation-drawer>

    <!-- Toolbar -->
    <v-app-bar
      app
      :clipped-left="$vuetify.breakpoint.mdAndUp"
      color="primary"
      hide-on-scroll
      fixed
      dark
    >
      <v-toolbar-title>
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <span
          v-if="
            (!ativoBusca && BuscaInterna == null) || $vuetify.breakpoint.smAndUp
          "
        >
          {{ titulo }}</span
        >
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <slot name="bodybar" v-if="hasBodyBarSlot"></slot>

      <v-text-field
        label="Buscar"
        single-line
        hide-details
        flat
        autofocus
        clearable
        :append-icon="IconeFechaBusca"
        @click:append="
          ativoBusca = false;
          BuscaUpdate(null);
        "
        :value="BuscaInterna"
        @input="BuscaUpdate"
        v-if="ativoBusca || (BuscaInterna != null && busca == true)"
      ></v-text-field>
      <v-btn
        icon
        class="mx-0"
        v-if="!ativoBusca && BuscaInterna == null && busca == true"
        @click="ativoBusca = true"
      >
        <v-icon>mdi-magnify</v-icon>
      </v-btn>

      <slot></slot>

      <v-btn icon @click="$router.go(-1)" class="hidden-sm-and-down">
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>
      <v-btn icon @click="$router.go(1)" class="hidden-sm-and-down">
        <v-icon>mdi-arrow-right</v-icon>
      </v-btn>

      <template v-slot:extension v-if="hasExtensionSlot">
        <slot name="extension"></slot>
      </template>

      <v-progress-linear
        :active="loading"
        :indeterminate="loading"
        absolute
        bottom
        striped
        color="black"
      ></v-progress-linear>
    </v-app-bar>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import menus from "../store/menu.json";

export default {
  name: "toolbar",
  props: {
    value: {
      type: String,
      default: null,
    },
    busca: {
      type: Boolean,
      default: false,
    },
    titulo: {
      type: String,
      default: null,
    },
  },

  data() {
    return {
      drawer: null,
      deferredPrompt: null,
      ativoBusca: false,
      items: menus,
    };
  },

  computed: {
    ...mapGetters({
      DataUser: "GetdataUser",
      loading: "GetLoadingStatus",
      imgbackground: "GetConfigImageBackgroud",
      GetNotificacaoNaoLida: "GetNotificacaoNaoLida",
    }),
    hasExtensionSlot() {
      return !!this.$slots.extension;
    },
    hasBodyBarSlot() {
      return !!this.$slots.bodybar;
    },
    BuscaInterna(val) {
      return val.value;
    },
    IconeFechaBusca() {
      if (this.BuscaInterna) {
        return null;
      } else {
        return "mdi-magnify-remove-outline";
      }
    },
  },

  mounted() {
    window.addEventListener("beforeinstallprompt", (e) => {
      e.preventDefault();
      this.deferredPrompt = e;
    });

    window.addEventListener("appinstalled", () => {
      this.deferredPrompt = null;
    });
    this.getNotificacoes();
  },

  methods: {
    ...mapActions(["GoLogout", "getNotificacoes", "AddSnackbar"]),

    perfil() {
      this.$router.push("/usuarios");
    },

    BuscaUpdate(val) {
      this.$emit("input", val);
    },

    install() {
      this.deferredPrompt.prompt();
      this.deferredPrompt.userChoice.then((choiceResult) => {
        if (choiceResult.outcome === "accepted") {
          this.AddSnackbar({
            message: "Instalação aceita",
            type: "success",
          });
        } else {
          this.AddSnackbar({
            message: "Instalação recusada pelo o usuario",
            type: "error",
          });
        }
        this.deferredPrompt = null;
      });
    },
  },
};
</script>
