<template>
  <v-card flat>
    <tool-bar titulo="Faturar">
      <v-chip label outlined v-if="compra.id">
        <v-icon left>mdi-label</v-icon>
        {{ compra.id }}
      </v-chip>
      <v-chip label outlined>
        <v-icon left>mdi-label</v-icon>
        {{ TotalGeral | currency }}
      </v-chip>
      <v-btn icon @click.native="save">
        <v-icon>mdi-content-save</v-icon>
      </v-btn>
    </tool-bar>
    <v-card-text>
      <v-form>
        <v-container grid-list-md>
          <v-layout wrap>
            <v-flex sm5>
              <v-autocomplete
                label="Fornecedor"
                :items="PessoaList"
                clearable
                no-filter
                open-on-clear
                hide-no-data
                hide-selected
                hide-details
                item-text="nome"
                item-value="id"
                :search-input.sync="pessoaSearch"
                v-model="compra.pessoa_id"
                :error-messages="errors.pessoa_id"
                append-outer-icon="mdi-plus"
                @click:append-outer="PessoaForm()"
              ></v-autocomplete>
            </v-flex>
            <v-flex sm2>
              <v-select
                label="Pagamento"
                v-model="compra.formapg_id"
                :error-messages="errors.formapg_id"
                item-text="descricao"
                item-value="id"
                single-line
                :items="formapgList"
                required
              ></v-select>
            </v-flex>
            <v-flex sm1>
              <v-select
                label="X"
                v-model="parcela"
                :error-messages="errors.parcela_id"
                item-text="nparcela"
                item-value="id"
                single-line
                return-object
                :items="parcelaList"
                required
              >
                <template slot="item" slot-scope="data">
                  <v-list-item-content>
                    <v-list-item-title
                      >{{ data.item.nparcela }} X</v-list-item-title
                    >
                  </v-list-item-content>
                  <v-list-item-action>
                    <v-list-item-action-text
                      >{{ data.item.juros }}%</v-list-item-action-text
                    >
                  </v-list-item-action>
                </template>
              </v-select>
            </v-flex>
            <v-flex sm3>
              <v-text-field
                label="Total"
                v-model="ParcelasComTotal"
                disabled
              ></v-text-field>
            </v-flex>
            <v-flex sm1>
              <v-checkbox label="Pago" v-model="compra.pgstatus"></v-checkbox>
            </v-flex>

            <v-flex sm2>
              <input-calendario
                v-model="compra.vencimento"
                label="Vencimento"
              ></input-calendario>
            </v-flex>
            <v-flex sm1>
              <v-currency-field
                label="Acréscimo"
                v-model="compra.acrescimo"
              ></v-currency-field>
            </v-flex>
            <v-flex sm1>
              <v-currency-field
                label="Desconto"
                v-model="compra.desconto"
              ></v-currency-field>
            </v-flex>
            <v-flex sm1>
              <v-currency-field
                label="Frete"
                v-model="compra.frete"
              ></v-currency-field>
            </v-flex>
            <v-flex sm2>
              <v-currency-field
                label="Valor pago"
                v-model="compra.valorpg"
              ></v-currency-field>
            </v-flex>
            <v-flex sm3>
              <v-text-field
                label="Documento"
                v-model="compra.documento"
              ></v-text-field>
            </v-flex>
            <v-flex sm2>
              <v-text-field
                label="Codigo de rastreio"
                v-model="compra.codigo_rastreio"
              ></v-text-field>
            </v-flex>
          </v-layout>
          <ordem-anotacao v-model="compra.anotacoes"></ordem-anotacao>
          <explorer-imagem v-model="compra.imagens" />
        </v-container>
      </v-form>
    </v-card-text>

    <v-dialog
      v-model="dialog"
      max-width="500px"
      persistent
      :fullscreen="$vuetify.breakpoint.xsOnly"
    >
      <v-card flat>
        <v-card-title class="headline">Ops, um probleminha</v-card-title>
        <v-card-text
          >Você esqueceu de colocar os itens no carrinho.</v-card-text
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text to="/compras/cart">ok</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <confirme-dialog ref="confirm" />
    <pessoa-form ref="PessoaForm" />
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../shared/ToolBar";
import ConfirmeDialog from "../shared/ConfirmeDialog";
import InputCalendario from "../shared/InputCalendario";
import OrdemAnotacao from "../ordem/OrdemAnotacao";
import PessoaForm from "../pessoa/PessoaForm";
import ExplorerImagem from "../shared/ExplorerImagem";

export default {
  data() {
    return {
      dialog: false,
      id: this.$route.params.id,
      parcela: {},
      pessoaSearch: "",
      errors: [],
    };
  },
  components: {
    ToolBar,
    InputCalendario,
    ConfirmeDialog,
    OrdemAnotacao,
    PessoaForm,
    ExplorerImagem,
  },
  watch: {
    pessoaSearch(val) {
      this.searchPessoa(val);
    },
    parcela(parcela) {
      this.compra.parcela_id = parcela.id;
    },
    compra: {
      handler: function (val) {
        if (val.pgstatus) {
          this.compra.valorpg = this.TotalGeral;
        } else {
          this.compra.valorpg = 0;
        }
      },
      deep: true,
    },
    "compra.formapg_id": "listParcela",
  },
  async created() {
    if (this.compra.itens == undefined) {
      this.dialog = true;
    }

    await this.listFormapg();

    if (this.compra.id) {
      await this.searchPessoa(this.compra.nome);

      await this.listParcela(this.compra.parcela_id);
      this.parcela = {
        id: this.compra.parcela_id,
        juros: this.compra.juros,
        nparcela: this.compra.nparcela,
      };
    }
  },
  computed: {
    ...mapGetters({
      compra: "GetOrdem",
      PessoaList: "ListPessoa",
      formapgList: "ListFormapg",
      parcelaList: "ListParcela",
      TotalItens: "GetOrdemTotal",
    }),
    ParcelasComTotal() {
      let ValorPorParcela = (
        this.TotalGeral / this.parcela.nparcela
      ).toLocaleString("pt-BR", {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2,
      });
      let totalMascara = this.TotalGeral.toLocaleString("pt-BR", {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2,
      });
      return `R$ ${ValorPorParcela} (R$ ${totalMascara})`;
    },
    TotalGeral() {
      let subtotalJuros =
        (parseFloat(this.parcela.juros) * this.TotalItens) / 100 +
        this.TotalItens;
      if (!isNaN(subtotalJuros)) {
        return (
          subtotalJuros +
          parseFloat(this.compra.acrescimo) +
          parseFloat(this.compra.frete) -
          parseFloat(this.compra.desconto)
        );
      } else {
        return parseFloat(this.TotalItens);
      }
    },
  },
  methods: {
    ...mapActions([
      "searchPessoa",
      "listFormapg",
      "listParcela",
      "FaturarCompra",
      "cleanOrdem",
    ]),

    save() {
      if (this.compra.estatus === "RE") {
        let mensagem =
          "Atenção: Essa compra já foi ENTREGUE. Ao refaturar, o financeiro pode ser " +
          "apagado e reconstruido, causando a perda do histórico.";

        this.$refs.confirm
          .open(`Deseja atualizar a compra ${this.compra.id}?`, mensagem, {
            width: 600,
          })
          .then((confirm) => {
            if (confirm) {
              this.fatura();
            }
          });
      } else {
        this.fatura();
      }
    },

    async fatura() {
      await this.FaturarCompra(this.compra).then((response) => {
        this.errors = response.body.errors ? response.body.errors : [];
        if (response.body.success) {
          this.cleanOrdem();
          this.$router.push("/compras/cart");
        }
      });
    },

    PessoaForm() {
      this.$refs.PessoaForm.open().then((pessoa) => {
        this.pessoaSearch = pessoa.Nome;
        this.compra.pessoa_id = pessoa.id;
      });
    },
  },
};
</script>
