<template>
  <v-card
    height="100%"
    v-touch="{
      up: () => {
        fabVisivel = false;
      },
      down: () => {
        fabVisivel = true;
      },
    }"
  >
    <tool-bar titulo="Compra">
      <v-chip label outlined v-if="compra.id">
        <v-icon left>mdi-label</v-icon>
        {{ compra.id }}
      </v-chip>
      <v-chip label outlined v-if="Total">
        <v-icon left>mdi-label</v-icon>
        {{ Total | currency }}
      </v-chip>
      <v-btn icon v-if="compra.itens && compra.itens.length" @click="limpar">
        <v-icon>mdi-notification-clear-all</v-icon>
      </v-btn>
      <v-btn
        icon
        v-if="compra.itens && compra.itens.length && compra.estatus !== 'RE'"
        @click.native="save"
      >
        <v-icon>mdi-content-save</v-icon>
      </v-btn>
      <v-btn
        icon
        v-if="compra.itens && compra.itens.length"
        to="/compras/faturar"
      >
        <v-icon>mdi-cash-check</v-icon>
      </v-btn>
    </tool-bar>

    <v-container grid-list-md>
      <v-layout wrap>
        <v-flex sm12>
          <ordem-itens v-model="compra.itens" />
        </v-flex>
      </v-layout>
      <ordem-anotacao v-model="compra.anotacoes" />
      <explorer-imagem v-model="compra.imagens" />
    </v-container>

    <v-fab-transition>
      <v-btn
        fab
        bottom
        right
        fixed
        dark
        v-if="fabVisivel"
        color="primary"
        @click="ProdutoForm()"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-fab-transition>

    <produto-form ref="ProdutoForm" />
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../shared/ToolBar";
import OrdemItens from "../ordem/OrdemItens";
import ProdutoForm from "../produto/ProdutoForm";
import OrdemAnotacao from "../ordem/OrdemAnotacao";
import ExplorerImagem from "../shared/ExplorerImagem";

export default {
  data() {
    return {
      id: this.$route.params.id,
      select: null,
      errors: [],
      fabVisivel: true,
    };
  },

  components: {
    ToolBar,
    ProdutoForm,
    OrdemItens,
    OrdemAnotacao,
    ExplorerImagem,
  },
  async created() {
    this.cleanOrdem();

    if (this.id) {
      await this.GetOrdem(this.id);
    }
  },
  computed: mapGetters({
    compra: "GetOrdem",
    Produto: "ListProduto",
    Total: "GetOrdemTotal",
  }),
  methods: {
    ...mapActions(["searchProduto", "GetOrdem", "saveCompra", "cleanOrdem"]),

    async save() {
      await this.saveCompra(this.compra).then((response) => {
        this.errors = response.body.errors ? response.body.errors : [];
        this.compra.id = response.body.id;
      });
    },

    ProdutoForm() {
      this.$refs.ProdutoForm.open();
    },

    limpar() {
      this.id = null;
      this.cleanOrdem();
      this.$router.push({ path: "/compras/cart", params: { id: null } });
    },
  },
};
</script>
<style scoped>
.tabela-preco {
  min-width: 50px !important;
  max-width: 100px !important;
}

.tabela-quant {
  max-width: 80px !important;
}
</style>
