<template>
  <v-card
    flat
    v-touch="{
      up: () => {
        fabVisivel = false;
      },
      down: () => {
        fabVisivel = true;
      },
    }"
  >
    <tool-bar v-model="pagination.search" busca titulo="Formas de pagamento" />
    <v-card flat>
      <v-data-table
        :items="formapgs.data"
        :headers="thead"
        disable-sort
        hide-default-footer
        disable-pagination
      >
        <template v-slot:item.custo="{ item }"> {{ item.custo }}% </template>
        <template v-slot:item.ativo="{ item }">
          {{ item.ativo | ativo }}
        </template>
        <template v-slot:item.acao="{ item }">
          <v-btn icon class="mx-0" @click="ParcelaForm(item.id)">
            <v-icon>mdi-table-edit</v-icon>
          </v-btn>
          <v-btn icon class="mx-0" @click="FormapgForm(item.id)">
            <v-icon>mdi-pencil-outline</v-icon>
          </v-btn>
          <v-btn icon class="mx-0" @click="deleteItem(item)">
            <v-icon color="pink">mdi-delete-outline</v-icon>
          </v-btn>
        </template>
      </v-data-table>
    </v-card>

    <v-btn
      text
      block
      :loading="loading"
      v-intersect="infiniteScrolling"
      @click="infiniteScrolling"
      v-if="formapgs.lastpage > pagination.page"
      >mais</v-btn
    >

    <v-fab-transition>
      <v-btn
        fab
        bottom
        right
        fixed
        dark
        color="primary"
        v-if="fabVisivel"
        @click="FormapgForm()"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-fab-transition>

    <formapg-form ref="FormapgForm"></formapg-form>
    <parcela-form ref="ParcelaForm"></parcela-form>
    <confirme-dialog ref="confirm"></confirme-dialog>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../shared/ToolBar";
import ConfirmeDialog from "../shared/ConfirmeDialog";
import ParcelaForm from "../parcela/ParcelaForm";
import FormapgForm from "./FormapgForm";

export default {
  name: "FormasPG",
  data() {
    return {
      thead: [
        { text: "ID", value: "id" },
        { text: "Descrição", value: "descricao" },
        { text: "Custo", value: "custo" },
        { text: "Status", value: "ativo" },
        { value: "acao", sortable: false },
      ],
      fabVisivel: true,
      pagination: {},
      errors: [],
    };
  },

  components: {
    ToolBar,
    ConfirmeDialog,
    FormapgForm,
    ParcelaForm,
  },
  watch: {
    "pagination.search"() {
      clearTimeout(this.searchTimeout);
      this.searchTimeout = setTimeout(async () => {
        this.filtro(true);
      }, 500);
    },
  },
  mounted() {
    if (localStorage[this.$options.name]) {
      this.pagination = JSON.parse(localStorage[this.$options.name]);
    } else {
      this.filtro(true);
    }
  },
  computed: mapGetters({
    formapgs: "GetFormapgs",
    loading: "GetLoadingStatus",
  }),
  methods: {
    ...mapActions(["getFormapgs", "deleteFormapg"]),

    filtro(limpa) {
      this.pagination.page = limpa ? 1 : (this.pagination.page += 1);
      localStorage[this.$options.name] = JSON.stringify(this.pagination);
      this.getFormapgs(this.pagination);
    },

    infiniteScrolling(entries) {
      if (entries[0] == undefined || entries[0].isIntersecting) {
        this.filtro(false);
      }
    },

    FormapgForm(id) {
      this.$refs.FormapgForm.open(id).then((confirm) => {
        if (confirm) {
          this.getFormapgs(this.pagination);
        }
      });
    },

    ParcelaForm(id) {
      this.$refs.ParcelaForm.open(id).then(() => {});
    },

    deleteItem(item) {
      this.$refs.confirm
        .open("Apagar", `Deseja apagar ${item.nome}?`)
        .then((confirm) => {
          if (confirm) {
            this.deleteFormapg(item.id)
              .then((response) => {
                this.errors = response.body.errors ? response.body.errors : [];
                this.success = response.body.success;
                this.message = response.body.message;
                this.type = response.body.type;
                this.alert = !!response.body.message;

                if (response.body.success) {
                  this.getFormapgs(this.pagination);
                }
              })
              .catch((response) => {
                this.message = response.body.message;
                this.alert = true;
              });
          }
        });
    },
  },
};
</script>
