<template>
  <v-dialog v-model="dialog" persistent max-width="500px">
    <v-card flat>
      <v-app-bar dense flat>
        <v-toolbar-title>{{ formTitle }}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon @click.native="save">
          <v-icon>mdi-content-save</v-icon>
        </v-btn>

        <v-btn icon @click.native="dialog = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-app-bar>
      <v-card-text>
        <v-container grid-list-md>
          <v-layout wrap>
            <v-flex sm6>
              <v-text-field
                label="Descrição"
                v-model="formapg.descricao"
                required
                :error-messages="errors.descricao"
              ></v-text-field>
            </v-flex>

            <v-flex sm3>
              <v-text-field
                label="Custo (%)"
                v-model="formapg.custo"
                required
                :error-messages="errors.custo"
              ></v-text-field>
            </v-flex>

            <v-flex sm3>
              <v-checkbox label="Status" v-model="formapg.ativo"></v-checkbox>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      
      dialog: false,
      resolve: null,
      formTitle: null,
      errors: [],
    };
  },
  computed: mapGetters({
    formapg: "GetFormapg",
  }),
  methods: {
    ...mapActions(["getFormapg", "saveFormapg", "cleanFormapg"]),
    async save() {
      await this.saveFormapg(this.formapg).then((response) => {
        this.errors = response.body.errors ? response.body.errors : [];
        if (response.body.success) {
          this.resolve(response.body);
          this.dialog = false;
        }
      });
    },

    open(id) {
      // reset os dados do data
      Object.assign(this.$data, this.$options.data.call(this));

      this.dialog = true;
      this.formTitle = "Nova forma de pagamento";

      this.cleanFormapg();

      if (id) {
        this.getFormapg(id);
        this.formTitle = "Editando a forma de pagamento";
      }

      return new Promise((resolve, reject) => {
        this.resolve = resolve;
      });
    },
  },
};
</script>
