<template>
  <v-card
    flat
    v-touch="{
      up: () => {
        fabVisivel = false;
      },
      down: () => {
        fabVisivel = true;
      },
    }"
  >
    <tool-bar v-model="pagination.search" busca titulo="Produtos e serviços" />

    <v-card flat>
      <v-data-table
        :items="produtos.data"
        :headers="thead"
        disable-sort
        hide-default-footer
        disable-pagination
      >
        <template v-slot:item.acao="{ item }">
          <v-btn icon class="mx-0" @click="ProdutoForm(item.id)">
            <v-icon>mdi-pencil-outline</v-icon>
          </v-btn>
          <v-btn icon class="mx-0" @click="deleteItem(item)">
            <v-icon color="pink">mdi-delete-outline</v-icon>
          </v-btn>
        </template>
      </v-data-table>
    </v-card>

    <v-btn
      text
      block
      :loading="loading"
      v-intersect="infiniteScrolling"
      @click="infiniteScrolling"
      v-if="produtos.lastpage > pagination.page"
      >mais</v-btn
    >

    <v-fab-transition>
      <v-btn
        fab
        bottom
        right
        fixed
        dark
        color="primary"
        v-if="fabVisivel"
        @click="ProdutoForm()"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-fab-transition>

    <confirme-dialog ref="confirm" />
    <produto-form ref="ProdutoForm" />
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../shared/ToolBar";
import ConfirmeDialog from "../shared/ConfirmeDialog";
import ProdutoForm from "./ProdutoForm";

export default {
  name: "Produtos",
  data() {
    return {
      thead: [
        { text: "ID", value: "id" },
        { text: "Descrição", value: "descricao" },
        { text: "Marcas", value: "marca" },
        { text: "Medida", value: "medida" },
        { value: "acao", sortable: false },
      ],
      fabVisivel: true,
      pagination: {},
      errors: [],
    };
  },

  components: {
    ToolBar,
    ConfirmeDialog,
    ProdutoForm,
  },
  watch: {
    "pagination.search"() {
      clearTimeout(this.searchTimeout);
      this.searchTimeout = setTimeout(async () => {
        this.filtro(true);
      }, 500);
    },
  },
  mounted() {
    if (localStorage[this.$options.name]) {
      this.pagination = JSON.parse(localStorage[this.$options.name]);
    } else {
      this.filtro(true);
    }
  },
  computed: mapGetters({
    produtos: "GetProdutos",
    loading: "GetLoadingStatus",
  }),
  methods: {
    ...mapActions(["getProdutos", "deleteProduto"]),

    filtro(limpa) {
      this.pagination.page = limpa ? 1 : (this.pagination.page += 1);
      localStorage[this.$options.name] = JSON.stringify(this.pagination);
      this.getProdutos(this.pagination);
    },

    infiniteScrolling(entries) {
      if (entries[0] == undefined || entries[0].isIntersecting) {
        this.filtro(false);
      }
    },

    ProdutoForm(id) {
      this.$refs.ProdutoForm.open(id).then(() => {
        this.filtro(true);
      });
    },

    deleteItem(item) {
      this.$refs.confirm
        .open("Apagar", `Deseja apagar ${item.descricao}?`)
        .then((confirm) => {
          if (confirm) {
            this.deleteProduto(item.id).then((response) => {
              this.errors = response.body.errors ? response.body.errors : [];

              if (response.body.success) {
                this.getProdutos(this.pagination);
              }
            });
          }
        });
    },
  },
};
</script>
