<template>
  <v-autocomplete
    label="Buscar produto"
    no-data-text="Produto não encontrado"
    :items="Produto"
    :item-text="Descricao"
    return-object
    clearable
    open-on-clear
    no-filter
    hide-no-data
    :search-input.sync="search"
    v-model="select"
    :prepend-icon="prependIcon ? prependIcon : null"
    @click:prepend="prepend"
    :disabled="disabled"
  >
    <template v-slot:item="{ parent, item }">
      <v-list-item-content>
        <v-list-item-title>
          {{ item.descricao }}
          <v-chip outlined small v-if="item.variante">{{
            item.variante
          }}</v-chip>
        </v-list-item-title>
        <v-list-item-subtitle v-if="item.marca || item.codigo">
          {{ item.marca }} | {{ item.codigo }}
        </v-list-item-subtitle>
      </v-list-item-content>
      <v-list-item-action>
        <v-list-item-action-text>
          {{ item.valor | currency }}
        </v-list-item-action-text>
        <v-list-item-action-text v-if="item.quant">
          STQ: {{ item.quant }}
        </v-list-item-action-text>
      </v-list-item-action>
    </template>
  </v-autocomplete>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "SearchProduto",
  props: {
    autoclear: Boolean,
    prependIcon: String,
    disabled: Boolean,
  },
  data() {
    return {
      search: null,
      select: null,
      timeout: null,
    };
  },
  watch: {
    search(val) {
      if (val != undefined) {
        this.searchProduto(val);
      }
    },
    async select(produto) {
      if (produto !== null && produto !== undefined) {
        produto["usuario"] = this.Usuario.nome;
        produto["usuario_id"] = this.Usuario.id;
        await this.$emit("selected", produto);
        if (this.autoclear) {
          this.select = null;
        }
      }
    },
  },
  computed: mapGetters({
    Produto: "ListProduto",
    Usuario: "GetdataUser",
  }),
  methods: {
    ...mapActions(["searchProduto"]),
    Descricao(produto) {
      return `${produto.descricao} ${produto.marca} ( ${produto.variante} )`;
    },
    prepend() {
      this.$emit("prepend");
    },
  },
};
</script>

<style scoped>
</style>
