<template>
  <v-dialog
    v-model="dialog"
    persistent
    max-width="1000px"
    :fullscreen="$vuetify.breakpoint.xsOnly"
  >
    <v-card tile>
      <v-app-bar :flat="$vuetify.breakpoint.smAndUp" color="primary" dark>
        <v-toolbar-title>Produto</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon @click.native="save">
          <v-icon>mdi-content-save</v-icon>
        </v-btn>
        <v-btn icon @click.native="dialog = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <template v-slot:extension>
          <v-tabs v-model="tabs" show-arrows grow color="white">
            <v-tab key="0">Geral</v-tab>
            <v-tab key="1">Estoque</v-tab>
            <v-tab key="4">Fiscais</v-tab>
          </v-tabs>
        </template>
      </v-app-bar>
      <v-container grid-list-md>
        <v-tabs-items v-model="tabs">
          <v-tab-item>
            <v-layout wrap>
              <v-flex sm8>
                <v-text-field
                  label="Nome do produto"
                  v-model="produto.descricao"
                  required
                  :error-messages="errors.descricao"
                  hint="Não inclua a marca"
                ></v-text-field>
              </v-flex>
              <v-flex sm2>
                <v-select
                  label="Tipo"
                  v-model="produto.tipo"
                  :items="[
                    { value: 'p', text: 'Produto' },
                    { value: 's', text: 'Serviço' },
                  ]"
                  :error-messages="errors.tipo"
                  required
                ></v-select>
              </v-flex>
              <v-flex sm2 v-if="produto.tipo == 'p'">
                <v-text-field
                  label="Peso"
                  v-model="produto.peso"
                  :error-messages="errors.peso"
                ></v-text-field>
              </v-flex>
              <v-flex sm12 xs12 lg12>
                <v-textarea
                outlined
                  label="Descrição do produto"
                  v-model="produto.caracteristica"
                  no-resize
                ></v-textarea>
              </v-flex>
              <v-flex sm4>
                <v-combobox
                  label="Categoria"
                  v-model="produto.categorias"
                  :error-messages="errors.categorias"
                  item-text="nome"
                  item-value="id"
                  :items="categorias"
                  small-chips
                  deletable-chips
                  multiple
                  hide-selected
                  required
                ></v-combobox>
              </v-flex>
              <v-flex sm4 v-if="produto.tipo === 'p'">
                <v-autocomplete
                  label="Medida"
                  v-model="produto.medida_id"
                  :error-messages="errors.medida_id"
                  item-text="nome"
                  item-value="id"
                  :items="medidas"
                  required
                >
                  <template v-slot:no-data>
                    <v-list-item @click="MedidaCadastro()">
                      <v-list-item-title> Adicionar medida </v-list-item-title>
                    </v-list-item>
                  </template>
                </v-autocomplete>
              </v-flex>
              <v-flex sm4 v-if="produto.tipo === 'p'">
                <v-autocomplete
                  label="Marca"
                  v-model="produto.marca_id"
                  :error-messages="errors.marca_id"
                  item-text="nome"
                  item-value="id"
                  :items="marcas"
                  required
                >
                  <template v-slot:no-data>
                    <v-list-item @click="MarcaCadastro()">
                      <v-list-item-title> Adicionar marca </v-list-item-title>
                    </v-list-item>
                  </template>
                </v-autocomplete>
              </v-flex>
            </v-layout>
          </v-tab-item>

          <v-tab-item>
            <estoque-form
              :estoques="produto.estoques"
              :tipo="produto.tipo"
              :error-messages="errors.estoques"
            />
          </v-tab-item>

          <v-tab-item>
            <v-layout wrap>
              <v-flex sm4>
                <v-autocomplete
                  v-model="produto.origem_id"
                  :items="origem"
                  item-text="descricao"
                  item-value="id"
                  clearable
                  label="Origem da mercadoria"
                ></v-autocomplete>
              </v-flex>
              <v-flex sm4>
                <v-autocomplete
                  v-model="produto.tipo_id"
                  :items="tipo"
                  item-text="descricao"
                  item-value="id"
                  clearable
                  label="Tipo"
                ></v-autocomplete>
              </v-flex>
              <v-flex sm4>
                <v-autocomplete
                  v-model="produto.ncm_id"
                  :items="ncm"
                  item-text="codigo"
                  item-value="id"
                  clearable
                  label="Nomenclatura Comum do Mercosul (NCM)"
                >
                  <template slot="item" slot-scope="{ item }">
                    <v-list-item-content>
                      <v-list-item-title
                        v-text="item.codigo"
                      ></v-list-item-title>
                      <v-list-item-subtitle
                        v-text="item.descricao"
                      ></v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </v-autocomplete>
              </v-flex>
              <v-flex sm12>
                <v-autocomplete
                  v-model="produto.cest_id"
                  :items="cest"
                  item-text="descricao"
                  item-value="id"
                  clearable
                  label="Código Especificador da Substituição Tributária"
                ></v-autocomplete>
              </v-flex>
              <v-flex sm12>
                <v-autocomplete
                  v-model="produto.cfop_id"
                  :items="cfop"
                  item-text="descricao"
                  item-value="id"
                  clearable
                  label="Código fiscal de operacoes e prestacoes (CFOP)"
                ></v-autocomplete>
              </v-flex>
            </v-layout>
            <v-layout wrap>
              <v-flex sm10>
                <v-autocomplete
                  v-model="produto.icms_id"
                  :items="icms"
                  item-text="descricao"
                  item-value="id"
                  clearable
                  label="Imposto Sobre Circulaçao de Mercadorias e Serviços (ICMS)"
                ></v-autocomplete>
              </v-flex>
              <v-flex sm2>
                <v-text-field
                  label="ICMS Alíquota (%)"
                  v-model="produto.icms"
                  :error-messages="errors.icms"
                ></v-text-field>
              </v-flex>

              <v-flex sm10>
                <v-autocomplete
                  v-model="produto.ipi_id"
                  :items="ipi"
                  item-text="descricao"
                  item-value="id"
                  clearable
                  label="Imposto Sobre os Produtos Industrializados (IPI)"
                ></v-autocomplete>
              </v-flex>
              <v-flex sm2>
                <v-text-field
                  label="IPI Alíquota (%)"
                  v-model="produto.ipi"
                  :error-messages="errors.ipi"
                ></v-text-field>
              </v-flex>

              <v-flex sm10>
                <v-autocomplete
                  v-model="produto.pis_id"
                  :items="pis"
                  item-text="descricao"
                  item-value="id"
                  clearable
                  label="Programa de Integração Social (PIS)"
                ></v-autocomplete>
              </v-flex>
              <v-flex sm2>
                <v-text-field
                  label="PIS Alíquota (%)"
                  v-model="produto.pis"
                  :error-messages="errors.pis"
                ></v-text-field>
              </v-flex>

              <v-flex sm10>
                <v-autocomplete
                  v-model="produto.cofins_id"
                  :items="cofins"
                  item-text="descricao"
                  item-value="id"
                  clearable
                  label="Contribuição para o Financiamento da Seguridade Social (COFINS)"
                ></v-autocomplete>
              </v-flex>
              <v-flex sm2>
                <v-text-field
                  label="COFINS Alíquota (%)"
                  v-model="produto.cofins"
                  :error-messages="errors.cofins"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-tab-item>
        </v-tabs-items>
      </v-container>

      <categoria-form ref="CategoriaForm" />
      <medida-form ref="MedidaForm" />
      <marca-form ref="MarcaForm" />
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import CategoriaForm from "../categoria/CategoriaForm";
import MedidaForm from "../medida/MedidaForm";
import MarcaForm from "../marca/MarcaForm";
import EstoqueForm from "./ProdutoEstoque";

export default {
  nome: "ProdutoForm",
  data() {
    return {
      formTitle: null,
      dialog: false,
      tabs: 0,
      errors: [],
      localRouterGuard: null,
    };
  },
  components: {
    CategoriaForm,
    MedidaForm,
    MarcaForm,
    EstoqueForm,
  },
  computed: {
    ...mapGetters({
      produto: "GetProduto",
      categorias: "ListCategoria",
      medidas: "ListMedida",
      marcas: "ListMarca",
      //// fiscal ////////
      cest: "cestFiscalList",
      cfop: "cfopFiscalList",
      icms: "icmsFiscalList",
      ipi: "ipiFiscalList",
      ncm: "ncmFiscalList",
      origem: "origemFiscalList",
      pis: "piscofinsFiscalList",
      cofins: "piscofinsFiscalList",
      tipo: "tipoFiscalList",
      ///////////////////
      imgbackground: "GetConfigImageBackgroud",
    }),
  },
  watch: {
    async tabs(tabId) {
      if (this.produto.id !== undefined) {
        if (tabId === 5) {
          await this.getEstoque(this.produto.id);
        }
        if (tabId === 4) {
          await this.allFiscalList();
        }
      }
    },
    dialog(val) {
      if (val == true) {
        this.localRouterGuard = this.$router.beforeEach((to, from, next) => {
          this.dialog = false;
          next(false);
        });
      } else {
        this.localRouterGuard();
      }
    },
  },
  methods: {
    ...mapActions([
      "getProduto",
      "saveProduto",
      "cleanProduto",
      "listCategoria",
      "listMedida",
      "listMarca",
      "allFiscalList",
      "getEstoque",
    ]),

    async open(id) {
      this.dialog = true;

      this.allFiscalList();
      this.listCategoria();
      this.listMedida();
      this.listMarca();

      if (id) {
        this.getProduto(id);
      } else {
        this.cleanProduto();
      }

      return new Promise((resolve, reject) => {
        this.resolve = resolve;
      });
    },

    async save() {
      await this.saveProduto(this.produto).then((response) => {
        this.errors = response.body.errors ? response.body.errors : [];
        if (
          this.errors.icms ||
          this.errors.ipi ||
          this.errors.pis ||
          this.errors.cofins
        ) {
          this.tabs = 3;
        } else if (this.errors.estoques) {
          this.tabs = 1;
        } else if (
          this.errors.descricao ||
          this.errors.tipo ||
          this.errors.categoria_id ||
          this.errors.medida_id ||
          this.errors.marca_id
        ) {
          this.tabs = 0;
        } else if (this.errors.peso) {
          this.tabs = 2;
        }

        if (response.body.success) {
          this.resolve(response.body);
          this.dialog = false;
        }
      });
    },
    MedidaCadastro() {
      this.$refs.MedidaForm.open().then((confirm) => {
        if (confirm) {
          this.produto.medida_id = confirm.id;
          this.listMedida();
        }
      });
    },
    MarcaCadastro() {
      this.$refs.MarcaForm.open().then((confirm) => {
        if (confirm) {
          this.produto.marca_id = confirm.id;
          this.listMarca();
        }
      });
    },
    back() {
      this.$router.back();
    },
  },
};
</script>
