<template>
  <v-layout wrap>
    <v-flex sm12>
      <v-textarea
        v-model="newTask.text"
        label="Digite uma tarefa"
        auto-grow
        rows="1"
      >
        <template v-slot:append>
          <v-icon @click="create">mdi-content-save</v-icon>
        </template>
      </v-textarea>
    </v-flex>
    <v-flex sm12 xs12>
      <v-card v-if="tasks.length">
        <template v-for="(task, i) in tasks">
          <v-divider v-if="i !== 0" :key="`${i}-divider`"></v-divider>

          <v-list-item
            :key="`${i}-${task.text}`"
            v-touch="{
              left: () => {
                swipeAction = i;
              },
              right: () => {
                swipeAction = null;
              },
            }"
          >
            <v-list-item-icon>
              <span>{{ i + 1 }}</span>
            </v-list-item-icon>
            <v-list-item-content v-html="task.text" @click="edit(i)">
            </v-list-item-content>
            <v-slide-x-reverse-transition>
              <v-list-item-action
                v-if="swipeAction == i || !$vuetify.breakpoint.xsOnly"
              >
                <v-row dense>
                  <v-col>
                    <v-icon v-if="i + 1 < tasks.length" @click="down(i)">
                      mdi-arrow-down
                    </v-icon>
                  </v-col>
                  <v-col v-if="i !== 0">
                    <v-icon @click="up(i)"> mdi-arrow-up </v-icon>
                  </v-col>
                  <v-col>
                    <v-icon @click="remove(i)">mdi-delete-outline</v-icon>
                  </v-col>
                </v-row>
              </v-list-item-action>
            </v-slide-x-reverse-transition>
          </v-list-item>
        </template>
      </v-card>
    </v-flex>
    <v-snackbar color="warning" v-model="snackbar">
      A tarefa já existe
    </v-snackbar>
  </v-layout>
</template>

<script>
export default {
  name: "produto-check-list",
  props: {
    value: {
      type: Array,
      requered: true,
      default: () => [],
    },
  },
  data: () => ({
    newTask: [],
    swipeAction: null,
    snackbar: false,
  }),
  computed: {
    tasks() {
      return this.value !== null ? this.value : [];
    },
  },
  methods: {
    create() {
      let taskFind = this.tasks.find(
        (tasks) => tasks.text == this.newTask.text
      );
      if (taskFind) {
        this.snackbar = true;
      } else {
        this.tasks.push({
          text: this.newTask.text,
          done: false,
        });
        this.$emit("input", this.tasks);
      }
      this.newTask = [];
    },

    remove(index) {
      this.tasks.splice(index, 1);
      this.$emit("input", this.tasks);
    },

    edit(index) {
      this.newTask = this.tasks[index];
    },

    up(index) {
      const newValue = [...this.tasks];
      const newIndex = index - 1;
      this.swipeAction = newIndex;
      newValue[index] = this.tasks[newIndex];
      newValue[newIndex] = this.tasks[index];
      this.$emit("input", newValue);
    },

    down(index) {
      const newValue = [...this.tasks];
      const newIndex = index + 1;
      this.swipeAction = newIndex;
      newValue[index] = this.tasks[newIndex];
      newValue[newIndex] = this.tasks[index];
      this.$emit("input", newValue);
    },
  },
};
</script>
