<template>
  <v-layout wrap>
    <v-flex sm12 xs12>
      <v-btn block @click.native="novoEstoque" color="primary" outlined>
        Adicionar variante
      </v-btn>
    </v-flex>
    <v-flex sm12>
      <v-alert v-if="errorMessages" type="warning">{{
        errorMessages[0]
      }}</v-alert>
    </v-flex>
    <v-flex xs12 sm12 lg12>
      <v-data-table
        :items="estoques"
        :headers="thead"
        hide-default-footer
        disable-sort
      >
        <template v-slot:item.ativo="{ item }">
          <v-checkbox v-model="item.ativo" primary hide-details></v-checkbox>
        </template>
        <template v-slot:item.quant="{ item }">
          {{ item.quant | float }}
        </template>
        <template v-slot:item.valoe="{ item }">
          {{ item.valor | currency }}
        </template>
        <template v-slot:item.acao="{ item }">
          <v-icon @click="editEstoque(item)"
            >mdi-pencil-outline</v-icon
          >
          <v-icon v-if="!item.delete" @click="RemoveEstoqueProduto(item)"
            >mdi-delete-outline</v-icon
          >
          <v-icon v-else color="teal" @click="RemoveEstoqueProduto(item)"
            >mdi-backup-restore</v-icon
          ></template
        >
      </v-data-table>
    </v-flex>

    <v-dialog
      v-model="VarianteDialogo"
      persistent
      max-width="768px"
      :fullscreen="$vuetify.breakpoint.xsOnly"
      scrollable
    >
      <v-card tile>
        <v-app-bar elevate-on-scroll scroll-target="#scrolling-techniques-7">
          <v-toolbar-title>{{ estoqueRow.variante }}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon @click="addEstoque" v-if="estoqueRow.valor">
            <v-icon>mdi-content-save</v-icon>
          </v-btn>
          <v-btn
            icon
            small
            @click="cleanEstoqueRow"
            v-if="
              estoqueRow.variante ||
              estoqueRow.alerta ||
              estoqueRow.quant ||
              estoqueRow.custo ||
              estoqueRow.valor ||
              estoqueRow.encontra_se ||
              estoqueRow.codigo
            "
          >
            <v-icon>mdi-notification-clear-all</v-icon>
          </v-btn>
          <v-btn icon @click.native="VarianteDialogo = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-progress-linear
        :active="loading"
        :indeterminate="loading"
        absolute
        bottom
        color="primary"
      ></v-progress-linear>
        </v-app-bar>
        <v-card-text id="scrolling-techniques-7" class="overflow-y-auto" style="height: auto;">
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex sm4>
                <v-text-field
                  label="Variante"
                  v-model="estoqueRow.variante"
                ></v-text-field>
              </v-flex>

              <v-flex sm4>
                <v-text-field
                  label="Código"
                  v-model="estoqueRow.codigo"
                  ref="codigodebarras"
                  append-icon="mdi-barcode-scan"
                  @click:append="CodeScanner()"
                ></v-text-field>
              </v-flex>

              <v-flex sm2 v-if="tipo !== 's'">
                <v-text-field
                  type="number"
                  label="Alerta"
                  v-model="estoqueRow.alerta"
                ></v-text-field>
              </v-flex>

              <v-flex sm2 v-if="tipo !== 's'">
                <v-text-field
                  type="number"
                  label="Quantidade"
                  v-model="estoqueRow.quant"
                ></v-text-field>
              </v-flex>
              <v-flex sm2>
                <v-currency-field
                  type="tel"
                  label="Custo"
                  v-model="estoqueRow.custo"
                  requered
                ></v-currency-field>
              </v-flex>
              <v-flex sm2>
                <v-currency-field
                  type="tel"
                  label="Valor"
                  v-model="estoqueRow.valor"
                  requered
                ></v-currency-field>
              </v-flex>
              <v-flex sm2>
                <v-text-field
                  type="number"
                  label="Comissão"
                  v-model="estoqueRow.comissao"
                  suffix="%"
                  v-mask="'###'"
                ></v-text-field>
              </v-flex>
              <v-flex sm2>
                <v-input messages="Comissão">
                  {{
                    ((estoqueRow.valor / 100) * estoqueRow.comissao) | currency
                  }}
                </v-input>
              </v-flex>
              <v-flex sm2>
                <v-input messages="Lucro">
                  {{
                    (estoqueRow.valor -
                      estoqueRow.custo -
                      (estoqueRow.valor / 100) * estoqueRow.comissao)
                      | currency
                  }}
                </v-input>
              </v-flex>
              <v-flex sm2 v-if="tipo !== 's'">
                <v-text-field
                  label="Encontra-se"
                  v-model="estoqueRow.encontra_se"
                ></v-text-field>
              </v-flex>
              <v-flex sm12 xs12>
                <explorer-imagem v-model="estoqueRow.imagens" estrela />
              </v-flex>
              <v-flex sm12 xs12>
                <v-divider />
                <CheckListForm v-model="estoqueRow.tasklist" />
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
      </v-card>
      <code-scanner ref="CodeScanner" />
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import CodeScanner from "../shared/CodeScanner";
import ExplorerImagem from "../shared/ExplorerImagem";
import CheckListForm from "./ProdutoCheckListForm.vue";

export default {
  name: "produto-estoques",
  props: {
    estoques: {
      type: Array,
      requered: true,
      default: () => [],
    },
    tipo: {
      default: null,
    },
    errorMessages: {
      default: null,
    },
  },
  data: () => ({
    estoqueRow: [],
    thead: [
      { text: "Ativo", value: "ativo", sortable: false },
      { text: "Variante", value: "variante" },
      { text: "Código", value: "codigo" },
      { text: "Quantidade", value: "quant" },
      { text: "Valor", value: "valor" },
      { value: "acao", sortable: false },
    ],
    comissao_local: 0,
    lucroPorCento: 0,
    lucroReal: 0,
    VarianteDialogo: false,
    search: null,
    errorMessagesLocal: null,
  }),
  components: {
    CodeScanner,
    ExplorerImagem,
    CheckListForm,
  },
  computed: {
    ...mapGetters({
      tags: "ListTag",
      loading: "GetLoadingStatus",
    }),
  },
  methods: {
    ...mapActions(["AddEstoqueProduto", "RemoveEstoqueProduto"]),
    addEstoque() {
      this.VarianteDialogo = false;
      if (this.estoqueRow.variante !== null && this.estoqueRow.valor > 0) {
        this.AddEstoqueProduto(this.estoqueRow);
        this.estoqueRow = [];
        this.errorMessagesLocal = null;
      } else {
        this.errorMessagesLocal =
          "Você deve digitar pelo menos a variante, quantidade e valor";
      }
    },
    CodeScanner() {
      this.$refs.CodeScanner.open({ tipo: "1d" }).then((scanResult) => {
        this.$set(this.estoqueRow, "codigo", scanResult);
      });
    },
    editEstoque(estoque) {
      this.estoqueRow = this.estoques.find((obj) => obj === estoque);
      this.VarianteDialogo = true;
    },
    novoEstoque() {
      this.cleanEstoqueRow();
      this.VarianteDialogo = true;
    },
    restoureEstoque(estoque) {
      estoque.delete = false;
    },
    cleanEstoqueRow() {
      this.estoqueRow = [];
      this.errorMessagesLocal = null;
    },
  },
};
</script>
