<template>
  <v-container>
    <v-row v-if="!readonly">
      <v-layout wrap>
        <v-flex sm6>
          <v-text-field
            label="Contato"
            v-model="contatoRow.contato"
            clearable
            hint="Número do WhatsApp, telefone, celular ou e-mail."
          ></v-text-field>
        </v-flex>

        <v-flex sm6>
          <v-combobox
            v-model="contatoRow.tags"
            :items="tags"
            :search-input.sync="search"
            :hide-no-data="!search"
            label="Relecione o tipo de contato com tags"
            hide-selected
            hint="Celular, WhatsApp, Instagram, etc."
            multiple
            deletable-chips
            small-chips
            :append-icon="
              contatoRow.contato ? 'mdi-content-save-move-outline' : null
            "
            @click:append="saveContato"
          ></v-combobox>
        </v-flex>
      </v-layout>
    </v-row>
    <v-row class="contato">
      <v-layout wrap>
        <v-flex sm12>
          <v-alert dense icon="mdi-account-alert-outline" border="left" v-if="!contatos.length" type="warning"
            ><div class="text-h6">Atenção</div><div>Não há nenhuma forma de contato
              atrelada a essa pessoa. Adicione ao menos uma para continuar.</div></v-alert
          >
        </v-flex>
        <v-flex v-for="contato in contatos" :key="contato.id">
          <v-container>
            <v-row class="contato">
              <v-col cols="8">
                <v-row class="contato-linha">
                  {{ contato.contato }}
                </v-row>
                <v-row>
                  <div v-if="contato.tags.length">
                    <v-chip
                      outlined
                      small
                      :key="item.id"
                      v-for="item in contato.tags"
                      @click="tagLink(item, contato.contato)"
                      >{{ item }}</v-chip
                    >
                  </div>
                </v-row>
              </v-col>
              <v-col cols="4" v-if="!readonly">
                <v-row justify="center">
                  <v-col cols="6">
                    <v-btn icon @click="editContato(contato.contato)">
                      <v-icon>mdi-pencil-outline</v-icon>
                    </v-btn>
                  </v-col>
                  <v-col cols="6">
                    <v-btn icon @click="deleteContato(contato.contato)">
                      <v-icon>mdi-delete-outline</v-icon>
                    </v-btn>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-container>
        </v-flex>
      </v-layout>
    </v-row>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "pessoa-contato",
  props: {
    contatos: {
      required: true,
      default: () => [],
    },
    save: false,
    errorMessages: {
      default: null,
    },
    readonly: {
      default: false,
    },
  },
  data: () => ({
    contatoRow: {},
    maskNow: null,
    search: null,
    errorMessagesLocal: null,
    errorMessagesLocalTag: null,
  }),
  watch: {
    search(val) {
      this.searchTag(val);
    },
    save(save) {
      if (save) {
        this.saveContato();
      }
    },
  },
  computed: {
    ...mapGetters({
      tags: "ListTag",
    }),
  },
  methods: {
    ...mapActions(["searchTag"]),
    saveContato() {
      if (this.contatoRow.contato !== null && this.contatoRow.tags) {
        let contatoCurr = this.contatos.find(
          (obj) => obj.contato === this.contatoRow.contato
        );
        if (!contatoCurr) {
          this.contatos.push({
            contato: this.contatoRow.contato,
            tags: this.contatoRow.tags,
          });
        }
        this.contatoRow = [];
      }
    },
    editContato(contato) {
      this.contatoRow = this.contatos.find((obj) => obj.contato === contato);
    },
    deleteContato(contato) {
      let Index = this.contatos.findIndex((obj) => obj.contato === contato);
      this.contatos.splice(Index, 1);
    },
    tagLink(tag, contato) {
      let url = null;
      switch (tag.toLowerCase()) {
        case "whatsapp":
          let contatoLimpo = contato.replace(/\W/g, "");
          let ContatoLink = (contato.match(/^55/g))
            ? contatoLimpo
            : "55" + contatoLimpo;

          url = "https://wa.me/" + ContatoLink;
          break;
        case "email":
          url = "mailto:" + contato;
          break;
        case "celular":
          url = "tel:" + contato;
          break;
        case "telefone":
          url = "tel:" + contato;
          break;
      }
      if (url) {
        window.open(url);
      }
    },
  },
};
</script>
<style scoped>
.contato {
  border-radius: 5px 5px;
}
.contato-linha {
  padding: 3px;
}
</style>
