<template>
  <v-dialog
    v-model="dialog"
    persistent
    max-width="1000px"
    :fullscreen="$vuetify.breakpoint.xsOnly"
  >
    <v-card flat tile>
      <v-app-bar :flat="$vuetify.breakpoint.smAndUp" color="primary" dark>
        <v-spacer></v-spacer>
        <v-btn icon @click.native="save">
          <v-icon>mdi-content-save</v-icon>
        </v-btn>
        <v-btn icon @click.native="dialog = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>

        <template v-slot:extension>
          <v-tabs show-arrows grow center-active v-model="tabs" color="white">
            <v-tab>Pessoa</v-tab>
            <v-tab>Contato</v-tab>
            <v-tab>Endereço</v-tab>
            <v-tab>Acesso</v-tab>
            <v-tab v-if="pessoa.id">Financeiro</v-tab>
          </v-tabs>
        </template>
      </v-app-bar>
      <v-container grid-list-md>
        <v-tabs-items v-model="tabs" touchless>
          <v-tab-item>
            <v-layout wrap>
              <v-flex sm5>
                <v-text-field
                  label="Nome"
                  v-model="pessoa.nome"
                  required
                  :error-messages="errors.nome"
                  hint="Nome completo do cliente ou fornecedor"
                ></v-text-field>
              </v-flex>
              <v-flex sm2>
                <v-text-field
                  label="Nome fantasia"
                  v-model="pessoa.fantasia"
                  required
                  :error-messages="errors.fantasia"
                ></v-text-field>
              </v-flex>
              <v-flex sm2>
                <v-select
                  label="Tipo"
                  v-model="pessoa.tipo"
                  :items="tipo"
                  :error-messages="errors.tipo"
                  required
                ></v-select>
              </v-flex>
              <v-flex sm2>
                <v-text-field
                  label="C.P.F / C.N.P.J"
                  v-model="pessoa.documento"
                  required
                  :error-messages="errors.documento"
                  v-mask="DocMask"
                ></v-text-field>
              </v-flex>
              <v-flex sm1>
                <v-checkbox label="Ativo" v-model="pessoa.ativo"></v-checkbox>
              </v-flex>

              <v-flex sm5 v-if="pessoa.tipo === 'f'">
                <v-text-field
                  label="Nome da mãe"
                  v-model="pessoa.mae"
                ></v-text-field>
              </v-flex>
              <v-flex sm5 v-if="pessoa.tipo === 'f'">
                <v-text-field
                  label="Nome do pai"
                  v-model="pessoa.pai"
                ></v-text-field>
              </v-flex>
              <!-- Data de nascimento -->
              <v-flex sm2 v-if="pessoa.tipo === 'f'">
                <input-nascimento
                  v-model="pessoa.dtnasc"
                  label="Data de nascimento"
                  :error-messages="errors.dtnasc"
                />
              </v-flex>
              <!-- -->

              <v-flex sm6 v-if="pessoa.created_at">
                <v-text-field
                  label="Perfil criado em"
                  v-model="pessoa.created_at"
                  dense
                  filled
                  disabled
                ></v-text-field>
              </v-flex>
              <v-flex sm6 v-if="pessoa.updated_at">
                <v-text-field
                  label="Perfil atualizado em"
                  v-model="pessoa.updated_at"
                  dense
                  disabled
                  filled
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-tab-item>

          <v-tab-item>
            <contatos-form
              :contatos="pessoa.contatos"
              :error-messages="errors.contatos"
              :save="tabs !== 1"
            />
          </v-tab-item>

          <v-tab-item>
            <v-layout wrap>
              <v-flex sm4>
                <v-autocomplete
                  label="Estado"
                  v-model="pessoa.estado_id"
                  :error-messages="errors.estado_id"
                  item-text="nome"
                  item-value="id"
                  :items="estados"
                  required
                ></v-autocomplete>
              </v-flex>
              <v-flex sm4>
                <v-autocomplete
                  label="Cidade"
                  v-model="pessoa.cidade_id"
                  :error-messages="errors.cidade_id"
                  item-text="nome"
                  item-value="id"
                  :items="cidades"
                  required
                >
                  <template v-slot:no-data>
                    <v-list-item @click="CidadeCadastro()">
                      <v-list-item-title > Adicionar cidade </v-list-item-title>
                    </v-list-item>
                  </template>
                </v-autocomplete>
              </v-flex>
              <v-flex sm4>
                <v-autocomplete
                  label="Bairro"
                  v-model="pessoa.bairro_id"
                  :error-messages="errors.bairro_id"
                  item-text="nome"
                  item-value="id"
                  :items="bairros"
                  required
                >
                  <template v-slot:no-data>
                    <v-list-item @click="BairroCadastro()">
                      <v-list-item-title> Adicionar bairro </v-list-item-title>
                    </v-list-item>
                  </template>
                </v-autocomplete>
              </v-flex>
              <v-flex sm8>
                <v-autocomplete
                  label="Rua"
                  v-model="pessoa.rua_id"
                  :error-messages="errors.rua_id"
                  item-text="nome"
                  item-value="id"
                  :items="ruas"
                  required
                >
                  <template v-slot:no-data>
                    <v-list-item @click="RuaCadastro()">
                      <v-list-item-title> Adicionar rua </v-list-item-title>
                    </v-list-item>
                  </template>
                </v-autocomplete>
              </v-flex>
              <v-flex sm2>
                <v-text-field
                  label="Número"
                  hint="SN = 0"
                  v-model="pessoa.numero"
                  :error-messages="errors.numero"
                ></v-text-field>
              </v-flex>

              <v-flex sm2>
                <v-text-field
                  label="CEP"
                  v-model="pessoa.cep"
                  :error-messages="errors.cep"
                  v-mask="'##.###-###'"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex sm12>
                <v-text-field
                  label="Complemento"
                  v-model="pessoa.complemento"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-tab-item>

          <v-tab-item>
            <v-layout wrap>
              <v-flex sm1>
                <input-image
                  ref="ImagemInput"
                  style="display: none"
                  :done="(i) => pessoa.imagem = i.data"
                />
                <v-avatar
                  @click="$refs.ImagemInput.arquivo()"
                  color="primary"
                >
                  <img
                    contain
                    v-if="pessoa.imagem != null"
                    :src="pessoa.imagem"
                  />
                  <v-icon size="32" v-else dark>mdi-account-circle-outline</v-icon>
                </v-avatar>
              </v-flex>
              <v-flex sm5>
                <v-text-field
                  label="Login"
                  v-model="pessoa.documento"
                  disabled
                ></v-text-field>
              </v-flex>
              <v-flex sm5>
                <v-text-field
                  prepend-inner-icon="mdi-key-change"
                  type="password"
                  label="Senha"
                  v-model="pessoa.senha"
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-btn block outlined color="primary" @click="GetLink">Criar link temporário</v-btn>
              </v-flex>
              <v-flex sm12>
                <table-tokens
                  v-model="pessoa.tokens"
                  @delete="deleteTokenPessoa"
                />
              </v-flex>
            </v-layout>
          </v-tab-item>

          <v-tab-item>
            <finaceiro-tabela v-model="pessoa.id" />
          </v-tab-item>
        </v-tabs-items>
      </v-container>

      <cidade-form ref="CidadeForm" />
      <bairro-form ref="BairroForm" />
      <rua-form ref="RuaForm" />
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

import InputNascimento from "../shared/InputNascimento";
import CidadeForm from "../cidade/CidadeForm";
import BairroForm from "../bairro/BairroForm";
import RuaForm from "../rua/RuaForm";
import ContatosForm from "./PessoaContato";
import FinaceiroTabela from "../financeiro/FinanceiroTabela";
import TableTokens from "../shared/TableTokens.vue";
import InputImage from "../shared/InputImagem";

export default {
  name: "PessoaForm",
  data() {
    return {
      dialog: false,
      tabs: null,
      resolve: null,
      errors: [],
      localRouterGuard: null,
      DocMask: null,
      urlApp: process.env.VUE_APP_URL_APP,
    };
  },
  watch: {
    "pessoa.estado_id"(val) {
      this.listCidade(val);
    },
    "pessoa.cidade_id"(val) {
      this.listBairro(val);
    },
    "pessoa.bairro_id"(val) {
      this.listRua(val);
    },
    "pessoa.tipo"(val) {
      setTimeout(() => {
        if (val == "j") {
          this.DocMask = "##.###.###/####-##";
        } else {
          this.DocMask = "###.###.###-##";
        }
      }, 100);
    },
    dialog(val) {
      if (val == true) {
        this.localRouterGuard = this.$router.beforeEach((to, from, next) => {
          this.dialog = false;
          next(false);
        });
      } else {
        this.localRouterGuard();
      }
    },
  },
  computed: mapGetters({
    pessoa: "GetPessoa",
    tipo: "GetPessoaTipo",
    estados: "ListEstado",
    cidades: "ListCidade",
    bairros: "ListBairro",
    ruas: "ListRua",
    imgbackground: "GetConfigImageBackgroud",
  }),
  components: {
    CidadeForm,
    BairroForm,
    RuaForm,
    InputNascimento,
    ContatosForm,
    FinaceiroTabela,
    TableTokens,
    InputImage,
  },
  methods: {
    ...mapActions([
      "getPessoa",
      "savePessoa",
      "deleteTokenPessoa",
      "getPessoaLink",
      "cleanPessoa",
      "listEstado",
      "listCidade",
      "listBairro",
      "listRua",
    ]),
    async open(id) {
      this.dialog = true;

      this.tabs = 0;

      await this.listEstado();

      if (id) {
        await this.getPessoa(id);
        await this.listCidade(this.pessoa.estado_id);
        await this.listBairro(this.pessoa.cidade_id);
        await this.listRua(this.pessoa.bairro_id);
      } else {
        // reset os dados do data
        this.cleanPessoa();
      }

      return new Promise((resolve, reject) => {
        this.resolve = resolve;
      });
    },
    async save() {
      await this.savePessoa(this.pessoa).then((response) => {
        this.errors = response.body.errors ? response.body.errors : [];
        if (
          this.errors.bairro_id ||
          this.errors.cep ||
          this.errors.cidade_id ||
          this.estado_id ||
          this.errors.rua_id ||
          this.errors.numero
        ) {
          this.tabs = 2;
        }

        if (this.errors.contatos) {
          this.tabs = 1;
        }

        if (this.errors.documento || this.errors.tipo || this.errors.dtnasc) {
          this.tabs = 0;
        }

        if (response.body.success) {
          this.resolve(response.body.data);
          this.dialog = false;
        }
      });
    },
    GetLink() {
      this.getPessoaLink(this.pessoa.id).then((response) => {
        const shareData = {
          title: "Login por link",
          url: `${this.urlApp}?chave=${response.body.chave}`,
        };
        navigator.share(shareData);
      });
    },
    selectEstado(id) {
      this.listCidade(id);
    },
    CidadeCadastro() {
      this.$refs.CidadeForm.open(null, this.pessoa.estado_id).then(
        (confirm) => {
          if (confirm) {
            this.pessoa.cidade_id = confirm.id;
            this.listCidade(this.pessoa.estado_id);
          }
        }
      );
    },
    BairroCadastro() {
      this.$refs.BairroForm.open(
        null,
        this.pessoa.estado_id,
        this.pessoa.cidade_id
      ).then((confirm) => {
        if (confirm) {
          this.pessoa.bairro_id = confirm.id;
          this.listBairro(this.pessoa.cidade_id);
        }
      });
    },
    RuaCadastro() {
      this.$refs.RuaForm.open(
        null,
        this.pessoa.estado_id,
        this.pessoa.cidade_id,
        this.pessoa.bairro_id
      ).then((confirm) => {
        if (confirm) {
          this.pessoa.rua_id = confirm.id;
          this.listRua(this.pessoa.bairro_id);
        }
      });
    },
  },
};
</script>
