<template>
  <v-card
    flat
    v-touch="{
      up: () => {
        fabVisivel = false;
      },
      down: () => {
        fabVisivel = true;
      },
    }"
  >
    <tool-bar v-model="pagination.search" busca titulo="Pessoas e empresas" />
    <v-card flat>
      <v-data-table
        :items="pessoas.data"
        :headers="thead"
        disable-sort
        hide-default-footer
        disable-pagination
      >
        <template v-slot:item.tipo="{ item }">
          {{ item.tipo | person }}
        </template>
        <template v-slot:item.documento="{ item }">
          {{ item.documento }}
        </template>
        <template v-slot:item.ativo="{ item }">
          {{ item.ativo | ativo }}
        </template>
        <template v-slot:item.acao="{ item }">
          <v-btn icon class="mx-0" @click="PessoaForm(item.id)">
            <v-icon>mdi-pencil-outline</v-icon>
          </v-btn>
          <v-btn icon class="mx-0" @click="deleteItem(item)">
            <v-icon color="pink">mdi-delete-outline</v-icon>
          </v-btn>
        </template>
      </v-data-table>
    </v-card>

    <v-btn
      text
      block
      :loading="loading"
      v-intersect="infiniteScrolling"
      @click="infiniteScrolling"
      v-if="pessoas.lastpage > pagination.page"
      >mais</v-btn
    >

    <v-fab-transition>
      <v-btn
        fab
        bottom
        right
        fixed
        dark
        color="primary"
        v-if="fabVisivel"
        @click="PessoaForm()"
      >
        <v-icon>mdi-account-plus</v-icon>
      </v-btn>
    </v-fab-transition>

    <pessoa-form ref="PessoaForm" />
    <confirme-dialog ref="confirm" />
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../shared/ToolBar";
import ConfirmeDialog from "../shared/ConfirmeDialog";
import PessoaForm from "./PessoaForm";

export default {
  name: "Pessoas",
  data() {
    return {
      thead: [
        { text: "ID", value: "id" },
        { text: "Nome", value: "nome" },
        { text: "Tipo", value: "tipo" },
        { text: "Documento", value: "documento" },
        { text: "Ativo", value: "ativo" },
        { value: "acao", sortable: false },
      ],
      fabVisivel: true,
      pagination: {},
      errors: [],
    };
  },
  components: {
    ConfirmeDialog,
    PessoaForm,
    ToolBar,
  },
  watch: {
    "pagination.search"() {
      clearTimeout(this.searchTimeout);
      this.searchTimeout = setTimeout(async () => {
        this.filtro(true);
      }, 500);
    },
  },
  mounted() {
    if (localStorage[this.$options.name]) {
      this.pagination = JSON.parse(localStorage[this.$options.name]);
    } else {
      this.filtro(true);
    }
  },
  computed: mapGetters({
    pessoas: "GetPessoas",
    loading: "GetLoadingStatus",
  }),
  methods: {
    ...mapActions(["getPessoas", "deletePessoa"]),

    filtro(limpa) {
      this.pagination.page = limpa ? 1 : (this.pagination.page += 1);
      localStorage[this.$options.name] = JSON.stringify(this.pagination);
      this.getPessoas(this.pagination);
    },

    infiniteScrolling(entries) {
      if (entries[0] == undefined || entries[0].isIntersecting) {
        this.filtro(false);
      }
    },

    PessoaForm(id) {
      this.$refs.PessoaForm.open(id).then(() => {
        this.filtro(true);
      });
    },

    deleteItem(item) {
      this.$refs.confirm
        .open("Apagar", `Deseja apagar ${item.nome}?`)
        .then((confirm) => {
          if (confirm) {
            this.deletePessoa(item.id).then((response) => {
              this.errors = response.body.errors ? response.body.errors : [];
              if (response.body.success) {
                this.getPessoas(this.pagination);
              }
            });
          }
        });
    },
  },
};
</script>
