<template>
  <v-app>
    <v-main v-if="isAuth">
      <v-container fluid>
        <v-expand-transition>
          <!-- O $route.fullPath é para quando mudar paramentro o router vê -->
          <router-view :key="$route.fullPath"></router-view>
        </v-expand-transition>
      </v-container>
    </v-main>
    <!-- login -->
    <v-img v-else src="/icons/android-chrome-512x512.png">
      <login-form />
    </v-img>
    <!-- snackbar geral -->
    <snackbar-sgc />
  </v-app>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import LoginForm from "./components/Login.vue";
import SnackbarSgc from "./components/SnackbarSgc";

export default {
  components: {
    LoginForm,
    SnackbarSgc,
  },

  computed: {
    ...mapGetters({
      isAuth: "GetToken",
    }),
  },
  created() {
    this.aplicaTema();
    if (this.$route.query.chave) {
      this.GoLoginChave(this.$route.query.chave);
    }
  },
  methods: {
    ...mapActions(["GoLoginChave", "aplicaTema", "AddSnackbar"]),
  },
};
</script>
