<template>
  <v-card flat>
    <tool-bar titulo="Nova ordem de serviço" no-hide-on-scroll>
      <v-btn icon @click.native="save">
        <v-icon>mdi-content-save</v-icon>
      </v-btn>
    </tool-bar>

    <v-card-text>
        <v-container grid-list-md>
          <v-layout wrap>
            <v-flex sm6>
              <v-autocomplete
                label="Cliente"
                :items="PessoaList"
                autofocus
                clearable
                no-filter
                hide-no-data
                auto-select-first
                hide-selected
                item-text="nome"
                item-value="id"
                :search-input.sync="pessoaSearch"
                v-model="Servico.pessoa_id"
                :error-messages="errors.pessoa_id"
                :append-outer-icon="Servico.pessoa_id ? null : 'mdi-plus'"
                @click:append-outer="PessoaForm()"
              ></v-autocomplete>
            </v-flex>
            <v-flex sm6>
              <v-text-field
                label="Descrição do equipamento"
                v-model="Servico.descricao"
                required
                :error-messages="errors.descricao"
              ></v-text-field>
            </v-flex>
            <v-flex sm6>
              <v-text-field
                label="Defeito relatado"
                v-model="Servico.defeito"
                required
                :error-messages="errors.defeito"
              ></v-text-field>
            </v-flex>
            <v-flex sm6>
              <v-text-field
                label="Acessórios"
                hint="Descreva tudo o que acompanha o equipamento, para evitar perdas."
                v-model="Servico.acessorios"
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-container>
    </v-card-text>
    <pessoa-form ref="PessoaForm" />
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../shared/ToolBar";
import PessoaForm from "../pessoa/PessoaForm";

export default {
  data() {
    return {
      pessoaSearch: "",
      resolve: null,
      dialog: false,
      errors: [],
    };
  },
  components: {
    ToolBar,
    PessoaForm,
  },
  watch: {
    pessoaSearch(val) {
      this.searchPessoa(val);
    },
  },
  computed: {
    ...mapGetters({
      Servico: "GetOrdem",
      PessoaList: "ListPessoa",
    }),
  },
  async created() {
    this.cleanOrdem();
  },
  methods: {
    ...mapActions(["searchPessoa", "SaveServico", "cleanOrdem"]),

    PessoaForm() {
      this.$refs.PessoaForm.open().then((pessoa) => {
        this.searchPessoa(pessoa.nome);
        this.Servico.pessoa_id = pessoa.id;
      });
    },

    async save() {
      await this.SaveServico(this.Servico).then((response) => {
        this.errors = response.body.errors ? response.body.errors : [];
        if (response.body.success) {
          this.$router.push(`/servicos/${response.body.id}`);
        }
      });
    },
  },
};
</script>
