<template>
  <v-card flat>
    <tool-bar titulo="Estender ordem de serviço">
      <v-btn icon @click.native="save">
        <v-icon>mdi-content-save</v-icon>
      </v-btn>
    </tool-bar>

    <v-card-text>
      <v-container grid-list-md>
        <v-layout wrap>
          <v-flex sm6>
            <v-text-field
              label="Cliente"
              v-model="Servico.nome"
              disabled
            ></v-text-field>
          </v-flex>
          <v-flex sm6>
            <v-text-field
              label="Descrição do equipamento"
              v-model="Servico.descricao"
              disabled
            ></v-text-field>
          </v-flex>
          <v-flex sm6>
            <v-text-field
              label="Defeito relatado"
              v-model="Servico.defeito"
              required
            ></v-text-field>
          </v-flex>
          <v-flex sm6>
            <v-text-field
              label="Acessórios"
              v-model="Servico.acessorios"
            ></v-text-field>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../shared/ToolBar";

export default {
  data() {
    return {
      errors: [],
      id: this.$route.params.id,
    };
  },
  components: {
    ToolBar,
  },
  computed: {
    ...mapGetters({
      Servico: "GetOrdem",
    }),
  },
  async created() {
    await this.GetOrdem(this.id);
  },
  methods: {
    ...mapActions(["GetOrdem", "EstenderServico"]),

    async save() {
      await this.EstenderServico(this.Servico).then((response) => {
        this.errors = response.body.errors ? response.body.errors : [];
        if (response.body.success) {
          this.$router.push(`/servicos/${response.body.orden_id}`);
        }
      });
    },
  },
};
</script>
