<template>
  <v-card
    flat
    v-touch="{
      up: () => {
        fabVisivel = false;
      },
      down: () => {
        fabVisivel = true;
      },
    }"
  >
    <tool-bar v-model="pagination.search" busca titulo="Ordens de serviço">
      <template v-slot:extension>
        <v-row>
          <v-col cols="6">
            <v-autocomplete
              label="Cliente"
              :items="PessoaList"
              hide-details
              single-line
              clearable
              no-filter
              hide-no-data
              auto-select-first
              hide-selected
              item-text="nome"
              item-value="id"
              :search-input.sync="pessoaSearch"
              v-model="pagination.pessoa_id"
              prepend-inner-icon="mdi-account-outline"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6">
            <v-select
              v-model="pagination.status"
              :items="LstStatus"
              label="Status da OS"
              hide-selected
              single-line
              hide-details
              clearable
              prepend-inner-icon="mdi-clipboard-search-outline"
            ></v-select>
          </v-col>
        </v-row>
      </template>
    </tool-bar>
    <v-card flat>
      <v-data-table
        :items="Servicos.data"
        :headers="thead"
        item-key="id"
        disable-sort
        @click:row="ServicoEdit"
        hide-default-footer
        disable-pagination
      >
        <template v-slot:item.status="{ item }">
          <v-chip
            :color="GetOrdemStatusRow(item.status).color"
            outlined
          ><h4 v-if="item.orden_id">
             <v-icon small>mdi-source-branch</v-icon>&nbsp;|&nbsp;</h4>
            {{ item.status | statusOrdem
            }}<b v-if="item.financeiro_status">
            &nbsp;|&nbsp;{{ item.financeiro_status | statusFinanceiro }}</b
            >
          </v-chip>
        </template>
      </v-data-table>
    </v-card>

    <v-btn
      text
      block
      :loading="loading"
      v-intersect="infiniteScrolling"
      @click="infiniteScrolling"
      v-if="Servicos.lastpage > pagination.page"
      >mais</v-btn
    >

    <v-fab-transition>
      <v-btn
        fab
        bottom
        right
        fixed
        dark
        color="primary"
        v-if="fabVisivel"
        :to="`servicos/create`"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-fab-transition>

    <confirme-dialog ref="confirm" />
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../shared/ToolBar";
import ConfirmeDialog from "../shared/ConfirmeDialog";

export default {
  name: "Servicos",
  data() {
    return {
      thead: [
        { text: "OS", value: "id" },
        { text: "Cliente", value: "nome" },
        { text: "Descrição do equipamento", value: "descricao" },
        { text: "Status da OS", value: "status" },
        { sortable: false },
      ],
      fabVisivel: true,
      pagination: {},
      pessoaSearch: "",
      errors: [],
    };
  },
  components: {
    ToolBar,
    ConfirmeDialog,
  },
  watch: {
    "pagination.search"() {
      clearTimeout(this.searchTimeout);
      this.searchTimeout = setTimeout(async () => {
        this.filtro(true);
      }, 500);
    },
    "pagination.status"() {
      this.filtro(true);
    },
    "pagination.pessoa_id"() {
      this.filtro(true);
    },
    pessoaSearch(val) {
      this.searchPessoa(val);
    },
  },
  mounted() {
    if (localStorage[this.$options.name] && !this.updateLista) {
      this.pagination = JSON.parse(localStorage[this.$options.name]);
    } else {
      this.filtro(true);
    }
  },
  computed: mapGetters({
    Servicos: "GetServicos",
    LstStatus: "GetOrdemStatus",
    PessoaList: "ListPessoa",
    GetOrdemStatusRow: "GetOrdemStatusRow",
    loading: "GetLoadingStatus",
    updateLista: "GetServicosUpdateLista",
  }),
  methods: {
    ...mapActions(["getServicos", "searchPessoa", "GetServicosUpdateLista"]),

    filtro(limpa) {
      this.pagination.page = limpa ? 1 : (this.pagination.page += 1);
      localStorage[this.$options.name] = JSON.stringify(this.pagination);
      this.getServicos(this.pagination);
    },

    infiniteScrolling(entries) {
      if (entries[0] == undefined || entries[0].isIntersecting) {
        this.filtro(false);
      }
    },

    getColor(status) {
      if (status == "EA") return "orange lighten-1";
      if (status == "OR") return "purple lighten-2";
      if (status == "RE") return "green lighten-1";
      if (status == "CC") return "blue lighten-1";
      if (status == "CA") return "blue-grey lighten-1";
      return "#EEEEEE";
    },

    ServicoNovo() {
      this.$refs.ServicoNovo.open().then((ServicoID) => {
        this.$refs.ServicoForm.open(ServicoID);
      });
    },

    ServicoEdit(ordem) {
      this.$router.push(`/servicos/${ordem.id}`);
    },
  },
};
</script>
