<template>
    <v-card flat>
        <tool-bar titulo="Ordem de serviço">
            <v-avatar class="ma-2" v-if="Servico.status == 'RE'" color="success"
                size="30"><v-icon>mdi-check-circle-outline</v-icon>
            </v-avatar>

            <v-btn v-if="Servico.status !== 'RE'" icon @click.native="SaveServico(Servico)">
                <v-icon>mdi-content-save</v-icon>
            </v-btn>

            <v-menu bottom right offset-y open-on-hover>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn dark icon v-bind="attrs" v-on="on">
                        <v-icon>mdi-dots-vertical</v-icon>
                    </v-btn>
                </template>

                <v-list>
                    <v-list-item @click="deleteItem(Servico)">
                        <v-list-item-action>
                            <v-icon>mdi-delete-outline</v-icon>
                        </v-list-item-action>
                        <v-list-item-title>Apagar</v-list-item-title>
                    </v-list-item>
                    <v-list-item v-if="Servico.status == 'CC'" @click="faturar()">
                        <v-list-item-action>
                            <v-icon>mdi-cash-check</v-icon>
                        </v-list-item-action>
                        <v-list-item-title>Faturar</v-list-item-title>
                    </v-list-item>
                    <v-list-item v-if="Servico.status == 'RE'" @click="reabrir()">
                        <v-list-item-action>
                            <v-icon>mdi-folder-key-outline</v-icon>
                        </v-list-item-action>
                        <v-list-item-title>Reabrir</v-list-item-title>
                    </v-list-item>
                    <v-list-item v-if="Servico.status == 'RE' && Servico.orden_id == null"
                        :to="`/servicos/estender/${id}`">
                        <v-list-item-action>
                            <v-icon>mdi-source-branch</v-icon>
                        </v-list-item-action>
                        <v-list-item-title>Estender</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="sheet = true">
                        <v-list-item-action>
                            <v-icon>mdi-share</v-icon>
                        </v-list-item-action>
                        <v-list-item-title>Compartilhar</v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-menu>

            <template v-slot:extension>
                <v-tabs v-model="tab" grow color="white">
                    <v-tab>Geral</v-tab>
                    <v-tab v-if="estendido">Estendidas</v-tab>
                    <v-tab>Histórico</v-tab>
                </v-tabs>
            </template>
        </tool-bar>

        <v-container grid-list-md>
            <v-tabs-items v-model="tab">
                <v-tab-item>
                    <v-row>
                        <v-col cols="12" md="8">
                            <v-layout wrap>
                                <v-flex sm2>
                                    <v-text-field label="Ordem de serviço" v-model="Servico.id" disabled></v-text-field>
                                </v-flex>
                                <v-flex sm6>
                                    <v-autocomplete label="Cliente" no-data-text="Pessoa não encontrado"
                                        :items="PessoaList" no-filter hide-no-data auto-select-first hide-selected
                                        item-text="nome" item-value="id" :search-input.sync="pessoaSearch"
                                        v-model="Servico.pessoa_id" append-icon="mdi-pencil-outline"
                                        @click:append="$refs.PessoaForm.open(Servico.pessoa_id)"
                                        append-outer-icon="mdi-plus"
                                        @click:append-outer="$refs.PessoaForm.open()"></v-autocomplete>
                                </v-flex>
                                <v-flex sm4>
                                    <v-select :items="Status" v-model="Servico.status" label="Status" single-line
                                        :disabled="Servico.status === 'RE'"></v-select>
                                </v-flex>

                                <v-flex xs12>
                                    <v-tabs id="quick-tab" height="50" grow center-active show-arrows hide-slider
                                        optional icons-and-text>
                                        <v-tab @click="AdicNota" :disabled="Servico.status == 'RE'"
                                            class="text-capitalize">Comentar
                                            <v-icon>mdi-text-box-plus-outline</v-icon></v-tab>
                                        <v-tab @click="sheet = !sheet" class="text-capitalize">Compartilhar
                                            <v-icon>mdi-share-variant-outline</v-icon></v-tab>
                                        <v-tab class="text-capitalize"
                                            v-if="Servico.status == 'RE' && Servico.orden_id == null"
                                            :to="`/servicos/estender/${id}`">Estender
                                            <v-icon>mdi-source-branch</v-icon></v-tab>
                                        <v-tab @click="faturar()" :disabled="Servico.status !== 'CC'"
                                            class="text-capitalize">Faturar
                                            <v-icon>mdi-cash-check</v-icon></v-tab>
                                        <v-tab @click="ConcludeServico()" v-if="Servico.status == 'EA'"
                                            class="text-capitalize">Concluir
                                            <v-icon>mdi-check-circle-outline</v-icon></v-tab>
                                        <v-tab @click="reabrir()" v-if="Servico.status == 'RE'"
                                            class="text-capitalize">Reabrir
                                            <v-icon>mdi-archive-lock-open-outline</v-icon></v-tab>
                                        <v-tab @click="deleteItem(Servico)" class="text-capitalize">Apagar
                                            <v-icon>mdi-delete-outline</v-icon></v-tab>
                                    </v-tabs>
                                </v-flex>
                                <v-flex xs12 text-center>
                                    <code class="caption">Contato do cliente</code>
                                    <pessoa-contato :contatos="Servico.contatos" :readonly="true" />
                                </v-flex>
                                <v-flex sm6>
                                    <v-text-field label="Descrição do equipamento" v-model="Servico.descricao"
                                        :disabled="Servico.status == 'RE'"></v-text-field>
                                </v-flex>
                                <v-flex sm6>
                                    <v-text-field label="Acessórios" v-model="Servico.acessorios"
                                        :disabled="Servico.status == 'RE'"></v-text-field>
                                </v-flex>
                                <v-flex sm12>
                                    <v-text-field label="Defeito relatado" v-model="Servico.defeito"
                                        :disabled="Servico.status == 'RE'"></v-text-field>
                                </v-flex>

                                <v-flex xs12>
                                    <ordem-itens v-model="Servico.itens" :disabled="Servico.status == 'RE'"
                                        itemAvulso />
                                </v-flex>
                            </v-layout>
                            <servico-financeiro v-model="Servico.financeiro" v-if="Servico.financeiro" />
                        </v-col>
                        <v-col cols="12" md="4"><ordem-anotacao v-model="Servico.anotacoes"
                                :disabled="Servico.status == 'RE'" />
                        </v-col>
                    </v-row>
                    <explorer-imagem v-model="Servico.imagens" :disabled="Servico.status == 'RE'" />
                </v-tab-item>
                <v-tab-item v-if="estendido">
                    <servico-parente v-model="Servico.estendido" />
                </v-tab-item>
                <v-tab-item>
                    <historico v-model="Servico.historico" />
                </v-tab-item>
            </v-tabs-items>
        </v-container>
        <pessoa-form ref="PessoaForm" />
        <confirme-dialog ref="confirm"></confirme-dialog>

        <v-bottom-sheet v-model="sheet" max-width="550">
            <v-card>
                <v-card-title>
                    Compartilhar
                    <v-spacer />
                    <v-btn icon @click="sheet = false">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                </v-card-title>
                <v-divider />
                <v-list>
                    <v-list-item @click="CompartilharTxt()">
                        <v-list-item-icon>
                            <v-icon>mdi-comment-text</v-icon>
                        </v-list-item-icon>
                        <v-list-item-title>Como texto</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="CompartilharLnkApp()">
                        <v-list-item-icon>
                            <v-icon>mdi-link-box-variant</v-icon>
                        </v-list-item-icon>
                        <v-list-item-title>Como link de acesso do cliente</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="CompartilharLnkAdmin()">
                        <v-list-item-icon>
                            <v-icon>mdi-shield-link-variant</v-icon>
                        </v-list-item-icon>
                        <v-list-item-title>Como link para outro técnico</v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-card>
        </v-bottom-sheet>

        <pessoa-form ref="PessoaForm" />
        <confirme-dialog ref="confirm"></confirme-dialog>
        <prestacao-dialog ref="prestacaoDialog"></prestacao-dialog>

    </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../shared/ToolBar";
import ConfirmeDialog from "../shared/ConfirmeDialog";
import OrdemAnotacao from "../ordem/OrdemAnotacao";
import OrdemItens from "../ordem/OrdemItens";
import PessoaForm from "../pessoa/PessoaForm";
import ExplorerImagem from "../shared/ExplorerImagem";
import Historico from "../shared/Historico";
import PessoaContato from "../pessoa/PessoaContato";
import ServicoParente from "./ServicoParente.vue";
import ServicoFinanceiro from "./ServicoFinanceiro.vue";
import PrestacaoDialog from "../shared/PrestacaoDialog.vue"

export default {
    data() {
        return {
            tab: 0,
            pessoaSearch: "",
            sheet: false,
            id: this.$route.params.id,
            urlApp: process.env.VUE_APP_URL_APP,
        };
    },
    components: {
        ToolBar,
        ConfirmeDialog,
        OrdemAnotacao,
        PessoaForm,
        OrdemItens,
        ExplorerImagem,
        Historico,
        PessoaContato,
        ServicoParente,
        ServicoFinanceiro,
        PrestacaoDialog
    },
    watch: {
        async pessoaSearch(val) {
            if (val != null) {
                await this.searchPessoa(val);
            }
        },
    },
    computed: {
        ...mapGetters({
            Servico: "GetOrdem",
            Status: "GetOrdemStatus",
            imgbackground: "GetConfigImageBackgroud",
            PessoaList: "ListPessoa",
            Total: "GetOrdemTotal",
        }),
        estendido() {
            if (typeof this.Servico.estendido == "object") {
                return Object.keys(this.Servico.estendido).length > 0;
            }
            return false;
        },
    },
    async created() {
        await this.GetOrdem(this.id);
        this.searchPessoa(this.Servico.nome);
    },
    methods: {
        ...mapActions([
            "SaveServico",
            "GetOrdem",
            "DeleteServico",
            "ReabrirOrdem",
            "searchPessoa",
            "getPessoaLink"
        ]),

        async reabrir() {
            const mensagem =
                "Atenção: Se uma ordem de serviço concluída for reaberta, " +
                "o financeiro, pagamentos anteriores e o histórico podem ser alterados e/ou reconstruídos.";
            await this.$refs.confirm
                .open(`Deseja editar a venda de número ${this.Servico.id}?`, mensagem, {
                    width: 600,
                })
                .then((confirm) => {
                    if (confirm) {
                        this.ReabrirOrdem(this.Servico.id).then((response) => {
                            if (response.body.success) {
                                this.GetOrdem(this.Servico.id);
                            } else if (response.body.prestacao.length) {
                                this.$refs.prestacaoDialog
                                    .open(response.body.prestacao)
                            }
                        });
                    }
                });
        },

        async faturar() {
            await this.SaveServico(this.Servico).then(() => {
                this.$router.push(`/servicos/faturar/${this.Servico.id}`);
            });
        },

        deleteItem(item) {
            this.$refs.confirm
                .open("Apagar", `Deseja apagar a ordem de serviço ${item.descricao}?`)
                .then((confirm) => {
                    if (confirm) {
                        this.DeleteServico(item.id);
                    }
                });
        },

        CompartilharTxt() {
            var CorpoTxt =
                `Equipamento: ${this.Servico.descricao} \n` +
                `Defeito relatado: ${this.Servico.defeito} \n`;

            this.Servico.itens.forEach((item) => {
                let drecicao = item.descricao
                    ? `${item.descricao} (${item.variante})`
                    : item.observacao;

                let subtotal = item.quant * item.valor;

                CorpoTxt =
                    CorpoTxt +
                    `- ${drecicao} | Quantidade: ${item.quant} | Valor unitário: R$ ${item.valor} | Subtotal: R$ ${subtotal}\n`;
            });

            CorpoTxt = CorpoTxt + `Total: R$ ${this.Total}`;

            const shareData = {
                title: `Ordem de serviço ${this.Servico.id}`,
                text: CorpoTxt,
            };

            navigator.share(shareData);

            this.sheet = false;
        },

        CompartilharLnkApp() {
            this.getPessoaLink(this.Servico.pessoa_id).then((response) => {
                const shareData = {
                    title: `Ordem de serviço ${this.Servico.id}`,
                    //text: `Veja sua ordem no link abaixo`,
                    url: `${this.urlApp}/ordens/${this.Servico.id}?chave=${response.body.chave}`,
                };
                navigator.share(shareData);
            });
            this.sheet = false;
        },

        CompartilharLnkAdmin() {
            const shareData = {
                title: `Ordem de serviço ${this.Servico.id}`,
                url: window.location.href,
            };
            navigator.share(shareData);
            this.sheet = false;
        },

        ConcludeServico() {
            this.Servico.status = 'CC',
                this.SaveServico(this.Servico)
        },

        AdicNota() {
            document.getElementById("texto").focus();
        },
    },
};
</script>
<style scoped>
.tabela-preco {
    min-width: 110px !important;
    max-width: 110px !important;
}

.tabela-quant {
    min-width: 110px !important;
    max-width: 110px !important;
}
</style>
