<template>
  <v-expansion-panels accordion>
    <v-expansion-panel v-for="orden in value" :key="orden.id">
      <v-expansion-panel-header>
        <v-row align="center" class="spacer" no-gutters>
          <v-col cols="4" sm="3" md="2">
            <v-chip
            color="primary"
            class="white--text"
            label
            small
                >OS {{ orden.id }}
            </v-chip>
          </v-col>

          <v-col>
            <strong>{{ orden.orden_id == null ? "Principal" : "Estentida" }}</strong>
          </v-col>

          <v-col
          class="text-no-wrap"
          >
          {{ statusRow(orden.status).text }}
          </v-col>

          <v-col
          cols="7"
          class="grey--text text-truncate hidden-sm-and-down"
          >{{ orden.defeito }}
          </v-col>
        </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content>
        <v-divider></v-divider>
        <v-layout wrap>
          <v-flex sm2>
            <v-text-field
             label="Ordem de serviço"
             v-model="orden.id"
             readonly
             append-icon="mdi-eye-outline"
             @click:append="$router.push(`/servicos/${orden.id}`)"
            ></v-text-field>
          </v-flex>
          <v-flex sm4>
             <v-select
               :items="status"
               v-model="orden.status"
               label="Status"
               single-line
               disabled>
              </v-select>
            </v-flex>
            <v-flex sm6>
              <v-text-field
               label="Acessórios"
               v-model="orden.acessorios"
               disabled>
              </v-text-field>
            </v-flex>
              <v-flex sm12>
               <v-text-field
                label="Defeito relatado"
                v-model="orden.defeito"
                disabled>
                </v-text-field>
                </v-flex>

                <v-flex sm12>
                  <ordem-itens v-model="orden.itens" disabled />
                </v-flex>
              </v-layout>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
</template>

<script>
import { mapGetters } from "vuex";
import OrdemItens from "../ordem/OrdemItens.vue";

export default {
  name: "servico-parente",
  props: {
    value: {
      type: Array,
      requered: true,
      default: () => [],
    },
    titulo: {
      type: String,
      default: null,
    },
  },
  components: {
    OrdemItens,
  },
  computed: mapGetters({
    status: "GetOrdemStatus",
    statusRow: "GetOrdemStatusRow"
  }),
};
</script>
