<template>
  <v-card flat>
    <tool-bar titulo="Faturar ordem">
      <v-chip label outlined>
        <v-icon left>mdi-cash</v-icon>
        {{ TotalGeral | currency }}
      </v-chip>
      <v-btn icon @click.native="save">
        <v-icon>mdi-content-save</v-icon>
      </v-btn>
    </tool-bar>

    <v-card-text>
      <v-form>
        <v-container grid-list-md>
          <v-layout wrap>
            <v-flex sm5>
              <v-text-field
                label="Cliente"
                v-model="orden.nome"
                disabled
              ></v-text-field>
            </v-flex>
            <v-flex sm2>
              <v-select
                label="Forma de pagamento"
                v-model="orden.formapg_id"
                :error-messages="errors.formapg_id"
                item-text="descricao"
                item-value="id"
                :items="formapgList"
                required
              ></v-select>
            </v-flex>
            <v-flex sm1>
              <v-select
                label="Nº de parcelas"
                v-model="parcela"
                :error-messages="errors.parcela_id"
                item-text="nparcela"
                item-value="id"
                return-object
                :items="parcelaList"
                required
              >
                <template slot="item" slot-scope="data">
                  <v-list-item-content>
                    <v-list-item-title
                      >{{ data.item.nparcela }} X</v-list-item-title
                    >
                  </v-list-item-content>
                  <v-list-item-action>
                    <v-list-item-action-text
                      >{{ data.item.juros }}%</v-list-item-action-text
                    >
                  </v-list-item-action>
                </template>
              </v-select>
            </v-flex>
            <v-flex sm3>
              <v-text-field
                label="Total"
                v-model="ParcelasComTotal"
                disabled
              ></v-text-field>
            </v-flex>
            <v-flex sm1>
              <v-checkbox label="Pago" v-model="orden.pgstatus"></v-checkbox>
            </v-flex>

            <v-flex sm2>
              <input-calendario
                v-model="orden.vencimento"
                label="Vencimento"
              ></input-calendario>
            </v-flex>
            <v-flex sm2>
              <v-currency-field
                label="Acréscimo"
                v-model="orden.acrescimo"
              ></v-currency-field>
            </v-flex>
            <v-flex sm2>
              <v-currency-field
                label="Desconto"
                v-model="orden.desconto"
              ></v-currency-field>
            </v-flex>
            <v-flex sm2>
              <v-currency-field
                label="Frente"
                v-model="orden.frete"
              ></v-currency-field>
            </v-flex>
            <v-flex sm2>
              <v-currency-field
                label="Valor pago"
                v-model="orden.valorpg"
              ></v-currency-field>
            </v-flex>
            <v-flex sm2>
              <v-text-field
                label="Documento"
                v-model="orden.documento"
              ></v-text-field>
            </v-flex>
          </v-layout>
          <ordem-anotacao v-model="orden.anotacoes"></ordem-anotacao>
        </v-container>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../shared/ToolBar";
import InputCalendario from "../shared/InputCalendario";
import OrdemAnotacao from "../ordem/OrdemAnotacao";

export default {
  data() {
    return {
      id: this.$route.params.id,
      parcela: {},
      pessoaSearch: "",
      errors: [],
    };
  },
  watch: {
    parcela(parcela) {
      this.orden.parcela_id = parcela.id;
    },
    orden: {
      handler: function (val) {
        if (val.pgstatus) {
          this.orden.valorpg = this.TotalGeral;
        } else {
          this.orden.valorpg = 0;
        }
      },
      deep: true,
    },
    "orden.formapg_id": "listParcela",
  },
  components: {
    ToolBar,
    InputCalendario,
    OrdemAnotacao,
  },
  async created() {
    if (this.id) {
      await this.GetOrdem(this.id);
      await this.searchPessoa(this.orden.nome);

      await this.listParcela(this.orden.parcela_id);
      this.parcela = {
        id: this.orden.parcela_id,
        juros: this.orden.juros,
        nparcela: this.orden.nparcela,
      };
    }

    this.listFormapg();
  },
  computed: {
    ...mapGetters({
      orden: "GetOrdem",
      formapgList: "ListFormapg",
      parcelaList: "ListParcela",
      ordem: "GetOrdem",
      TotalItens: "GetOrdemTotal",
    }),
    ParcelasComTotal() {
      let ValorPorParcela = (
        this.TotalGeral / this.parcela.nparcela
      ).toLocaleString("pt-BR", {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2,
      });
      let totalMascara = this.TotalGeral.toLocaleString("pt-BR", {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2,
      });
      return `R$ ${ValorPorParcela} (R$ ${totalMascara})`;
    },
    TotalGeral() {
      let subtotalJuros =
        (parseFloat(this.parcela.juros) * this.TotalItens) / 100 +
        this.TotalItens;
      if (!isNaN(subtotalJuros)) {
        return (
          subtotalJuros +
          parseFloat(this.orden.acrescimo) +
          parseFloat(this.orden.frete) -
          parseFloat(this.orden.desconto)
        );
      } else {
          return parseFloat(this.TotalItens);
      }
    },
  },
  methods: {
    ...mapActions([
      "searchPessoa",
      "listFormapg",
      "listParcela",
      "GetOrdem",
      "FaturarServico",
    ]),
    async save() {
      await this.FaturarServico(this.orden).then((response) => {
        this.errors = response.body.errors ? response.body.errors : [];
        if (response.body.success) {
          this.$router.push("/servicos");
        }
      });
    },
  },
};
</script>
