<template>
  <v-card
    flat
    v-touch="{
      up: () => {
        fabVisivel = false;
      },
      down: () => {
        fabVisivel = true;
      },
    }"
  >
    <tool-bar titulo="Backups" />
    <v-card flat>
      <v-data-table
        :items="backups"
        :headers="thead"
        disable-sort
        hide-default-footer
        disable-pagination
      >
        <template v-slot:item.acao="{ item }">
          <v-btn icon class="mx-0" @click="download(item)">
            <v-icon color="teal">mdi-cloud-download-outline</v-icon>
          </v-btn>
          <v-btn icon class="mx-0" @click="restaure(item)">
            <v-icon color="orange">mdi-backup-restore</v-icon>
          </v-btn>
          <v-btn icon class="mx-0" @click="deleteItem(item)">
            <v-icon color="pink">mdi-trash-can-outline</v-icon>
          </v-btn>
        </template>
      </v-data-table>
    </v-card>
    <v-dialog v-model="downloadDiag" hide-overlay persistent width="300">
      <v-card flat>
        <v-card-text>
          Fazendo o download, aguarde.
          <v-progress-linear :value="progress" class="mb-0"></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-btn
      text
      block
      :loading="loading"
      v-intersect="infiniteScrolling"
      @click="infiniteScrolling"
      v-if="backups.lastpage > pagination.page"
      >mais</v-btn
    >

    <v-fab-transition>
      <v-btn
        fab
        bottom
        right
        fixed
        dark
        color="primary"
        v-if="fabVisivel"
        @click="criarBackup()"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-fab-transition>

    <confirme-dialog ref="confirm"></confirme-dialog>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../shared/ToolBar";
import ConfirmeDialog from "../shared/ConfirmeDialog";

export default {
  data() {
    return {
      thead: [
        { text: "ID", value: "id" },
        { text: "Criado/modificado", value: "modificacao" },
        { text: "Tamanho", value: "tamanho" },
        { value: "acao" },
      ],
      downloadDiag: false,
      pagination: {},
      fabVisivel: true,
      errors: [],
    };
  },

  created: function () {
    this.filtro(true);
  },

  components: {
    ConfirmeDialog,
    ToolBar,
  },
  computed: mapGetters({
    backups: "GetBackups",
    progress: "GetBackupProgress",
    loading: "GetLoadingStatus",
  }),
  methods: {
    ...mapActions([
      "getBackups",
      "deleteBackup",
      "downloadBackup",
      "makeBackup",
      "restaureBackup",
    ]),

    filtro(limpa) {
      this.pagination.page = limpa ? 1 : (this.pagination.page += 1);
      localStorage[this.$options.name] = JSON.stringify(this.pagination);
      this.getBackups(this.pagination);
    },

    infiniteScrolling(entries) {
      if (entries[0] == undefined || entries[0].isIntersecting) {
        this.filtro(false);
      }
    },

    download(item) {
      this.downloadDiag = true;
      this.downloadBackup(item.id).then((response) => {
        const url = window.URL.createObjectURL(new Blob([response.bodyText]));
        const link = document.createElement("a");
        link.href = url;
        link.setAttribute("download", item.id);
        //document.body.appendChild(link);
        link.click();
        link.remove();
        this.downloadDiag = false;
      });
    },

    restaure(item) {
      let mensagem =
        `Deseja restaurar o ${item.id}?` +
        `o sistema voltara para data ${item.modificacao} ` +
        `Obs.: será feito um ponto de restauração para esse momento. ` +
        `Obs2.: O procedimento pode demorar dependendo to tamanho do banco de dados`;
      this.$refs.confirm
        .open("Restaurar backup", mensagem, { width: 500, dark: true })
        .then((confirm) => {
          if (confirm) {
            this.restaureBackup(item.id).then((response) => {
              this.errors = response.body.errors ? response.body.errors : [];
              if (response.body.success) {
                this.getBackups();
              }
            });
          }
        });
    },

    criarBackup() {
      this.makeBackup().then(() => {
        this.filtro(true);
      });
    },

    deleteItem(item) {
      let mensagem =
        `Deseja deletar ${item.id}? \n` +
        `na data de ${item.modificacao} \n` +
        `não sera possivel recuperar esse arquivo aposta apagado!`;
      this.$refs.confirm
        .open("Deletar backup", mensagem, { width: 500, dark: true })
        .then((confirm) => {
          if (confirm) {
            this.deleteBackup(item.id).then((response) => {
              this.errors = response.body.errors ? response.body.errors : [];
              if (response.body.success) {
                this.filtro(true);
              }
            });
          }
        });
    },
  },
};
</script>
