<template>
  <v-dialog v-model="dialog" persistent max-width="700px">
    <v-card flat>
      <v-app-bar flat>
        <v-toolbar-title>{{ formTitle }}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon @click.native="save">
          <v-icon>mdi-content-save</v-icon>
        </v-btn>

        <v-btn icon @click.native="dialog = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-app-bar>
      <v-card-text>
        <v-container grid-list-md>
          <v-form @keyup.enter.native="save">
            <v-layout wrap>
              <v-flex sm4>
                <v-autocomplete
                  @change="selectEstado"
                  label="Estado"
                  v-model="estado_id"
                  :error-messages="errors.estado_id"
                  item-text="nome"
                  item-value="id"
                  :items="estados"
                  required
                ></v-autocomplete>
              </v-flex>
              <v-flex sm4>
                <v-autocomplete
                  label="Cidade"
                  v-model="bairro.cidade_id"
                  :error-messages="errors.cidade_id"
                  item-text="nome"
                  item-value="id"
                  :items="cidades"
                  required
                ></v-autocomplete>
              </v-flex>
              <v-flex sm4>
                <v-text-field
                  label="Bairro"
                  v-model="bairro.nome"
                  required
                  :error-messages="errors.nome"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-form>
        </v-container>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      estado_id: null,
      dialog: false,
      resolve: null,
      formTitle: null,
      errors: [],
    };
  },

  computed: mapGetters({
    estados: "ListEstado",
    cidades: "ListCidade",
    bairro: "GetBairro",
  }),
  methods: {
    ...mapActions([
      "getBairro",
      "listEstado",
      "listCidade",
      "saveBairro",
      "cleanBairro",
      "listCidade",
    ]),
    async save() {
      await this.saveBairro(this.bairro).then((response) => {
        this.errors = response.body.errors ? response.body.errors : [];
        if (response.body.success) {
          this.resolve(response.body);
          this.dialog = false;
        }
      });
    },

    async open(id, estado_id, cidade_id) {
      // reset os dados do data
      Object.assign(this.$data, this.$options.data.call(this));

      this.dialog = true;
      this.formTitle = "Adicionar bairro";

      this.cleanBairro();

      await this.listEstado();

      if (id) {
        await this.getBairro(id);
        await this.listCidade(this.bairro.estado_id);
        this.estado_id = this.bairro.estado_id;
        this.formTitle = "Editando bairro";
      }

      if (estado_id) {
        this.estado_id = estado_id;
      }

      if (cidade_id) {
        this.bairro.cidade_id = cidade_id;
      }

      return new Promise((resolve, reject) => {
        this.resolve = resolve;
      });
    },

    async selectEstado(id) {
      await this.listCidade(id);
    },
  },
};
</script>
