<template>
  <v-card
    flat
    v-touch="{
      up: () => {
        fabVisivel = false;
      },
      down: () => {
        fabVisivel = true;
      },
    }"
  >
    <tool-bar v-model="pagination.search" busca titulo="Bairros" />
    <v-card flat>
      <v-data-table
        :items="bairros.data"
        :headers="thead"
        disable-sort
        hide-default-footer
        disable-pagination
      >
        <template v-slot:item.acao="{ item }">
          <v-btn icon class="mx-0" @click="BairroForm(item.id)">
            <v-icon>mdi-pencil-outline</v-icon>
          </v-btn>
          <v-btn icon class="mx-0" @click="deleteItem(item)">
            <v-icon color="pink">mdi-delete-outline</v-icon>
          </v-btn>
        </template>
      </v-data-table>
    </v-card>

    <v-btn
      text
      block
      :loading="loading"
      v-intersect="infiniteScrolling"
      @click="infiniteScrolling"
      v-if="bairros.lastpage > pagination.page"
      >mais</v-btn
    >

    <v-fab-transition>
      <v-btn
        fab
        bottom
        right
        fixed
        dark
        color="primary"
        v-if="fabVisivel"
        @click="BairroForm()"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-fab-transition>

    <bairro-form ref="BairroForm" />
    <confirme-dialog ref="confirm"></confirme-dialog>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../shared/ToolBar";
import ConfirmeDialog from "../shared/ConfirmeDialog";
import BairroForm from "../bairro/BairroForm";

export default {
  name: "Bairros",
  data() {
    return {
      thead: [
        { text: "ID", value: "id" },
        { text: "Bairro", value: "nome" },
        { text: "Cidade", value: "cidade" },
        { text: "Estado", value: "estado" },
        { value: "acao" },
      ],
      fabVisivel: true,
      dialog: true,
      pagination: {},
      errors: [],
    };
  },
  components: {
    ToolBar,
    ConfirmeDialog,
    BairroForm,
  },
  watch: {
    "pagination.search"() {
      clearTimeout(this.searchTimeout);
      this.searchTimeout = setTimeout(async () => {
        this.filtro(true);
      }, 500);
    },
  },
  mounted() {
    if (localStorage[this.$options.name]) {
      this.pagination = JSON.parse(localStorage[this.$options.name]);
    } else {
      this.filtro(true);
    }
  },
  computed: mapGetters({
    bairros: "GetBairros",
    loading: "GetLoadingStatus",
  }),
  methods: {
    ...mapActions(["getBairros", "deleteBairro"]),

    filtro(limpa) {
      this.pagination.page = limpa ? 1 : (this.pagination.page += 1);
      localStorage[this.$options.name] = JSON.stringify(this.pagination);
      this.getBairros(this.pagination);
    },

    infiniteScrolling(entries) {
      if (entries[0] == undefined || entries[0].isIntersecting) {
        this.filtro(false);
      }
    },

    BairroForm(id) {
      this.$refs.BairroForm.open(id).then((confirm) => {
        if (confirm) {
          this.filtro(true);
        }
      });
    },

    deleteItem(item) {
      this.$refs.confirm
        .open("Deletar", `Deseja deletar ${item.nome}?`)
        .then((confirm) => {
          if (confirm) {
            this.deleteBairro(item.id).then((response) => {
              this.errors = response.body.errors ? response.body.errors : [];
              if (response.body.success) {
                this.filtro(true);
              }
            });
          }
        });
    },
  },
};
</script>
