<template>
  <v-card
    flat
    height="100%"
    v-touch="{
      up: () => {
        fabVisivel = false;
      },
      down: () => {
        fabVisivel = true;
      },
    }"
  >
    <tool-bar v-model="pagination.search" busca titulo="Prestacões de conta">
      <template v-slot:extension>
        <v-row>
          <v-col>
            <v-select
              :items="usuarios"
              label="Usuário"
              v-model="pagination.usuarioId"
              item-text="nome"
              item-value="id"
              hide-selected
              hide-no-data
              clearable
            ></v-select>
          </v-col>
          <v-col>
            <input-calendario
              v-model="pagination.dataInicial"
              label="Data inicial"
            />
          </v-col>
          <v-col>
            <input-calendario
              v-model="pagination.dataFinal"
              label="Data final"
            />
          </v-col>
        </v-row>
      </template>
    </tool-bar>

    <v-card flat>
      <v-card-text>
        <v-data-table
          :items="prestacoes.data"
          :headers="thead"
          disable-sort
          hide-default-footer
          disable-pagination
        >
          <template v-slot:item.descricao="{ item }">
            <div v-if="item.descricao">
              {{ item.descricao }}
              <b v-if="item.variante">({{ item.variante }})</b>
            </div>
            <div>{{ item.observacao }}</div>
          </template>
          <template v-slot:item.comissao="{ item }">
            {{ item.comissao | currency }}
          </template>
          <template v-slot:item.acao="{ item }">
            <v-btn icon class="mx-0" :to="`/servicos/${item.orden_id}`">
              <v-icon>mdi-information-outline</v-icon>
            </v-btn>
            <v-btn icon class="mx-0" :to="`/financeiros/${item.pagamento_id}`">
              <v-icon color="orange">mdi-archive-arrow-up-outline</v-icon>
            </v-btn>
            <v-btn icon class="mx-0" :to="`/financeiros/${item.financeiro_id}`">
              <v-icon color="teal">mdi-archive-arrow-down-outline</v-icon>
            </v-btn>
            <v-btn icon class="mx-0" @click="deleteItem(item)">
              <v-icon color="pink">mdi-delete-outline</v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>

    <v-btn
      text
      block
      :loading="loading"
      v-intersect="infiniteScrolling"
      @click="infiniteScrolling"
      v-if="prestacoes.lastpage > pagination.page"
      >mais</v-btn
    >

    <v-fab-transition>
      <v-btn
        fab
        bottom
        right
        fixed
        dark
        color="primary"
        v-if="fabVisivel"
        to="/prestacaocontas/create"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-fab-transition>
    <confirme-dialog ref="confirm"></confirme-dialog>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../shared/ToolBar";
import InputCalendario from "../shared/InputCalendario";
import ConfirmeDialog from "../shared/ConfirmeDialog";

export default {
  name: "PrestacaoContas",
  data() {
    return {
      thead: [
        { text: "ID", value: "id", sortable: false },
        { text: "Usuário", value: "usuario" },
        { text: "Cliente", value: "cliente" },
        { text: "Desrição", value: "descricao" },
        { text: "Comissão", value: "comissao" },
        { text: "Criado em", value: "created_at" },
        { value: "acao", sortable: false },
      ],
      fabVisivel: true,
      pagination: {},
      errors: [],
    };
  },

  components: {
    ToolBar,
    InputCalendario,
    ConfirmeDialog,
  },
  created() {
    this.listUsuario();
  },
  watch: {
    "pagination.search"() {
      clearTimeout(this.searchTimeout);
      this.searchTimeout = setTimeout(async () => {
        this.filtro(true);
      }, 500);
    },
    "pagination.usuarioId"() {
      this.filtro(true);
    },
    "pagination.dataInicial"() {
      this.filtro(true);
    },
    "pagination.dataFinal"() {
      this.filtro(true);
    },
  },
  mounted() {
    if (localStorage[this.$options.name]) {
      this.pagination = JSON.parse(localStorage[this.$options.name]);
    } else {
      this.filtro(true);
    }
  },
  computed: mapGetters({
    usuarios: "ListUsuario",
    prestacoes: "GetPrestacoes",
    loading: "GetLoadingStatus",
  }),
  methods: {
    ...mapActions(["listUsuario", "deletePrestacaoConta", "getPrestacoes"]),

    filtro(limpa) {
      this.pagination.page = limpa ? 1 : (this.pagination.page += 1);
      localStorage[this.$options.name] = JSON.stringify(this.pagination);
      this.getPrestacoes(this.pagination);
    },

    infiniteScrolling(entries) {
      if (entries[0] == undefined || entries[0].isIntersecting) {
        this.filtro(false);
      }
    },

    deleteItem(item) {
      this.$refs.confirm
        .open(
          "Apagar",
          `Deseja apagar a prestação de contas de número ${item.id}? Obs.:
          Esse item será reaberto para pagamento e o financeiro
          de pagamento será apagado, além de toda a prestação de conta com todos os itens.`
        )
        .then((confirm) => {
          if (confirm) {
            this.deletePrestacaoConta(item.id).then((response) => {
              this.errors = response.body.errors ? response.body.errors : [];
              if (response.body.success) {
                this.filtro(true);
              }
            });
          }
        });
    },
  },
};
</script>
