<template>
  <v-card flat>
    <tool-bar titulo="Prestação de contas">
      <v-btn icon @click.native="save">
        <v-icon>mdi-content-save</v-icon>
      </v-btn>
    </tool-bar>
      <v-container grid-list-md>
        <v-row>
          <v-col class="d-flex align-self-center" cols="12" md="4">
            <v-select :items="usuarios" label="Usuário" v-model="usuarioId" :error-messages="errors.usuarioId"
            item-text="nome" item-value="id" hide-selected hide-no-data clearable prepend-icon="mdi-account"
            @change="getComicoes" />
            <v-checkbox class="ml-4" label="Pago" v-model="pgstatus"></v-checkbox>
          </v-col>
          <v-col cols="12" md="8">
            <v-card flat outlined class="mb-4">
              <v-layout wrap class="ma-2">
                <v-flex class="widget-totais">
                  <v-input dense messages="Total" prepend-icon="mdi-currency-brl">
                    {{ comissoes.total | currency }}
                  </v-input>
                </v-flex>
                <v-flex class="widget-totais">
                  <v-input dense messages="Custo" prepend-icon="mdi-currency-usd-off">
                    {{ (comissoes.custo + comissoes.ValorComissaoPago) | currency }}
                  </v-input>
                </v-flex>
                <v-flex class="widget-totais">
                  <v-input dense messages="Restante" prepend-icon="mdi-margin">
                    {{ (comissoes.total - comissoes.custo - comissoes.ValorComissaoPago) | currency }}
                  </v-input>
                </v-flex>
                <v-flex class="widget-totais">
                  <v-input dense messages="Comissão pendente" prepend-icon="mdi-cash-clock">
                    {{ comissoes.ValorComissaoAberto | currency }}
                  </v-input>
                </v-flex>
                <v-flex class="widget-totais">
                  <v-input dense messages="Comissão disponível" prepend-icon="mdi-cash-check">
                    {{ comissoes.ValorComissaoPago | currency }}
                  </v-input>
                </v-flex>
              </v-layout>
              </v-card>
          </v-col>
        </v-row>

        <v-card flat outlined class="overflow-hidden">
          <v-app-bar flat scroll-target="#scrolling-techniques-4">
            <v-tabs v-model="tab" grow>
              <v-tab key="1">
                Pago
              </v-tab>
              <v-tab key="2">
                Pendente
              </v-tab>
            </v-tabs>
          </v-app-bar>
            <v-sheet id="scrolling-techniques-4" class="overflow-y-auto" max-height="500">
              <v-tabs-items v-model="tab">
                <v-tab-item key="1">
                  <v-data-table :items="comissoes.ItensComissaoPago" :headers="thead" @click:row="VerOrdem" disable-sort
                    hide-default-footer disable-pagination>
                    <template v-slot:item.descricao="{ item }">
                      <b>{{ item.descricao }} {{ item.marca }}</b>
                      <span v-if="item.variante"> ({{ item.variante }})</span>
                      <span v-if="!item.descricao">{{ item.observacao }}</span>
                    </template>
                    <template v-slot:item.quant="{ item }">
                      {{ item.quant }} {{ item.medida }}
                    </template>
                    <template v-slot:item.valor="{ item }">
                      {{ item.valor | currency }}
                    </template>
                    
                    <template v-slot:item.comissao="{ item }">
                      {{ item.comissao }}%
                    </template>
                  </v-data-table>
                </v-tab-item>
              
                <v-tab-item key="2">
                  <v-data-table :items="comissoes.ItensComissaoAberto" :headers="thead" @click:row="VerOrdem"
                    disable-sort hide-default-footer disable-pagination>
                    <template v-slot:item.descricao="{ item }">
                      <b>{{ item.descricao }} {{ item.marca }}</b>
                      <span v-if="item.variante"> ({{ item.variante }})</span>
                      <span v-if="!item.descricao">{{ item.observacao }}</span>
                    </template>
                    <template v-slot:item.quant="{ item }">
                      {{ item.quant }} {{ item.medida }}
                    </template>
                    <template v-slot:item.valor="{ item }">
                      {{ item.valor | currency }}
                    </template>
                    
                    <template v-slot:item.comissao="{ item }">
                      {{ item.comissao }}%
                    </template>
                  </v-data-table>
                </v-tab-item>
              </v-tabs-items>
            </v-sheet>
        </v-card>
      </v-container>
  <ordem-info-model ref="OrdemInfoModel" />
</v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../shared/ToolBar";
import InputCalendario from "../shared/InputCalendario";
import OrdemInfoModel from "../ordem/OrdemInfoModel";

export default {
  name: "PrestacaoContasForm",
  data() {
    return {
      thead: [
      { text: "OS", value: "orden_id", sortable: false },
      { text: "Descrição", value: "descricao", sortable: false },
      { text: "Cliente", value: "cliente", sortable: false },
      { text: "Quantidade", value: "quant", sortable: false },
      { text: "Valor", value: "valor", sortable: false },
      { text: "Comissão", value: "comissao", sortable: false },
      ],
      tab: null,
      pestacao: {},
      usuarioId: null,
      pgstatus: null,
      errors: [],
    };
  },
  components: {
    InputCalendario,
    OrdemInfoModel,
    ToolBar,
  },
  computed: mapGetters({
    comissoes: "GetComicoes",
    usuarios: "ListUsuario",
  }),
  watch: {
    'usuarioId': function (val) {
      val == null ? this.CleanPrestacaoConta() : null;
      localStorage[this.$options.name] = JSON.stringify(val);
    }
  },
  mounted() {
    if (localStorage[this.$options.name]) {
      this.usuarioId = JSON.parse(localStorage[this.$options.name]);
    }
  },
  async created() {
    await this.listUsuario();
  },
  methods: {
    ...mapActions([
    "listUsuario",
    "getComicoes",
    "savePrestacaoConta",
    "CleanPrestacaoConta",
    ]),
    
    async save() {
      await this.savePrestacaoConta({ usuarioId: this.usuarioId, pgstatus: this.pgstatus }).then((response) => {
        this.errors = response.body.errors ? response.body.errors : [];
        if (response.body.success) {
          this.$router.push("/prestacaocontas");
          this.CleanPrestacaoConta()
          this.dialog = false;
        }
      });
    },

    VerOrdem(ordem) {
      this.$refs.OrdemInfoModel.open(ordem.orden_id);
    },
  },
};
</script>
