<template>
  <v-app>
    <v-main v-if="isAuth">
      <v-container fluid>
        <v-expand-transition>
          <!-- O $route.fullPath é para quando mudar paramentro o router vê -->
          <router-view :key="$route.fullPath"></router-view>
        </v-expand-transition>
      </v-container>
    </v-main>
    <!-- login -->
    <v-img v-else :src="imgbackground">
      <login-form />
    </v-img>
    <!-- snackbar geral -->
    <snackbar-sgc />
  </v-app>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import LoginForm from "./components/authentication/Login";
import SnackbarSgc from "./components/shared/SnackbarSgc";

export default {
  components: {
    LoginForm,
    SnackbarSgc,
  },

  mounted() {
    this.aplicaTema();
  },

  computed: {
    ...mapGetters({
      isAuth: "GetToken",
      imgbackground: "GetConfigImageBackgroud",
    }),
  },

  methods: {
    ...mapActions(["AddSnackbar", "aplicaTema"]),
  },
};
</script>
