<template>
  <v-card flat>
    <tool-bar titulo="" />
    <v-card class="mx-auto" max-width="400">
      <v-img class="align-end" src="/icons/android-chrome-512x512.png">
        <v-card-title>Masternet Informatica</v-card-title>
      </v-img>

      <v-card-subtitle class="pb-0"
        >Oi tudo bem? Seja bem vindos</v-card-subtitle
      >

      <v-card-text class="text--primary">
        Trabalhamos com manutenção de computadores, notebooks e periféricos.
        Qualquer duvida, entre em contato com os link baixo:<br />
      </v-card-text>

      <v-card-actions class="white justify-center">
        <v-btn fab icon href="https://wa.me/5588992214180">
          <v-icon>mdi-whatsapp</v-icon>
        </v-btn>

        <v-btn fab icon href="tel:88992214180">
          <v-icon>mdi-cellphone</v-icon>
        </v-btn>

        <v-btn fab icon href="https://instagram.com/masternetinfor">
          <v-icon>mdi-instagram</v-icon>
        </v-btn>

        <v-btn fab icon href="https://g.page/MasternetInfo">
          <v-icon>mdi-map-marker-outline</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-card>
</template>

<script>
import ToolBar from "../components/ToolBar.vue";

export default {
  name: "Home",
  components: {
    ToolBar,
  },
};
</script>
