<template>
  <v-card flat>
    <v-app-bar dense>
      <v-toolbar-title>Relatório financeiro</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-app-bar>
    <v-container grid-list-md>
      <v-tabs v-model="active" grow>
        <v-tab> Parâmetros </v-tab>

        <v-tab> Relatório </v-tab>

        <v-tab> Total por dia </v-tab>

        <v-tab> Total por status </v-tab>

        <v-tab> Total por usuário </v-tab>

        <v-tab> Total por natureza </v-tab>

        <v-tab-item>
          <v-layout wrap>
            <v-flex sm4>
              <v-select
                v-model="parametros.usuario_id"
                :items="usuarios"
                label="Usuário"
                item-text="nome"
                item-value="id"
                hide-selected
                hide-no-data
                clearable
              ></v-select>
            </v-flex>
            <v-flex sm5>
              <v-autocomplete
                label="Cliente"
                :items="PessoaList"
                clearable
                no-filter
                open-on-clear
                hide-no-data
                hide-selected
                item-text="nome"
                item-value="id"
                :search-input.sync="pessoaSearch"
                v-model="parametros.pessoa_id"
              ></v-autocomplete>
            </v-flex>

            <v-flex sm3>
              <v-select
                :items="Estatus"
                v-model="parametros.pessoa_tipo"
                label="Pessoa tipo"
                single-line
                clearable
              ></v-select>
            </v-flex>

            <v-flex sm2>
              <v-text-field
                label="Valor min."
                v-model="parametros.valor_min"
              ></v-text-field>
            </v-flex>
            <v-flex sm2>
              <v-text-field
                label="Valor max."
                v-model="parametros.valor_max"
              ></v-text-field>
            </v-flex>

            <v-flex sm2>
              <v-currency-field
                label="Pago min."
                v-model="parametros.pago_min"
              ></v-currency-field>
            </v-flex>
            <v-flex sm2>
              <v-currency-field
                label="Pago max."
                v-model="parametros.pago_max"
              ></v-currency-field>
            </v-flex>

            <v-flex sm2>
              <input-calendario
                v-model="parametros.datapg_inicial"
                label="Pago em"
              ></input-calendario>
            </v-flex>
            <v-flex sm2>
              <input-calendario
                v-model="parametros.datapg_final"
                label="Até"
              ></input-calendario>
            </v-flex>

            <v-flex sm2>
              <input-calendario
                v-model="parametros.vencimento_inicial"
                label="Vencimento de"
              />
            </v-flex>
            <v-flex sm2>
              <input-calendario
                v-model="parametros.vencimento_final"
                label="Até"
              ></input-calendario>
            </v-flex>

            <v-flex sm2>
              <v-select
                :items="Natureza"
                v-model="parametros.nature"
                label="Natureza"
                single-line
                clearable
              ></v-select>
            </v-flex>
            <v-flex sm3>
              <v-select
                :items="Estatus"
                v-model="parametros.estatus"
                label="Status"
                single-line
                clearable
              ></v-select>
            </v-flex>
          </v-layout>
          <v-btn @click="getRelatorio()"> Gerar relatório </v-btn>
        </v-tab-item>

        <v-tab-item>
          <v-layout>
            <v-flex sm12>
              <v-data-table :items="relatorio" :headers="thead">
                <template v-slot:body="{ items }">
                  <tbody>
                    <tr v-for="item in items" :key="item.id">
                      <td>{{ item.id }}</td>
                      <td>{{ item.nature | nature }}</td>
                      <td>{{ item.nome }}</td>
                      <td>{{ item.tipo | person }}</td>
                      <td>{{ item.descricao }}</td>
                      <td>{{ item.pago | currency }}</td>
                      <td>{{ item.valor | currency }}</td>
                      <td>{{ item.estatus | statusFinanceiro }}</td>
                    </tr>
                  </tbody>
                </template>
              </v-data-table>
            </v-flex>
          </v-layout>
        </v-tab-item>

        <v-tab-item>
          <line-chart
            :data="receitadespesa"
            prefix="R$"
            decimal=","
            thousands="."
          />
        </v-tab-item>
        <v-tab-item>
          <pie-chart :data="graficoestatos" />
        </v-tab-item>
        <v-tab-item>
          <pie-chart
            :data="pornatureza"
            prefix="R$"
            decimal=","
            thousands="."
          />
        </v-tab-item>
        <v-tab-item>
          <pie-chart :data="porusuario" prefix="R$" decimal="," thousands="." />
        </v-tab-item>
      </v-tabs>
    </v-container>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import InputCalendario from "../shared/InputCalendario";

export default {
  data() {
    return {
      thead: [
        { text: "ID", value: "id" },
        { text: "Natureza", value: "nature" },
        { text: "Nome", value: "nome" },
        { text: "Tipo", value: "tipo" },
        { text: "Descrição", value: "descricao" },
        { text: "Pago", value: "pago" },
        { text: "Valor", value: "valor" },
        { text: "Status", value: "estatus" },
      ],
      pago: 0,
      total: 0,
      active: null,
      tipo: 1,
      pessoaSearch: "",
      parametros: {},
      errors: [],
    };
  },
  components: {
    InputCalendario,
  },
  async created() {
    this.listUsuario();
  },
  watch: {
    pessoaSearch(val) {
      this.searchPessoa(val);
    },
  },
  computed: {
    ...mapGetters({
      Estatus: "GetFinanceiroEstatus",
      Natureza: "GetFinanceiroNature",
      PessoaList: "ListPessoa",
      usuarios: "ListUsuario",
      tipos: "GetOrdemTipos",
      relatorio: "GetFinanceiroRelatorio",
      receitadespesa: "GetFinanceiroGraficoRecDes",
      porusuario: "GetFinanceiroGraficoPorUsuario",
      pornatureza: "GetFinanceiroGraficoPorNatureza",
      resulmo: "GetFinanceiroGraficoResulmo",
      graficoestatos: "GetFinanceiroGraficoEstatus",
    }),
  },
  methods: {
    ...mapActions(["getFinanceiroRelatorio", "listUsuario", "searchPessoa"]),
    async getRelatorio() {
      await this.getFinanceiroRelatorio(this.parametros)
        .then((this.active = 1))
        .catch((response) => {
          this.errors = response.body.errors ? response.body.errors : [];
        });
    },
  },
};
</script>
