<template>
  <v-card flat>
    <tool-bar titulo="Financeiro de pessoa">
      <v-btn icon @click.native="save">
        <v-icon>mdi-content-save</v-icon>
      </v-btn>
    </tool-bar>

    <v-card-text>
      <v-container grid-list-md>
        <v-layout wrap>
          <v-flex sm10>
            <v-text-field
              label="Nome"
              v-model="pessoa.nome"
              readonly
            ></v-text-field>
          </v-flex>
          <v-flex sm12 xs12>
            <pessoa-contato :contatos="pessoa.contatos" :readonly="true" />
          </v-flex>
          <v-flex sm4 class="widget-totais">
            <v-input messages="Total" prepend-icon="mdi-currency-brl">
              {{ financeiros.valorTotal | currency }}
            </v-input>
          </v-flex>
          <v-flex sm4 class="widget-totais">
            <v-input messages="Pago" prepend-icon="mdi-currency-brl">
              {{ financeiros.valorPago | currency }}
            </v-input>
          </v-flex>
          <v-flex sm4 class="widget-totais">
            <v-input messages="Restante" prepend-icon="mdi-currency-brl">
              {{ (financeiros.valorTotal - financeiros.valorPago) | currency }}
            </v-input>
          </v-flex>
        </v-layout>
      </v-container>
      <v-container grid-list-md>
        <v-divider></v-divider>
        <v-card flat>
          <v-card-text>
            <v-layout wrap>
              <v-flex sm4>
                <v-select
                  :items="nature"
                  label="Natureza"
                  v-model="pagination.nature"
                  :error-messages="errors.nature"
                  clearable
                  hide-details
                  single-line
                ></v-select>
              </v-flex>
              <v-flex sm4>
                <v-select
                  :items="estatus"
                  label="Status"
                  v-model="pagination.estatus"
                  :error-messages="errors.nature"
                  clearable
                  hide-details
                  single-line
                ></v-select>
              </v-flex>
              <v-flex sm4>
                <v-currency-field
                  label="Valor pago"
                  v-model="valorpago"
                  :error-messages="errors.valorpago"
                ></v-currency-field>
              </v-flex>
            </v-layout>
            <v-btn block color="primary" outlined @click.native="save"> Baixar </v-btn>
          </v-card-text>
        </v-card>

        <v-data-table
          :options.sync="pagination"
          :items="financeiros.data"
          :server-items-length="financeiros.total"
          :headers="thead"
          :items-per-page="15"
        >
          <template v-slot:item.nature="{ item }">
            {{ item.nature | nature }}
          </template>

          <template v-slot:item.valor="{ item }">
            {{ item.pago | currency }} / {{ item.valor | currency }}
          </template>

          <template v-slot:item.estatus="{ item }">
            {{ item.estatus | statusFinanceiro }}
          </template>

          <template v-slot:item.acao="{ item }">
            <v-btn
              icon
              v-if="item.orden_id"
              @click="$refs.OrdemInfoModel.open(item.orden_id)"
            >
              <v-icon>mdi-information-outline</v-icon>
            </v-btn>
            <v-btn
              icon
              v-if="item.estatus != 'PG'"
              :to="`/financeiros/baixa/${item.id}`"
            >
              <v-icon>mdi-archive-arrow-down-outline</v-icon>
            </v-btn>
            <v-btn icon :to="`/financeiros/${item.id}`">
              <v-icon>mdi-pencil-outline</v-icon>
            </v-btn>
            <v-btn icon @click="deleteItem(item)">
              <v-icon>mdi-delete-outline</v-icon>
            </v-btn>
          </template>
        </v-data-table>
        <confirme-dialog ref="confirm"></confirme-dialog>
        <ordem-info-model ref="OrdemInfoModel" />
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../shared/ToolBar";
import FinaceiroTabela from "./FinanceiroTabela";
import PessoaContato from "../pessoa/PessoaContato";
import ConfirmeDialog from "../shared/ConfirmeDialog";
import OrdemInfoModel from "../ordem/OrdemInfoModel";

export default {
  data() {
    return {
      thead: [
        { text: "Natureza", value: "nature" },
        { text: "Valor", value: "valor", sortable: false },
        { text: "Criado em", value: "created_at" },
        { text: "Pago em", value: "datapg" },
        { text: "Status", value: "estatus" },
        { value: "acao", sortable: false },
      ],
      valorpago: 0,
      id: this.$route.params.id,
      pagination: {},
      errors: [],
    };
  },
  components: {
    ToolBar,
    FinaceiroTabela,
    PessoaContato,
    ConfirmeDialog,
    OrdemInfoModel,
  },
  watch: {
    pagination: {
      handler(val, oldval) {
        this.pagination.pessoaId = this.id;
        this.getFinanceiros(this.pagination);
      },
      deep: true,
    },
  },
  computed: mapGetters({
    pessoa: "GetPessoa",
    financeiros: "GetFinanceiros",
    nature: "GetFinanceiroNature",
    estatus: "GetFinanceiroEstatus",
  }),
  async created() {
    if (this.id) {
      await this.getPessoa(this.id);
    } else {
      this.$router.push("/financeiros");
    }
  },
  methods: {
    ...mapActions(["getPessoa", "getFinanceiros", "BaixaFinanceiroPessoa"]),
    async save() {
      let financeiro = {
        pessoa_id: this.id,
        valorpago: this.valorpago,
        nature: this.pagination.nature,
        estatus: this.pagination.estatus,
      };
      if (this.financeiros.valorTotal - this.financeiros.valorPago > 0) {
        await this.BaixaFinanceiroPessoa(financeiro).then((response) => {
          this.errors = response.body.errors ? response.body.errors : [];
          if (response.body.success) {
            this.refresh();
            this.valorpago = 0;
          }
        });
      } else {
          alert("Não existe Financeiro para da baixa")
      }
    },
    deleteItem(item) {
      let naturesa = item.nature === "D" ? "despesa" : "receita";
      this.$refs.confirm
        .open("Apagar", `Deseja apagar ${naturesa} de número ${item.id}?`)
        .then((confirm) => {
          if (confirm) {
            this.deleteFinanceiro(item.id).then((response) => {
              this.errors = response.body.errors ? response.body.errors : [];
              if (response.body.success) {
                this.getFinanceiros(this.pagination);
              }
            });
          }
        });
    },
    refresh() {
      this.pagination.pessoaId = this.id;
      this.getFinanceiros(this.pagination);
    },
  },
};
</script>
