<template>
  <v-card flat>
    <tool-bar :titulo="formTitle">
      <v-btn icon @click.native="save">
        <v-icon>mdi-content-save</v-icon>
      </v-btn>
    </tool-bar>
    <v-card-text>
      <v-container grid-list-md>
        <v-alert v-if="errors.mensagem" type="warning">{{
          errors.mensagem
        }}</v-alert>
        <v-layout wrap>
          <v-flex sm7>
            <v-autocomplete
              label="Cliente"
              :items="PessoaList"
              clearable
              no-filter
              open-on-clear
              hide-no-data
              hide-selected
              item-text="nome"
              item-value="id"
              :search-input.sync="pessoaSearch"
              v-model="financeiro.pessoa_id"
              :error-messages="errors.pessoa_id"
              :append-outer-icon="financeiro.pessoa_id ? null : 'mdi-plus'"
              @click:append-outer="PessoaForm()"
              required
            ></v-autocomplete>
          </v-flex>
          <v-flex sm2>
            <v-select
              v-model="financeiro.nature"
              :items="nature"
              label="Natureza"
              :error-messages="errors.nature"
            ></v-select>
          </v-flex>
          <v-flex sm3>
            <v-currency-field
              label="Valor"
              v-model="financeiro.valor"
              requered
            ></v-currency-field>
          </v-flex>
          <v-flex sm12>
            <v-text-field
              label="Descrição"
              v-model="financeiro.descricao"
              :error-messages="errors.descricao"
            ></v-text-field>
          </v-flex>
          <v-flex sm3>
            <v-currency-field
              label="Pago"
              v-model="financeiro.pago"
              v-if="financeiro.estatus !== 'pg'"
            ></v-currency-field>
          </v-flex>
          <v-flex sm2>
            <input-calendario
              label="Vencimento"
              v-model="financeiro.vencimento"
              :error-messages="errors.vencimento"
              required
            ></input-calendario>
          </v-flex>
          <v-flex sm3>
            <input-calendario
              label="Data de pagamento"
              v-model="financeiro.datapg"
              :error-messages="errors.datapg"
              v-if="financeiro.datapg"
            ></input-calendario>
          </v-flex>
          <v-flex sm4>
            <v-select
              v-model="financeiro.estatus"
              :items="estatus"
              label="Status"
              :error-messages="errors.estatus"
            ></v-select>
          </v-flex>
          <v-flex sm6>
            <v-text-field
              label="Criado em"
              v-model="financeiro.created_at"
              disabled
            ></v-text-field>
          </v-flex>
          <v-flex sm6>
            <v-text-field
              label="Atualizado em"
              v-model="financeiro.updated_at"
              disabled
            ></v-text-field>
          </v-flex>
        </v-layout>
        <file-manager v-model="financeiro.arquivos" />
        <historico v-model="financeiro.historico" />
      </v-container>
    </v-card-text>
    <pessoa-form ref="PessoaForm" />
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../shared/ToolBar";
import InputCalendario from "../shared/InputCalendario";
import FileManager from "../shared/FileManager";
import Historico from "../shared/Historico";
import PessoaForm from "../pessoa/PessoaForm";

export default {
  data() {
    return {
      pessoaSearch: "",
      thead: [
        { text: "Usuario", sortable: false },
        { text: "Data", sortable: false },
        { text: "Observação", sortable: false },
        { text: "Valor", sortable: false },
      ],
      id: this.$route.params.id,
      formTitle: null,
      errors: [],
    };
  },
  components: {
    ToolBar,
    InputCalendario,
    FileManager,
    Historico,
    PessoaForm,
  },
  watch: {
    pessoaSearch(val) {
      this.searchPessoa(val);
    },
  },
  async created() {
    this.cleanFinanceiro();

    if (this.id) {
      this.formTitle = "Editando financeiro";
      await this.getFinanceiro(this.id);
      await this.searchPessoa(this.financeiro.nome);
    } else {
      this.formTitle = "Novo financeiro";
    }
  },
  computed: mapGetters({
    financeiro: "GetFinanceiro",
    PessoaList: "ListPessoa",

    nature: "GetFinanceiroNature",
    estatus: "GetFinanceiroEstatus",
  }),
  methods: {
    ...mapActions([
      "getFinanceiro",
      "saveFinanceiro",
      "cleanFinanceiro",
      "searchPessoa",
    ]),
    async save() {
      await this.saveFinanceiro(this.financeiro).then((response) => {
        this.errors = response.body.errors ? response.body.errors : [];
        if (response.body.success) {
          this.dialog = false;
          this.$router.push("/financeiros");
        }
      });
    },
    PessoaForm() {
      this.$refs.PessoaForm.open().then((pessoa) => {
        this.searchPessoa(pessoa.nome);
        this.Servico.pessoa_id = pessoa.id;
      });
    },
  },
};
</script>
