<template>
  <v-card
    flat
    v-touch="{
      up: () => {
        fabVisivel = false;
      },
      down: () => {
        fabVisivel = true;
      },
    }"
  >
    <tool-bar v-model="pagination.search" busca titulo="Financeiros">
      <template v-slot:extension>
        <v-row>
          <v-col>
            <v-select
              :items="naturezaList"
              label="Natureza"
              v-model="pagination.nature"
              clearable
              hide-details
              single-line
            ></v-select>
          </v-col>
          <v-col>
            <v-autocomplete
              label="Pessoa"
              :items="PessoaList"
              clearable
              no-filter
              open-on-clear
              hide-no-data
              hide-selected
              hide-details
              item-text="nome"
              item-value="id"
              :search-input.sync="pessoaSearch"
              v-model="pagination.pessoaId"
              required
            ></v-autocomplete>
          </v-col>
          <v-col>
            <v-select
              :items="estatusList"
              label="Status"
              v-model="pagination.estatus"
              clearable
              hide-details
              single-line
            ></v-select>
          </v-col>
        </v-row>
      </template>
    </tool-bar>

    <v-card flat>
      <v-data-table
        :items="financeiros.data"
        :headers="thead"
        disable-sort
        hide-default-footer
        disable-pagination
      >
        <template v-slot:item.nature="{ item }">
          {{ item.nature | nature }}
        </template>

        <template v-slot:item.descricao="{ item }">
          {{ item.nome ? item.nome : item.descricao }}
        </template>
        <template v-slot:item.valor="{ item }">
          {{ item.pago | currency }}/{{ item.valor | currency }}
        </template>
        <template v-slot:item.estatus="{ item }">
          {{ item.estatus | statusFinanceiro }}
        </template>
        <template v-slot:item.acao="{ item }">
          <v-btn
            icon
            v-if="item.orden_id"
            @click="$refs.OrdemInfoModel.open(item.orden_id)"
          >
            <v-icon>mdi-information-outline</v-icon>
          </v-btn>
          <v-btn
            icon
            v-if="item.pessoa_id"
            :to="`financeiros/pessoa/${item.pessoa_id}`"
          >
            <v-icon>mdi-human-edit</v-icon></v-btn
          >
          <v-btn
            icon
            v-if="item.estatus != 'PG'"
            :to="`financeiros/baixa/${item.id}`"
          >
            <v-icon>mdi-archive-arrow-down-outline</v-icon></v-btn
          >
          <v-btn icon @click="editFianceiro(item.id)"
            ><v-icon>mdi-pencil-outline</v-icon></v-btn
          >
          <v-btn icon @click="deleteItem(item)"
            ><v-icon>mdi-delete-outline</v-icon></v-btn
          >
        </template>
      </v-data-table>
    </v-card>

    <v-btn
      text
      block
      :loading="loading"
      v-intersect="infiniteScrolling"
      @click="infiniteScrolling"
      v-if="financeiros.lastpage > pagination.page"
      >mais</v-btn
    >

    <v-fab-transition>
      <v-btn
        fab
        bottom
        right
        fixed
        dark
        color="primary"
        v-if="fabVisivel"
        to="/financeiros/create"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-fab-transition>

    <confirme-dialog ref="confirm"></confirme-dialog>
    <ordem-info-model ref="OrdemInfoModel" />
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../shared/ToolBar";
import ConfirmeDialog from "../shared/ConfirmeDialog";
import OrdemInfoModel from "../ordem/OrdemInfoModel";

export default {
  name: "Financeiros",
  data() {
    return {
      thead: [
        { text: "ID", value: "id" },
        { text: "Natureza", value: "nature" },
        { text: "Pessoa/Descrição", value: "descricao", sortable: false },
        { text: "Valor", value: "valor", sortable: false },
        { text: "Status", value: "estatus" },
        { value: "acao", sortable: false },
      ],
      pessoaSearch: "",
      fabVisivel: true,
      pagination: {},
      errors: [],
    };
  },
  components: {
    ToolBar,
    ConfirmeDialog,
    OrdemInfoModel,
  },
  watch: {
    "pagination.search"() {
      clearTimeout(this.searchTimeout);
      this.searchTimeout = setTimeout(async () => {
        this.filtro(true);
      }, 500);
    },
    "pagination.nature"() {
      this.filtro(true);
    },
    "pagination.pessoaId"() {
      this.filtro(true);
    },
    "pagination.estatus"() {
      this.filtro(true);
    },
    pessoaSearch(val) {
      this.searchPessoa(val);
    },
  },
  mounted() {
    if (localStorage[this.$options.name] && !this.updateLista) {
      this.pagination = JSON.parse(localStorage[this.$options.name]);
    } else {
      this.filtro(true);
    }
  },
  computed: mapGetters({
    financeiros: "GetFinanceiros",
    naturezaList: "GetFinanceiroNature",
    estatusList: "GetFinanceiroEstatus",
    PessoaList: "ListPessoa",
    loading: "GetLoadingStatus",
    updateLista: "GetFinanceirosUpdateLista",
  }),
  methods: {
    ...mapActions([
      "getFinanceiros",
      "getFinanceirosByPessoa",
      "deleteFinanceiro",
      "getFinanceiro",
      "searchPessoa",
      "GetFinanceirosUpdateLista",
    ]),

    editFianceiro(id) {
      this.$router.push(`/financeiros/${id}`);
    },

    filtro(limpa) {
      this.pagination.page = limpa ? 1 : (this.pagination.page += 1);
      localStorage[this.$options.name] = JSON.stringify(this.pagination);
      this.getFinanceiros(this.pagination);
    },

    infiniteScrolling(entries) {
      if (entries[0] == undefined || entries[0].isIntersecting) {
        this.filtro(false);
      }
    },

    deleteItem(item) {
      let naturesa = item.nature === "D" ? "despesa" : "receita";
      this.$refs.confirm
        .open("Apagar", `Deseja apagar ${naturesa} de número ${item.id}?`)
        .then((confirm) => {
          if (confirm) {
            this.deleteFinanceiro(item.id).then((response) => {
              this.errors = response.body.errors ? response.body.errors : [];
              if (response.body.success) {
                this.getFinanceiros(this.pagination);
              }
            });
          }
        });
    },
  },
};
</script>
