<template>
  <v-card flat>
    <tool-bar :titulo="formTitle">
      <v-btn icon @click.native="save">
        <v-icon>mdi-content-save</v-icon>
      </v-btn>
    </tool-bar>

    <v-card-text>
      <v-container grid-list-md>
        <v-layout wrap>
          <v-flex sm5>
            <v-text-field
              label="Nome"
              v-model="financeiro.nome"
              disabled
            ></v-text-field>
          </v-flex>
          <v-flex sm2>
            <v-select
              v-model="financeiro.nature"
              :items="nature"
              label="Natureza"
              disabled
            ></v-select>
          </v-flex>
          <v-flex sm3>
            <v-select
              v-model="financeiro.estatus"
              :items="estatus"
              label="Status"
              disabled
            ></v-select>
          </v-flex>
          <v-flex sm2>
            <v-currency-field
              label="Valor"
              v-model="financeiro.valor"
              disabled
            ></v-currency-field>
          </v-flex>
          <v-flex sm12>
            <v-text-field
              label="Descrição"
              v-if="financeiro.descricao"
              v-model="financeiro.descricao"
              disabled
            ></v-text-field>
          </v-flex>
          <v-flex sm12>
            <v-text-field
              label="Observação"
              v-model="financeiro.observacao"
            ></v-text-field>
          </v-flex>
          <v-flex sm2>
            <v-currency-field
              label="Pago"
              v-model="financeiro.pago"
              disabled
            ></v-currency-field>
          </v-flex>
          <v-flex sm2>
            <v-currency-field
              label="Restante"
              :value="financeiro.valor - financeiro.pago"
              disabled
            ></v-currency-field>
          </v-flex>
          <v-flex sm2>
            <v-text-field
              label="Vencimento"
              v-model="financeiro.vencimento"
              disabled
            ></v-text-field>
          </v-flex>
          <v-flex sm2>
            <v-text-field
              label="Data de pagamento"
              v-model="financeiro.datapg"
              disabled
            ></v-text-field>
          </v-flex>
          <v-flex sm2>
            <v-currency-field
              label="Valor pago"
              v-model="financeiro.valorpago"
              :error-messages="errors.valorpago"
            ></v-currency-field>
          </v-flex>
        </v-layout>
        <file-manager v-model="financeiro.arquivos" />
        <historico v-model="financeiro.historico" />
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../shared/ToolBar";
import Historico from "../shared/Historico";
import FileManager from "../shared/FileManager";

export default {
  data() {
    return {
      pessoaSearch: "",
      thead: [
        { text: "Usuario", sortable: false },
        { text: "Data", sortable: false },
        { text: "Observação", sortable: false },
        { text: "Pago", sortable: false },
      ],
      id: this.$route.params.id,
      formTitle: null,
      errors: [],
    };
  },
  components: {
    ToolBar,
    Historico,
    FileManager
  },
  async created() {
    this.cleanFinanceiro();

    if (this.id) {
      this.formTitle = "Baixando financeiro";
      await this.getFinanceiro(this.id);
    } else {
      this.$router.push("/financeiros");
    }
  },
  computed: mapGetters({
    financeiro: "GetFinanceiro",
    PessoaList: "ListPessoa",

    nature: "GetFinanceiroNature",
    estatus: "GetFinanceiroEstatus",
    historico: "GetFinanceiroHistorico",
  }),
  methods: {
    ...mapActions([
      "getFinanceiro",
      "BaixaFinanceiro",
      "cleanFinanceiro",
      "searchPessoa",
    ]),
    async save() {
      await this.BaixaFinanceiro(this.financeiro).then((response) => {
        this.errors = response.body.errors ? response.body.errors : [];
        if (response.body.success) {
          this.dialog = false;
          this.$router.push("/financeiros");
        }
      });
    },
  },
};
</script>
