<template>
  <v-card flat>
    <tool-bar titulo="Financeiro" />
    <v-card-text>
      <v-container grid-list-md>
        <v-layout wrap>
          <v-flex sm2>
            <v-select
              v-model="financeiro.nature"
              :items="nature"
              label="Natureza"
              disabled
            ></v-select>
          </v-flex>
          <v-flex sm2>
            <v-currency-field
              label="Valor"
              v-model="financeiro.valor"
              disabled
            ></v-currency-field>
          </v-flex>
          <v-flex sm2>
            <v-currency-field
              label="Pago"
              v-model="financeiro.pago"
              v-if="financeiro.estatus !== 'pg'"
              disabled
            ></v-currency-field>
          </v-flex>
          <v-flex sm2>
            <v-text-field
              label="Vencimento"
              v-model="financeiro.vencimento"
              disabled
            ></v-text-field>
          </v-flex>
          <v-flex sm2>
            <v-text-field
              label="Data Pagamento"
              v-model="financeiro.datapg"
              v-if="financeiro.datapg"
              disabled
            ></v-text-field>
          </v-flex>
          <v-flex sm2>
            <v-select
              v-model="financeiro.estatus"
              :items="estatus"
              label="Estatus"
              disabled
            ></v-select>
          </v-flex>
          <v-flex sm12>
            <v-text-field
              label="Descrição"
              v-model="financeiro.descricao"
              disabled
            ></v-text-field>
          </v-flex>
          <v-flex sm6>
            <v-text-field
              label="Criado em"
              v-model="financeiro.created_at"
              disabled
            ></v-text-field>
          </v-flex>
          <v-flex sm6>
            <v-text-field
              label="Atualizado em"
              v-model="financeiro.updated_at"
              disabled
            ></v-text-field>
          </v-flex>
        </v-layout>
        <file-manager v-model="financeiro.arquivos" disabled />
        <historico v-model="financeiro.historico" />
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../../components/ToolBar.vue";
import FileManager from "../../components/FileManager";
import Historico from "../../components/Historico";

export default {
  data() {
    return {
      thead: [
        { text: "Usuario", sortable: false },
        { text: "Data", sortable: false },
        { text: "Observação", sortable: false },
        { text: "Valor", sortable: false },
      ],
      id: this.$route.params.id,
      errors: [],
    };
  },
  components: {
    ToolBar,
    FileManager,
    Historico,
  },
  async created() {
    await this.getFinanceiro(this.id);
  },
  computed: mapGetters({
    financeiro: "GetFinanceiro",
    PessoaList: "ListPessoa",
    nature: "GetFinanceiroNature",
    estatus: "GetFinanceiroEstatus",
  }),
  methods: {
    ...mapActions(["getFinanceiro"]),
  },
};
</script>
