<template>
  <v-card
    flat
    v-touch="{
      up: () => {
        fabVisivel = false;
      },
      down: () => {
        fabVisivel = true;
      },
    }"
  >
    <tool-bar v-model="pagination.search" busca titulo="Financeiros">
      <template v-slot:extension>
        <v-row>
          <v-col>
            <v-select
              :items="naturezaList"
              label="Natureza"
              v-model="pagination.nature"
              clearable
              hide-details
              single-line
            ></v-select>
          </v-col>
          <v-col>
            <v-select
              :items="estatusList"
              label="Estatus"
              v-model="pagination.estatus"
              clearable
              hide-details
              single-line
            ></v-select>
          </v-col>
        </v-row>
      </template>
    </tool-bar>

    <v-card flat>
      <v-data-table
        :items="financeiros.data"
        :headers="thead"
        @click:row="GoFinanceiro"
        disable-sort
        hide-default-footer
        disable-pagination
      >
        <template v-slot:body.append="{ headers }">
          <tr>
            <td :colspan="headers.length - 4"></td>
            <td><b>Total</b></td>
            <td>{{ financeiros.valorPago | currency }}</td>
            <td>{{ financeiros.valorTotal | currency }}</td>
            <td></td>
          </tr>
        </template>

        <template v-slot:item.nature="{ item }">
          {{ item.nature | nature }}
        </template>

        <template v-slot:item.pago="{ item }">
          {{ item.pago | currency }}
        </template>

        <template v-slot:item.valor="{ item }">
          {{ item.pago | currency }}
        </template>

        <template v-slot:item.estatus="{ item }">
          {{ item.estatus | statusFinanceiro }}
        </template>
      </v-data-table>
    </v-card>

    <v-btn
      text
      block
      :loading="loading"
      v-intersect="infiniteScrolling"
      @click="infiniteScrolling"
      v-if="financeiros.lastpage > pagination.page"
      >mais</v-btn
    >

    <v-fab-transition>
      <v-btn
        fab
        bottom
        right
        fixed
        dark
        color="primary"
        v-if="fabVisivel"
        to="/financeiros/create"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-fab-transition>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../../components/ToolBar.vue";

export default {
  name: "Financeiros",
  data() {
    return {
      thead: [
        { text: "ID", value: "id" },
        { text: "Natureza", value: "nature" },
        { text: "Descricao", value: "descricao", sortable: false },
        { text: "Pago", value: "pago", sortable: false },
        { text: "Valor", value: "valor", sortable: false },
        { text: "Estatus", value: "estatus" },
      ],
      pessoaSearch: "",
      fabVisivel: true,
      pagination: {},
      errors: [],
    };
  },
  components: {
    ToolBar,
  },
  watch: {
    "pagination.nature"() {
      this.filtro(true);
    },
    "pagination.estatus"() {
      this.filtro(true);
    },
  },
  mounted() {
    if (localStorage[this.$options.name]) {
      this.pagination = JSON.parse(localStorage[this.$options.name]);
    } else {
      this.filtro(true);
    }
  },
  computed: mapGetters({
    financeiros: "GetFinanceiros",
    naturezaList: "GetFinanceiroNature",
    estatusList: "GetFinanceiroEstatus",
    PessoaList: "ListPessoa",
    loading: "GetLoadingStatus",
  }),
  methods: {
    ...mapActions([
      "getFinanceiros",
      "getFinanceirosByPessoa",
      "deleteFinanceiro",
      "getFinanceiro",
      "searchPessoa",
    ]),

    editFianceiro(id) {
      this.$router.push(`/financeiros/${id}`);
    },

    filtro(limpa) {
      this.pagination.page = limpa ? 1 : (this.pagination.page += 1);
      localStorage[this.$options.name] = JSON.stringify(this.pagination);
      this.getFinanceiros(this.pagination);
    },

    infiniteScrolling(entries) {
      if (entries[0] == undefined || entries[0].isIntersecting) {
        this.filtro(false);
      }
    },

    GoFinanceiro(item) {
      this.$router.push(`/financeiros/${item.id}`);
    },
  },
};
</script>
