<template>
  <v-card flat>
    <tool-bar titulo="Financeiro de pessoa">
      <v-btn icon @click.native="save">
        <v-icon>mdi-content-save</v-icon>
      </v-btn>
    </tool-bar>

    <v-card-text>
      <v-container grid-list-md>
        <v-layout wrap>
          <v-flex sm10>
            <v-text-field
              label="Nome"
              v-model="pessoa.nome"
              readonly
            ></v-text-field>
          </v-flex>
          <v-flex sm12 xs12>
            <pessoa-contato :contatos="pessoa.contatos" :readonly="true" />
          </v-flex>
          <v-flex sm4 class="widget-totais">
            <v-input messages="Total" prepend-icon="mdi-currency-brl">
              {{ financeiros.valorTotal | currency }}
            </v-input>
          </v-flex>
          <v-flex sm4 class="widget-totais">
            <v-input messages="Pago" prepend-icon="mdi-currency-brl">
              {{ financeiros.valorPago | currency }}
            </v-input>
          </v-flex>
          <v-flex sm4 class="widget-totais">
            <v-input messages="Restante" prepend-icon="mdi-currency-brl">
              {{ (financeiros.valorTotal - financeiros.valorPago) | currency }}
            </v-input>
          </v-flex>
          <v-flex sm2>
            <v-currency-field
              label="Valor pago"
              v-model="valorpago"
              :error-messages="errors.valorpago"
            ></v-currency-field>
          </v-flex>
        </v-layout>
        <v-alert icon="mdi-exclamation-thick" outlined>
          Obs.: Caso seja feito a baixa por aqui somente receitas serão
          baixadas, as despesas não sera alteradas.
        </v-alert>
        <finaceiro-tabela v-model="id" :refresh="refreshTable" />
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../shared/ToolBar";
import FinaceiroTabela from "./FinanceiroTabela";
import PessoaContato from "../pessoa/PessoaContato";

export default {
  data() {
    return {
      valorpago: 0,
      id: this.$route.params.id,
      refreshTable: 0,
      errors: [],
    };
  },
  components: {
    ToolBar,
    FinaceiroTabela,
    PessoaContato
  },
  async created() {
    if (this.id) {
      await this.getPessoa(this.id);
    } else {
      this.$router.push("/financeiros");
    }
  },
  computed: mapGetters({
    pessoa: "GetPessoa",
    financeiros: "GetFinanceiros",

    nature: "GetFinanceiroNature",
    estatus: "GetFinanceiroEstatus",
  }),
  methods: {
    ...mapActions(["getPessoa", "BaixaFinanceiroPessoa"]),
    async save() {
      let financeiro = {
        pessoa_id: this.id,
        valorpago: this.valorpago,
      };
      await this.BaixaFinanceiroPessoa(financeiro).then((response) => {
        this.errors = response.body.errors ? response.body.errors : [];
        if (response.body.success) {
          this.refreshTable++;
          this.valorpago = 0;
        }
      });
    },
  },
};
</script>
