<template>
  <div>
    <v-data-table
      :options.sync="pagination"
      :items="financeiros.data"
      :server-items-length="financeiros.total"
      :headers="thead"
      :items-per-page="15"
    >
      <template v-slot:item.nature="{ item }">
        {{ item.nature | nature }}
      </template>

      <template v-slot:item.pago="{ item }">
        {{ item.pago | currency }} / {{ item.valor | currency }}
      </template>

      <template v-slot:item.estatus="{ item }">
        {{ item.estatus | statusFinanceiro }}
      </template>

      <template v-slot:item.acao="{ item }">

        <v-btn icon v-if="item.orden_id" @click="$refs.OrdemInfoModel.open(item.orden_id)">
            <v-icon>mdi-information-outline</v-icon>
        </v-btn>
        <v-btn icon v-if="item.estatus != 'PG'"
              :to="`/financeiros/baixa/${item.id}`">
            <v-icon>mdi-archive-arrow-down-outline</v-icon>
        </v-btn>
        <v-btn icon :to="`/financeiros/${item.id}`">
            <v-icon>mdi-pencil-outline</v-icon>
        </v-btn>
        <v-btn icon @click="deleteItem(item)">
            <v-icon>mdi-delete-outline</v-icon>
        </v-btn>
          </v-list>
        </v-menu>
      </template>
    </v-data-table>
    <confirme-dialog ref="confirm"></confirme-dialog>
    <ordem-info-model ref="OrdemInfoModel" />
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ConfirmeDialog from "../shared/ConfirmeDialog";
import OrdemInfoModel from "../ordem/OrdemInfoModel";

export default {
  name: "tebela-financeiro-pessoa",
  props: {
    // ID da pessoa
    value: {
      required: true,
      default: 0,
    },
    refresh: {
      default: 0,
    },
    errorMessages: {
      default: null,
    },
  },
  data() {
    return {
      thead: [
        { text: "Natureza", value: "nature" },
        { text: "Valor", value: "valor", sortable: false },
        { text: "Data", value: "created_at" },
        { text: "Pago em", value: "datapg" },
        { text: "Estatus", value: "estatus" },
        { value: "acao", sortable: false },
      ],
      pagination: {},
      errors: [],
    };
  },
  components: {
    ConfirmeDialog,
    OrdemInfoModel,
  },
  watch: {
    pagination: {
      handler() {
        this.pagination.pessoaId = this.value;
        this.getFinanceiros(this.pagination);
      },
      deep: true,
    },
    value(id) {
      this.pagination.pessoaId = id;
      this.getFinanceiros(this.pagination);
    },
    refresh() {
      this.pagination.pessoaId = this.value;
      this.getFinanceiros(this.pagination);
    },
  },
  computed: mapGetters({
    financeiros: "GetFinanceiros",

    nature: "GetFinanceiroNature",
    estatus: "GetFinanceiroEstatus",
  }),
  methods: {
    ...mapActions(["getFinanceiros"]),
    deleteItem(item) {
      let naturesa = item.nature === "D" ? "despesa" : "receita";
      this.$refs.confirm
        .open("Deletar", `Deseja deletar ${naturesa}, id ${item.id}?`)
        .then((confirm) => {
          if (confirm) {
            this.deleteFinanceiro(item.id).then((response) => {
              this.errors = response.body.errors ? response.body.errors : [];
              if (response.body.success) {
                this.getFinanceiros(this.pagination);
              }
            });
          }
        });
    },
  },
};
</script>
