<template>
  <v-card
    flat
    v-touch="{
      up: () => {
        fabVisivel = false;
      },
      down: () => {
        fabVisivel = true;
      },
    }"
  >
    <tool-bar v-model="pagination.search" busca titulo="Estoque" />
    <v-alert v-if="errors.length !== 0" dismissible type="success">{{
      errors
    }}</v-alert>
    <v-data-table
      :items="estoques.data"
      :headers="theadProdutos"
      disable-sort
      hide-default-footer
      disable-pagination
    >
      <template v-slot:item.quant="{ item }">
        <v-edit-dialog
          :return-value.sync="item.quant"
          @save="save(item)"
          @cancel="cancel"
        >
          {{ item.quant | float }}
          <v-text-field
            slot="input"
            v-model="item.quant"
            label="Estoque"
            single-line
          ></v-text-field>
        </v-edit-dialog>
      </template>
      <template v-slot:item.custo="{ item }">
        <v-edit-dialog
          :return-value.sync="item.custo"
          @save="save(item)"
          @cancel="cancel"
        >
          {{ item.custo | currency }}
          <v-currency-field
            slot="input"
            v-model="item.custo"
            label="Custo"
            single-line
          ></v-currency-field>
        </v-edit-dialog>
      </template>
      <template v-slot:item.valor="{ item }">
        <v-edit-dialog
          :return-value.sync="item.valor"
          @save="save(item)"
          @cancel="cancel"
        >
          {{ item.valor | currency }}
          <v-currency-field
            slot="input"
            v-model="item.valor"
            label="Custo"
            single-line
          ></v-currency-field>
        </v-edit-dialog>
      </template>

      <template v-slot:item.descricao="{ item }">
        {{ item.descricao }}
        <b v-if="item.variante !== null"> ( {{ item.variante }} ) </b>
      </template>

      <template v-slot:item.ativo="{ item }">
        {{ item.ativo | ativo }}
      </template>
      <template v-slot:item.acao="{ item }">
        <v-btn icon class="mx-0" @click="ProdutoForm(item.produto_id)">
          <v-icon>mdi-pencil-outline</v-icon>
        </v-btn>
      </template>
    </v-data-table>

    <v-btn
      text
      block
      :loading="loading"
      v-intersect="infiniteScrolling"
      @click="infiniteScrolling"
      v-if="estoques.lastpage > pagination.page"
      >mais</v-btn
    >

    <v-fab-transition>
      <v-btn
        fab
        bottom
        right
        fixed
        dark
        color="primary"
        v-if="fabVisivel"
        @click="ProdutoForm()"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-fab-transition>

    <produto-form ref="ProdutoForm" />
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../shared/ToolBar";
import ConfirmeDialog from "../shared/ConfirmeDialog";
import ProdutoForm from "../produto/ProdutoForm";

export default {
  name: "Estoques",
  data() {
    return {
      theadProdutos: [
        { text: "ID", value: "id" },
        { text: "Descrição", value: "descricao" },
        { text: "Marca", value: "marca" },
        { text: "Quantidade", value: "quant" },
        { text: "Custo", value: "custo" },
        { text: "Valor", value: "valor" },
        { text: "Status", value: "ativo" },
        { value: "acao", sortable: false },
      ],
      fabVisivel: true,
      pagination: {},
      errors: [],
    };
  },
  components: {
    ToolBar,
    ConfirmeDialog,
    ProdutoForm,
  },
  watch: {
    "pagination.search"() {
      clearTimeout(this.searchTimeout);
      this.searchTimeout = setTimeout(async () => {
        this.filtro(true);
      }, 500);
    },
  },
  mounted() {
    if (localStorage[this.$options.name]) {
      this.pagination = JSON.parse(localStorage[this.$options.name]);
    } else {
      this.filtro(true);
    }
  },
  computed: mapGetters({
    estoques: "GetEstoques",
    loading: "GetLoadingStatus",
  }),
  methods: {
    ...mapActions(["getEstoques", "saveEstoque", "AddSnackbar"]),

    filtro(limpa) {
      this.pagination.page = limpa ? 1 : (this.pagination.page += 1);
      localStorage[this.$options.name] = JSON.stringify(this.pagination);
      this.getEstoques(this.pagination);
    },

    infiniteScrolling(entries) {
      if (entries[0] == undefined || entries[0].isIntersecting) {
        this.filtro(false);
      }
    },

    async save(dados) {
      await this.saveEstoque(dados).then((response) => {
        this.errors = response.body.errors ? response.body.errors : [];
      });
    },

    cancel() {
      this.AddSnackbar({ message: "Edição cancelada", type: "info" });
    },

    ProdutoForm(id) {
      this.$refs.ProdutoForm.open(id).then(() => {
        this.filtro(true);
      });
    },
  },
};
</script>
