<template>
  <v-card flat>
    <v-app-bar dense>
      <v-toolbar-title>Relatório Ordens</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-app-bar>
    <v-container grid-list-md>
      <v-tabs v-model="active" grow>
        <v-tab>Parâmetros</v-tab>

        <v-tab>Relatório</v-tab>

        <v-tab>Total por dia</v-tab>

        <v-tab>Total por usuário</v-tab>

        <v-tab>Total por tipo</v-tab>

        <v-tab-item>
          <v-layout wrap>
            <v-flex sm4>
              <v-select
                v-model="parametros.usuario_id"
                :items="usuarios"
                label="Usuário"
                item-text="nome"
                item-value="id"
                hide-selected
                hide-no-data
                clearable
              ></v-select>
            </v-flex>
            <v-flex sm5>
              <v-autocomplete
                label="Cliente"
                :items="PessoaList"
                clearable
                no-filter
                open-on-clear
                hide-no-data
                hide-selected
                item-text="nome"
                item-value="id"
                :search-input.sync="pessoaSearch"
                v-model="parametros.pessoa_id"
              ></v-autocomplete>
            </v-flex>
            <v-flex sm3>
              <v-text-field
                label="Defeito"
                v-model="parametros.defeito"
                hint="Coloque palavra chave"
              ></v-text-field>
            </v-flex>
            <v-flex sm1>
              <v-text-field
                label="Total min."
                v-model="parametros.total_min"
              ></v-text-field>
            </v-flex>
            <v-flex sm1>
              <v-text-field
                label="Total max."
                v-model="parametros.total_max"
              ></v-text-field>
            </v-flex>
            <v-flex sm2>
              <input-calendario
                v-model="parametros.data_inicial"
                label="Data incial"
              ></input-calendario>
            </v-flex>
            <v-flex sm2>
              <input-calendario
                v-model="parametros.data_final"
                label="Data final"
              ></input-calendario>
            </v-flex>
            <v-flex sm3>
              <v-select
                :items="Status"
                v-model="parametros.estatus"
                label="Status"
                single-line
                clearable
              ></v-select>
            </v-flex>
            <v-flex sm3>
              <v-select
                :items="tipos"
                v-model="parametros.tipo"
                label="Tipo"
                single-line
                clearable
              ></v-select>
            </v-flex>
          </v-layout>
          <v-btn @click="getRelatorio()">
            Gerar relatório
          </v-btn>
        </v-tab-item>

        <v-tab-item>
          <v-layout>
            <v-flex sm12>
              <v-data-table :items="relatorio" :headers="thead">
                <template v-slot:body="{ items }">
                  <tbody>
                    <tr v-for="item in items" :key="item.id">
                      <td>{{ item.id }}</td>
                      <td>{{ item.tipo | tipoOrdem }}</td>
                      <td>{{ item.cliente }}</td>
                      <td>{{ item.usuario }}</td>
                      <td>{{ item.total | currency }}</td>
                      <td>{{ item.entregue }}</td>
                      <td>{{ item.created_at }}</td>
                      <td>{{ item.estatus | estatusOrdem }}</td>
                    </tr>
                  </tbody>
                </template>
              </v-data-table>
            </v-flex>
          </v-layout>
        </v-tab-item>

        <v-tab-item>
          <area-chart
            :data="pordia"
            prefix="R$"
            decimal=","
            thousands="."
          ></area-chart>
        </v-tab-item>
        <v-tab-item>
          <column-chart
            :data="porusuario"
            prefix="R$"
            decimal=","
            thousands="."
          ></column-chart>
        </v-tab-item>
        <v-tab-item>
          <column-chart
            :data="portipo"
            prefix="R$"
            decimal=","
            thousands="."
          ></column-chart>
        </v-tab-item>
      </v-tabs>
    </v-container>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import InputCalendario from "../shared/InputCalendario";

export default {
  data() {
    return {
      thead: [
        { text: "ID", value: "id" },
        { text: "Tipo", value: "tipo" },
        { text: "Cliente", value: "nome" },
        { text: "Usuário", value: "usuario" },
        { text: "Total", value: "Total" },
        { text: "Entregue", value: "entregue" },
        { text: "Entrada", value: "created_at" },
        { text: "Status", value: "estatus" },
      ],
      active: null,
      tipo: 1,
      pessoaSearch: "",
      parametros: {},
      errors: [],
    };
  },

  components: {
    "input-calendario": InputCalendario,
  },
  async created() {
    this.listUsuario();
  },
  watch: {
    pessoaSearch(val) {
      this.searchPessoa(val);
    },
  },
  computed: {
    ...mapGetters({
      Status: "GetOrdemStatus",
      PessoaList: "ListPessoa",
      usuarios: "ListUsuario",
      tipos: "GetOrdemTipos",
      relatorio: "GetOrdemRelatorio",
      pordia: "GetOrdemPorDia",
      porusuario: "GetOrdemPorUsuario",
      portipo: "GetOrdemPorTipo",
    }),
  },
  methods: {
    ...mapActions(["getOrdemRelatorio", "listUsuario", "searchPessoa"]),
    async getRelatorio() {
      await this.getOrdemRelatorio(this.parametros)
        .then(() => {
          this.active = 1;
        })
        .catch((response) => {
          this.errors = response.body.errors ? response.body.errors : [];
        });
    },
  },
};
</script>
