<template>
  <div>
    <v-card>
      <v-card-text>
        <v-switch v-model="isDark" label="Tema escuro"></v-switch>
      </v-card-text>
    </v-card>
    <v-card>
      <v-card-text
        v-for="(cores, themesTipe) in VuetifyThemes"
        :key="themesTipe"
      >
        <v-card-title>{{ themesTipe }}</v-card-title>
        <v-layout wrap>
          <v-flex v-for="(cor, chave) in cores" :key="chave">
            <v-menu offset-y>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  v-if="themes[themesTipe][chave] !== undefined"
                  dark
                  :color="themes[themesTipe][chave].hex"
                  v-bind="attrs"
                  v-on="on"
                >
                  {{ chave }}
                </v-btn>
              </template>
              <v-color-picker
                v-model="themes[themesTipe][chave].hex"
                show-swatches
                hide-sliders
                hide-mode-switch
                hide-inputs
                hide-canvas
              ></v-color-picker>
            </v-menu>
          </v-flex>
        </v-layout>
      </v-card-text>
      <v-card-actions>
        <v-btn @click="AplicaTema"> Aplicar o tema </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "UsuarioNotificacoes",
  props: {
    value: {
      required: true,
    },
  },

  computed: {
    isDark: {
      get: function () {
        return this.themes.isDark;
      },
      set: function (newValue) {
        this.themes.isDark = newValue;
      },
    },
    themes: function () {
      return this.value.themes;
    },
    VuetifyThemes: function () {
      return this.$vuetify.theme.themes;
    },
  },

  methods: {
    ...mapActions(["saveUsuarioConfig", "aplicaTema"]),
    AplicaTema() {
      this.aplicaTema(this.value.themes);
    },
  },
};
</script>
