<template>
  <v-card flat>
    <v-card-subtitle>Ajuste quando deseja ser notificado.</v-card-subtitle>
    <v-card-text>
      <v-row>
        <v-col>
          <v-switch
            v-model="value.notificacoes"
            label="Quando seu usuario for logado"
            value="Login"
            multiple
          ></v-switch>
        </v-col>
        <v-col>
          <v-switch
            v-model="value.notificacoes"
            label="Nova ordem de serviço"
            value="NovaOrden"
            multiple
          ></v-switch>
        </v-col>
        <v-col>
          <v-switch
            v-model="value.notificacoes"
            label="Atualização da ordem de serviço"
            value="UpdateOrden"
            multiple
          ></v-switch>
        </v-col>
        <v-col>
          <v-switch
            v-model="value.notificacoes"
            label="Ordens faturadas com sua participação"
            value="FaturadaOrden"
            multiple
          ></v-switch>
        </v-col>
      </v-row>
    </v-card-text>
    <v-divider class="mx-4"></v-divider>

    <v-card-subtitle>De que forma deseja receber notificações.</v-card-subtitle>
    <v-card-text>
      <v-row>
        <v-col>
          <v-switch
            v-model="value.notificacaoVia"
            label="Email"
            value="mail"
            multiple
          ></v-switch>
        </v-col>
        <v-col>
          <v-switch
            v-model="value.notificacaoVia"
            label="App / banco de dados"
            value="database"
            multiple
          ></v-switch>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "ConfigNotificacoes",
  props: {
    value: {
      required: true,
    },
  },
  computed: mapGetters({
    configPessoal: "GetUsuarioConfig",
  }),
};
</script>
