<template>
  <v-card flat>
    <tool-bar titulo="Usuário" no-hide-on-scroll>
      <v-btn icon @click.native="save">
        <v-icon>mdi-content-save</v-icon>
      </v-btn>
      <template v-slot:extension>
        <v-tabs v-model="tab" grow center-active color="white">
          <v-tab>Geral</v-tab>
          <v-tab>Notificações</v-tab>
          <v-tab>Tema</v-tab>
          <v-tab>Tokens</v-tab>
          <v-tab>Histórico</v-tab>
        </v-tabs>
      </template>
    </tool-bar>
    <v-card-text>
      <v-container grid-list-md>
        <v-tabs-items v-model="tab">
          <v-tab-item>
            <v-alert
              v-if="usuario.pessoa_id == null"
              outlined
              type="info"
              dismissible
            >
              Esse usuário não possui cadastro como cliente no sistema.
              É recomendado atrelar um perfil.
            </v-alert>
            <v-layout wrap>
              <v-flex sm1>
                <input-image
                  ref="ImagemInput"
                  style="display: none"
                  :done="(i) => usuario.imagem = i.data"
                />
                <v-avatar
                  size="50"
                  @click="$refs.ImagemInput.arquivo()"
                  color="blue"
                >
                  <img
                    contain
                    v-if="usuario.imagem != null"
                    :src="usuario.imagem"
                  />
                  <v-icon v-else dark size="40">mdi-account-circle-outline</v-icon>
                </v-avatar>
              </v-flex>
              <v-flex sm5 v-if="permisaoPerfil">
                <v-text-field
                  label="Nome"
                  v-model="usuario.nome"
                  :error-messages="errors.nome"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex sm6>
                <v-autocomplete
                  label="Perfil de cliente"
                  no-data-text="Pessoa não encontrado"
                  :items="PessoaList"
                  autofocus
                  clearable
                  no-filter
                  hide-no-data
                  hide-selected
                  auto-select-first
                  item-text="nome"
                  item-value="id"
                  :search-input.sync="pessoaSearch"
                  v-model="usuario.pessoa_id"
                  :error-messages="errors.pessoa_id"
                  append-outer-icon="mdi-plus"
                  @click:append-outer="PessoaForm()"
                ></v-autocomplete>
              </v-flex>
              <v-flex sm6>
                <v-text-field
                  label="Email"
                  v-model="usuario.email"
                  :error-messages="errors.email"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex sm5>
                <v-text-field
                  v-model="usuario.senha"
                  :append-icon="
                    senhaShow ? 'mdi-eye-off-outline' : 'mdi-eye-outline'
                  "
                  :type="senhaShow ? 'text' : 'password'"
                  label="Senha"
                  counter
                  @click:append="senhaShow = !senhaShow"
                  :error-messages="errors.senha"
                ></v-text-field>
              </v-flex>
              <v-flex sm5 v-if="permisaoPerfil">
                <v-select
                  label="Perfil de acesso"
                  v-model="usuario.perfil_id"
                  :error-messages="errors.perfil_id"
                  item-text="descricao"
                  item-value="id"
                  :items="perfis"
                  required
                ></v-select>
              </v-flex>
              <v-flex sm2 v-if="permisaoPerfil">
                <v-checkbox label="Status" v-model="usuario.ativo"></v-checkbox>
              </v-flex>
            </v-layout>
          </v-tab-item>

          <v-tab-item>
            <usuario-notificacoes v-model="usuario.config"/>
          </v-tab-item>

          <v-tab-item>
            <usuario-tema v-model="usuario.config"/>
          </v-tab-item>

          <v-tab-item>
              <table-tokens v-model="usuario.tokens" @delete="deleteToken" />
          </v-tab-item>

          <v-tab-item>
            <historico v-model="usuario.historico" />
          </v-tab-item>
        </v-tabs-items>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ToolBar from "../shared/ToolBar";
import InputImage from "../shared/InputImagem";
import Historico from "../shared/Historico";
import UsuarioNotificacoes from "./UsuarioNotificacao.vue";
import UsuarioTema from "./UsuarioTema.vue";
import TableTokens from "../shared/TableTokens.vue";

export default {
  data() {
    return {
      headers: [
        { text: "Criado em", value: "created_at" },
        { text: "Ultimo uso", value: "last_used_at" },
        { text: "Plataforma", value: "name" },
        { text: "Habilidades", value: "abilities" },
        { text: "Atualizado em", value: "updated_at" },
        { text: "Desconectar", value: "deslogar" },
      ],
      pessoaSearch: "",
      tab: null,
      senhaShow: false,
      id: this.$route.params.id,
      errors: [],
    };
  },
  components: {
    ToolBar,
    InputImage,
    Historico,
    UsuarioNotificacoes,
    UsuarioTema,
    TableTokens,
  },
  watch: {
    async pessoaSearch(val) {
      await this.searchPessoa(val);
    },
  },
  computed: mapGetters({
    usuario: "GetUsuario",
    perfis: "ListPerfil",
    permisaoPerfil: "IsPermissionPerfil",
    PessoaList: "ListPessoa",
  }),
  async created() {
    await this.listPerfil();

    if (this.id) {
      await this.getUsuario(this.id);
      this.pessoaSearch = this.usuario.pessoa;
    } else {
      await this.cleanUsuario();
    }
  },
  methods: {
    ...mapActions([
      "getUsuario",
      "saveUsuario",
      "cleanUsuario",
      "listPerfil",
      "deleteToken",
      "searchPessoa",
    ]),

    async save() {
      await this.saveUsuario(this.usuario).then((response) => {
        this.errors = response.body.errors ? response.body.errors : [];
        if (response.body.success) {
          this.dialog = false;
        }
      });
    },
  },
};
</script>
